alarm.json
[{"id":"9674b62c.7a5f48","type":"tab","label":"Alarm Notification","disabled":false,"info":""},{"id":"faf973f2.34623","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Entry","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":140,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"a7bbc08c.09f6f","type":"comment","z":"9674b62c.7a5f48","name":"Door & Window sensors","info":"","x":120,"y":40,"wires":[]},{"id":"cc582d22.69097","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Living Room","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":80,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"24ebae9e.ec0232","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Pantry","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":200,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"78807f20.ee911","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Kitchen1","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":260,"wires":[["fba20245.53bb3","3ab100e6.48d67"]]},{"id":"cd4a6b22.75def8","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Kitchen2","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":320,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"da4beadf.28fc28","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Bedroom1","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":380,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"a3d15569.fdece8","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Bedroom2","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":440,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"70980612.947278","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Office","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":500,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"81ce10a5.8c86b","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Bathroom","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":560,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"ff580c1c.1d6c3","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Guest Room","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":620,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"c032997d.8942c8","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Tech Room","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":680,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"]]},{"id":"d44fd87b.2c2f28","type":"api-current-state","z":"9674b62c.7a5f48","name":"Trackers","server":"5723580.cc4d6a8","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380,"y":420,"wires":[["34c9d0e9.e0281"],[]]},{"id":"7bcb6009.27ad","type":"switch","z":"9674b62c.7a5f48","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":360,"wires":[["46b76bd3.205184","b1e61d19.822ab","31c1c71.8523738","5d84da34.53d214","2f2900e4.34aaf","ca9b76e.5404788","4cd3697a.609f08","8ba23398.25f92","82f8b74d.675928","8190e5e5.6dd068","f6baf9a1.96d258","87d939e7.aec0e8","c1d36df8.8cd3d","8e89ca9f.a6c748","64fa5624.3e4e38"]]},{"id":"46b76bd3.205184","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1780,"y":300,"wires":[[]]},{"id":"b1e61d19.822ab","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":360,"wires":[["47404f16.358ba"]]},{"id":"7c185117.16a06","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2000,"y":420,"wires":[[]]},{"id":"47404f16.358ba","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1960,"y":360,"wires":[[]]},{"id":"31c1c71.8523738","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":420,"wires":[["7c185117.16a06"]]},{"id":"5d84da34.53d214","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":480,"wires":[[]]},{"id":"2f2900e4.34aaf","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":540,"wires":[["fcac1f2a.6466d"]]},{"id":"46b5a268.e9ce1c","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":600,"wires":[[]]},{"id":"fcac1f2a.6466d","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":540,"wires":[[]]},{"id":"ca9b76e.5404788","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":600,"wires":[["46b5a268.e9ce1c"]]},{"id":"4cd3697a.609f08","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":660,"wires":[[]]},{"id":"8ba23398.25f92","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["a4849b5e.baf2c8"]]},{"id":"8009168f.7056d8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2020,"y":780,"wires":[[]]},{"id":"a4849b5e.baf2c8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":720,"wires":[[]]},{"id":"82f8b74d.675928","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":780,"wires":[["8009168f.7056d8"]]},{"id":"f6baf9a1.96d258","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1790,"y":120,"wires":[[]]},{"id":"87d939e7.aec0e8","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":180,"wires":[["b2340174.a8068"]]},{"id":"8fc021fd.b7f23","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":240,"wires":[[]]},{"id":"b2340174.a8068","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1970,"y":180,"wires":[[]]},{"id":"c1d36df8.8cd3d","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":240,"wires":[["8fc021fd.b7f23"]]},{"id":"8190e5e5.6dd068","type":"api-call-service","z":"9674b62c.7a5f48","name":"Sound Alaram GW1","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":620,"wires":[[]]},{"id":"34c9d0e9.e0281","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":520,"y":420,"wires":[["cda136f2.231178"],[]]},{"id":"cda136f2.231178","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":660,"y":420,"wires":[["4ae44ea4.919fb"],[]]},{"id":"f57afa18.2f4608","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep M","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":520,"y":360,"wires":[["4dd6bf2b.0458c"],[]]},{"id":"48f5879.a482278","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep B","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":520,"y":300,"wires":[["a85f7bb9.38ee18"],[]]},{"id":"70a0bf03.3a2a7","type":"switch","z":"9674b62c.7a5f48","name":"Home M?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":300,"wires":[["e3b4c0b0.3cc1d"],["7bcb6009.27ad"]]},{"id":"a85f7bb9.38ee18","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":660,"y":300,"wires":[["70a0bf03.3a2a7"]]},{"id":"4dd6bf2b.0458c","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":660,"y":360,"wires":[["106081ec.c20ece"]]},{"id":"106081ec.c20ece","type":"switch","z":"9674b62c.7a5f48","name":"Home B?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":360,"wires":[["abc427ed.38abb8"],["7bcb6009.27ad"]]},{"id":"abc427ed.38abb8","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep B","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":940,"y":360,"wires":[["7bcb6009.27ad"],[]]},{"id":"e3b4c0b0.3cc1d","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep M","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":940,"y":300,"wires":[["7bcb6009.27ad"],[]]},{"id":"3ab100e6.48d67","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380,"y":360,"wires":[["f57afa18.2f4608"],[]]},{"id":"fba20245.53bb3","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380,"y":300,"wires":[["48f5879.a482278"],[]]},{"id":"8e89ca9f.a6c748","type":"api-call-service","z":"9674b62c.7a5f48","name":"Sound Alaram GW2","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":680,"wires":[[]]},{"id":"64fa5624.3e4e38","type":"ha-get-entities","z":"9674b62c.7a5f48","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":120,"wires":[["ae7e8888.6c4398"]]},{"id":"ae7e8888.6c4398","type":"template","z":"9674b62c.7a5f48","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1014,"y":120,"wires":[["41a39f17.0ca6"]]},{"id":"41a39f17.0ca6","type":"join","z":"9674b62c.7a5f48","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1184,"y":120,"wires":[["ae0939dd.5e7638","d8fa8142.abf3b"]]},{"id":"df4d8e61.428e7","type":"comment","z":"9674b62c.7a5f48","name":"Action - Notification","info":"","x":830,"y":80,"wires":[]},{"id":"fb8428ca.d969c8","type":"comment","z":"9674b62c.7a5f48","name":"Action - Yeelights","info":"","x":1780,"y":80,"wires":[]},{"id":"973ed568.578448","type":"comment","z":"9674b62c.7a5f48","name":"Action - Sound","info":"","x":820,"y":580,"wires":[]},{"id":"d7b1f376.3ebf5","type":"comment","z":"9674b62c.7a5f48","name":"Home Occupancy Condition","info":"","x":440,"y":260,"wires":[]},{"id":"ae0939dd.5e7638","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}}!\",\"title\":\"ALERT\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":80,"wires":[[]]},{"id":"d8fa8142.abf3b","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_majkeey_op6_2","data":"{\"message\":\"{{payload}}!\",\"title\":\"ALERT\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":140,"wires":[[]]},{"id":"d4652f45.58f3f","type":"comment","z":"9674b62c.7a5f48","name":"Water Leak - Tech Room","info":"","x":130,"y":840,"wires":[]},{"id":"af79c948.1d48a8","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Water Leak","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.water_leak_sensor_techroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":880,"wires":[["d17d7c9e.5619f"]]},{"id":"17706f5.d643991","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":880,"wires":[[]]},{"id":"2e8c2901.d6d736","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":940,"wires":[[]]},{"id":"b0e2d13e.82efa","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_majkeey_op6_2","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":1000,"wires":[[]]},{"id":"d17d7c9e.5619f","type":"switch","z":"9674b62c.7a5f48","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":880,"wires":[["b0e2d13e.82efa","17706f5.d643991","2e8c2901.d6d736"]]},{"id":"4ae44ea4.919fb","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home Guest","server":"5723580.cc4d6a8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":810,"y":420,"wires":[["7bcb6009.27ad"],[]]},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]