Alarm.json
[{"id":"e42f20b0.67a18","type":"tab","label":"Alarm Notification","disabled":false,"info":""},{"id":"91013e70.05754","type":"comment","z":"e42f20b0.67a18","name":"Trigger - Doors / Windows Open","info":"","x":150,"y":40,"wires":[]},{"id":"7c7c32c6.7be0fc","type":"api-current-state","z":"e42f20b0.67a18","name":"Trackers","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.home","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":420,"wires":[["26f726bb.23c8aa"],[]]},{"id":"50e12b7b.e7c1b4","type":"switch","z":"e42f20b0.67a18","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":360,"wires":[["13882c7f.16bf04","71c3c89.e318338","57bb0c29.0c99f4","e6081404.39c548","57abd6a.8e80828","82278ab0.fbd6c8","c3ed0ff1.3a551","cc133f1b.e721d","2a8595e6.6324ea","3ab51121.84f9ae","d40e78db.acf178","d1f3645f.1ff8b8","41675592.b016dc","52cd9af2.160274","6caa0c6.dcd77f4","a43aafd.d17265"]]},{"id":"13882c7f.16bf04","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1780,"y":300,"wires":[[]]},{"id":"71c3c89.e318338","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":360,"wires":[["b3bc8c89.76c43"]]},{"id":"f0358bc9.52ed58","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce008baff3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2000,"y":420,"wires":[[]]},{"id":"b3bc8c89.76c43","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1960,"y":360,"wires":[[]]},{"id":"57bb0c29.0c99f4","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":420,"wires":[["f0358bc9.52ed58"]]},{"id":"e6081404.39c548","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1800,"y":480,"wires":[[]]},{"id":"57abd6a.8e80828","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":540,"wires":[["b9b5b9bf.0d7788"]]},{"id":"63aca102.5947","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc6815ae","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2010,"y":600,"wires":[[]]},{"id":"b9b5b9bf.0d7788","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1980,"y":540,"wires":[[]]},{"id":"82278ab0.fbd6c8","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":600,"wires":[["63aca102.5947"]]},{"id":"c3ed0ff1.3a551","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1800,"y":660,"wires":[[]]},{"id":"cc133f1b.e721d","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["934bce29.0d547"]]},{"id":"4b08e28a.a2a26c","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce00900f3e","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2020,"y":780,"wires":[[]]},{"id":"934bce29.0d547","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1980,"y":720,"wires":[[]]},{"id":"2a8595e6.6324ea","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":780,"wires":[["4b08e28a.a2a26c"]]},{"id":"d40e78db.acf178","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1790,"y":120,"wires":[[]]},{"id":"d1f3645f.1ff8b8","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":180,"wires":[["eb8dc6b0.ed99c8"]]},{"id":"621268d0.7cda98","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc68270d","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2010,"y":240,"wires":[[]]},{"id":"eb8dc6b0.ed99c8","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1970,"y":180,"wires":[[]]},{"id":"41675592.b016dc","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":240,"wires":[["621268d0.7cda98"]]},{"id":"3ab51121.84f9ae","type":"api-call-service","z":"e42f20b0.67a18","name":"Sound Alaram GW1","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":620,"wires":[[]]},{"id":"26f726bb.23c8aa","type":"api-current-state","z":"e42f20b0.67a18","name":"Home M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":420,"wires":[["a050f978.853098"],[]]},{"id":"a050f978.853098","type":"api-current-state","z":"e42f20b0.67a18","name":"Home B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":420,"wires":[["eb2a4777.136568"],[]]},{"id":"e826f2dd.1ab5d","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":360,"wires":[["7b8169d1.3dfac8"],[]]},{"id":"67fff65f.abb3f8","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":300,"wires":[["e479c9e8.604718"],[]]},{"id":"77a457f1.8284a8","type":"switch","z":"e42f20b0.67a18","name":"Home M?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":300,"wires":[["506d7ab3.192414"],["50e12b7b.e7c1b4"]]},{"id":"e479c9e8.604718","type":"api-current-state","z":"e42f20b0.67a18","name":"Home M","server":"38986ee9.3f9642","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":300,"wires":[["77a457f1.8284a8"]]},{"id":"7b8169d1.3dfac8","type":"api-current-state","z":"e42f20b0.67a18","name":"Home B","server":"38986ee9.3f9642","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":360,"wires":[["96b66a13.065528"]]},{"id":"96b66a13.065528","type":"switch","z":"e42f20b0.67a18","name":"Home B?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":360,"wires":[["9fefdce6.11635"],["50e12b7b.e7c1b4"]]},{"id":"9fefdce6.11635","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":360,"wires":[["50e12b7b.e7c1b4"],[]]},{"id":"506d7ab3.192414","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":300,"wires":[["50e12b7b.e7c1b4"],[]]},{"id":"5a6cef2c.81f06","type":"api-current-state","z":"e42f20b0.67a18","name":"Home M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":360,"wires":[["e826f2dd.1ab5d"],[]]},{"id":"701508f4.b91be8","type":"api-current-state","z":"e42f20b0.67a18","name":"Home B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":300,"wires":[["67fff65f.abb3f8"],[]]},{"id":"52cd9af2.160274","type":"api-call-service","z":"e42f20b0.67a18","name":"Sound Alaram GW2","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":680,"wires":[[]]},{"id":"bfa79f3b.3e90e","type":"comment","z":"e42f20b0.67a18","name":"Action - Notification","info":"","x":830,"y":80,"wires":[]},{"id":"ba2460ae.e2039","type":"comment","z":"e42f20b0.67a18","name":"Action - Yeelights","info":"","x":1780,"y":80,"wires":[]},{"id":"c1c6014.331e7","type":"comment","z":"e42f20b0.67a18","name":"Action - Sound","info":"","x":820,"y":580,"wires":[]},{"id":"7c8df195.eec67","type":"comment","z":"e42f20b0.67a18","name":"Condition - Home Occupancy","info":"","x":600,"y":260,"wires":[]},{"id":"1a8d94d5.1dec6b","type":"comment","z":"e42f20b0.67a18","name":"Water Leak - Tech Room","info":"","x":130,"y":960,"wires":[]},{"id":"6affe21a.9468cc","type":"server-state-changed","z":"e42f20b0.67a18","name":"Water Leak","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.water_leak_sensor_techroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":1000,"wires":[["da199a9c.e29bc8"]]},{"id":"40ee0061.f7af1","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification PC","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"BaskaPC\",\"MarianPC\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":1000,"wires":[[]]},{"id":"f45895bc.9e6d18","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"android_mi","entityId":"","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":1060,"wires":[[]]},{"id":"601f1fa9.f381","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":1120,"wires":[[]]},{"id":"da199a9c.e29bc8","type":"switch","z":"e42f20b0.67a18","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1000,"wires":[["601f1fa9.f381","40ee0061.f7af1","f45895bc.9e6d18"]]},{"id":"eb2a4777.136568","type":"api-current-state","z":"e42f20b0.67a18","name":"Home Guest","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":970,"y":420,"wires":[["50e12b7b.e7c1b4"],[]]},{"id":"1905431b.31d61d","type":"trigger-state","z":"e42f20b0.67a18","name":"Bathroom","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":560,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"18904c36.8db994","type":"trigger-state","z":"e42f20b0.67a18","name":"Bedroom1","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":380,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"f957f7f1.8c9828","type":"trigger-state","z":"e42f20b0.67a18","name":"Bedroom2","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":440,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"520cef68.443c","type":"trigger-state","z":"e42f20b0.67a18","name":"Entry","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":140,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"1a1c0763.747889","type":"trigger-state","z":"e42f20b0.67a18","name":"Guestroom","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":620,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"5d21602b.0636e","type":"trigger-state","z":"e42f20b0.67a18","name":"Kitchen2","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":320,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"33f73eea.60fd12","type":"trigger-state","z":"e42f20b0.67a18","name":"Kitchen1","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":260,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"d102b17f.d8af","type":"trigger-state","z":"e42f20b0.67a18","name":"Livingroom","server":"38986ee9.3f9642","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":80,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"f09cbc24.e1e93","type":"trigger-state","z":"e42f20b0.67a18","name":"Office","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":500,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"2e403a20.8e0f26","type":"trigger-state","z":"e42f20b0.67a18","name":"Pantry","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":200,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"a4f01cf4.b4fb3","type":"trigger-state","z":"e42f20b0.67a18","name":"Techroom","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":680,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"6caa0c6.dcd77f4","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_alarm_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":120,"wires":[[]]},{"id":"a43aafd.d17265","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_alarm_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":180,"wires":[[]]},{"id":"6ec576d0.7b0c68","type":"comment","z":"e42f20b0.67a18","name":"False Alarm","info":"","x":90,"y":780,"wires":[]},{"id":"22cab330.f6b2bc","type":"server-state-changed","z":"e42f20b0.67a18","name":"False Alarm","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.false_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":820,"wires":[["b45cdff0.f21b2","30af974d.42b238"],[]]},{"id":"b45cdff0.f21b2","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_falsealarm_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":820,"wires":[[]]},{"id":"30af974d.42b238","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_falsealarm_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":880,"wires":[[]]},{"id":"13145d58.5c1523","type":"server-state-changed","z":"e42f20b0.67a18","name":"Living","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":80,"wires":[["d102b17f.d8af"],[]]},{"id":"9ef2a222.4ab3","type":"server-state-changed","z":"e42f20b0.67a18","name":"Office","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":500,"wires":[["f09cbc24.e1e93"],[]]},{"id":"3a530370.31228c","type":"server-state-changed","z":"e42f20b0.67a18","name":"Entry","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":140,"wires":[["520cef68.443c"],[]]},{"id":"a9fbf5d.71f8d08","type":"server-state-changed","z":"e42f20b0.67a18","name":"Pantry","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":200,"wires":[["2e403a20.8e0f26"],[]]},{"id":"527030c6.26b8f","type":"server-state-changed","z":"e42f20b0.67a18","name":"Kitchen1","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":260,"wires":[["33f73eea.60fd12"],[]]},{"id":"8f9003af.6fb0a","type":"server-state-changed","z":"e42f20b0.67a18","name":"Kitchen2","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":320,"wires":[["5d21602b.0636e"],[]]},{"id":"51a94719.408bf8","type":"server-state-changed","z":"e42f20b0.67a18","name":"Bed1","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":380,"wires":[["18904c36.8db994"],[]]},{"id":"d892d60d.7f6888","type":"server-state-changed","z":"e42f20b0.67a18","name":"Bed2","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":440,"wires":[["f957f7f1.8c9828"],[]]},{"id":"7e1207ee.d59298","type":"server-state-changed","z":"e42f20b0.67a18","name":"Bath","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":560,"wires":[["1905431b.31d61d"],[]]},{"id":"effbc293.06849","type":"server-state-changed","z":"e42f20b0.67a18","name":"Guest","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":620,"wires":[["1a1c0763.747889"],[]]},{"id":"2d9e4b79.c1ef44","type":"server-state-changed","z":"e42f20b0.67a18","name":"Tech","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":680,"wires":[["a4f01cf4.b4fb3"],[]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]