alarm.json
[{"id":"f6450084.91261","type":"tab","label":"Alarm Notification","disabled":false,"info":""},{"id":"902942f9.84c78","type":"server-state-changed","z":"f6450084.91261","name":"Entry","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":140,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"41a98c98.a3b114","type":"comment","z":"f6450084.91261","name":"Door & Window sensors","info":"","x":120,"y":40,"wires":[]},{"id":"701adad.fb14724","type":"server-state-changed","z":"f6450084.91261","name":"Living Room","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":80,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"6f9fca52.fff0a4","type":"server-state-changed","z":"f6450084.91261","name":"Pantry","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":200,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"fb5cc327.89c45","type":"server-state-changed","z":"f6450084.91261","name":"Kitchen1","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":260,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8"]]},{"id":"38c00958.cdd4d6","type":"server-state-changed","z":"f6450084.91261","name":"Kitchen2","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":320,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"a7cdf94.b66b708","type":"server-state-changed","z":"f6450084.91261","name":"Bedroom1","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":380,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"c8918ff4.91ef3","type":"server-state-changed","z":"f6450084.91261","name":"Bedroom2","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":440,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"ef49fc5b.5a50f","type":"server-state-changed","z":"f6450084.91261","name":"Office","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":500,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"4dbaccd5.779e84","type":"server-state-changed","z":"f6450084.91261","name":"Bathroom","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":560,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"dd6ba0ff.54169","type":"server-state-changed","z":"f6450084.91261","name":"Guest Room","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":620,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"f996a0d2.9572a","type":"server-state-changed","z":"f6450084.91261","name":"Tech Room","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":680,"wires":[["c6cd14b0.e06628","8f015be3.0c97e8","6b56589f.eb3f88"]]},{"id":"6b56589f.eb3f88","type":"api-current-state","z":"f6450084.91261","name":"Trackers","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380,"y":420,"wires":[["303f3edb.3754f2"],[]]},{"id":"8925bbb.f968c48","type":"switch","z":"f6450084.91261","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":360,"wires":[["8fc92aa6.0a7318","a138104d.250da","dcd087c0.e4dac8","882121a2.17d51","7b2e4860.445a78","6022389c.10a038","9b5caa5.5528b58","50ce4c73.6246b4","9453387e.f6aca8","aa79431d.3c2c3","cdb9a6a7.b77ab8","380de4c4.969fcc","f7759974.c48e38","f5877d78.a0a67","6c4344be.a6268c"]]},{"id":"8fc92aa6.0a7318","type":"api-call-service","z":"f6450084.91261","name":"Effect On Office","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1780,"y":300,"wires":[[]]},{"id":"a138104d.250da","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":360,"wires":[["843e713b.8c62e"]]},{"id":"b88e3d2d.4592e","type":"api-call-service","z":"f6450084.91261","name":"Turn Off Office","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2000,"y":420,"wires":[[]]},{"id":"843e713b.8c62e","type":"api-call-service","z":"f6450084.91261","name":"Effect Off Office","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1960,"y":360,"wires":[[]]},{"id":"dcd087c0.e4dac8","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":420,"wires":[["b88e3d2d.4592e"]]},{"id":"882121a2.17d51","type":"api-call-service","z":"f6450084.91261","name":"Effect On Livingroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":480,"wires":[[]]},{"id":"7b2e4860.445a78","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":540,"wires":[["3bb8b0ae.2caac"]]},{"id":"1622ffcb.45bc5","type":"api-call-service","z":"f6450084.91261","name":"Turn Off Livingroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":600,"wires":[[]]},{"id":"3bb8b0ae.2caac","type":"api-call-service","z":"f6450084.91261","name":"Effect Off Livingroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":540,"wires":[[]]},{"id":"6022389c.10a038","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":600,"wires":[["1622ffcb.45bc5"]]},{"id":"9b5caa5.5528b58","type":"api-call-service","z":"f6450084.91261","name":"Effect On Guestroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":660,"wires":[[]]},{"id":"50ce4c73.6246b4","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["a284bf8.a624f4"]]},{"id":"a13e59f0.eaa8b8","type":"api-call-service","z":"f6450084.91261","name":"Turn Off Guestroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2020,"y":780,"wires":[[]]},{"id":"a284bf8.a624f4","type":"api-call-service","z":"f6450084.91261","name":"Effect Off Guestroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":720,"wires":[[]]},{"id":"9453387e.f6aca8","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":780,"wires":[["a13e59f0.eaa8b8"]]},{"id":"cdb9a6a7.b77ab8","type":"api-call-service","z":"f6450084.91261","name":"Effect On Bedroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1790,"y":120,"wires":[[]]},{"id":"380de4c4.969fcc","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":180,"wires":[["d37f9aea.789448"]]},{"id":"9e5424d8.21e498","type":"api-call-service","z":"f6450084.91261","name":"Turn Off Bedroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":240,"wires":[[]]},{"id":"d37f9aea.789448","type":"api-call-service","z":"f6450084.91261","name":"Effect Off Bedroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1970,"y":180,"wires":[[]]},{"id":"f7759974.c48e38","type":"delay","z":"f6450084.91261","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":240,"wires":[["9e5424d8.21e498"]]},{"id":"aa79431d.3c2c3","type":"api-call-service","z":"f6450084.91261","name":"Sound Alaram GW1","server":"f3e6760b.8b0bf8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":620,"wires":[[]]},{"id":"303f3edb.3754f2","type":"api-current-state","z":"f6450084.91261","name":"Home M","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":520,"y":420,"wires":[["63f775f3.fe92bc"],[]]},{"id":"63f775f3.fe92bc","type":"api-current-state","z":"f6450084.91261","name":"Home B","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":660,"y":420,"wires":[["8925bbb.f968c48"],[]]},{"id":"5d39361e.857058","type":"api-current-state","z":"f6450084.91261","name":"Sleep M","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":520,"y":360,"wires":[["20229193.0bb50e"],[]]},{"id":"250bcc38.661584","type":"api-current-state","z":"f6450084.91261","name":"Sleep B","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":520,"y":300,"wires":[["36f5bb99.4289a4"],[]]},{"id":"dfc2b550.012428","type":"switch","z":"f6450084.91261","name":"Home M?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":300,"wires":[["119f9999.b2d7f6"],["8925bbb.f968c48"]]},{"id":"36f5bb99.4289a4","type":"api-current-state","z":"f6450084.91261","name":"Home M","server":"f3e6760b.8b0bf8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":660,"y":300,"wires":[["dfc2b550.012428"]]},{"id":"20229193.0bb50e","type":"api-current-state","z":"f6450084.91261","name":"Home B","server":"f3e6760b.8b0bf8","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":660,"y":360,"wires":[["b22efd4a.41894"]]},{"id":"b22efd4a.41894","type":"switch","z":"f6450084.91261","name":"Home B?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":360,"wires":[["6fd331fc.4e54e"],["8925bbb.f968c48"]]},{"id":"6fd331fc.4e54e","type":"api-current-state","z":"f6450084.91261","name":"Sleep B","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":940,"y":360,"wires":[["8925bbb.f968c48"],[]]},{"id":"119f9999.b2d7f6","type":"api-current-state","z":"f6450084.91261","name":"Sleep M","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":940,"y":300,"wires":[["8925bbb.f968c48"],[]]},{"id":"8f015be3.0c97e8","type":"api-current-state","z":"f6450084.91261","name":"Home M","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380,"y":360,"wires":[["5d39361e.857058"],[]]},{"id":"c6cd14b0.e06628","type":"api-current-state","z":"f6450084.91261","name":"Home B","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380,"y":300,"wires":[["250bcc38.661584"],[]]},{"id":"f5877d78.a0a67","type":"api-call-service","z":"f6450084.91261","name":"Sound Alaram GW2","server":"f3e6760b.8b0bf8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":680,"wires":[[]]},{"id":"6c4344be.a6268c","type":"ha-get-entities","z":"f6450084.91261","server":"f3e6760b.8b0bf8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":120,"wires":[["b1987051.06726"]]},{"id":"b1987051.06726","type":"template","z":"f6450084.91261","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1014,"y":120,"wires":[["e3fb2e7c.5ced7"]]},{"id":"e3fb2e7c.5ced7","type":"join","z":"f6450084.91261","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1184,"y":120,"wires":[["a20693a2.87247","9e1cd9fb.95a378"]]},{"id":"ed52aba.5de6058","type":"comment","z":"f6450084.91261","name":"Action - Notification","info":"","x":830,"y":80,"wires":[]},{"id":"bd96eaa1.b39af8","type":"comment","z":"f6450084.91261","name":"Action - Yeelights","info":"","x":1780,"y":80,"wires":[]},{"id":"b291a403.f1e978","type":"comment","z":"f6450084.91261","name":"Action - Sound","info":"","x":820,"y":580,"wires":[]},{"id":"c1839b9d.482188","type":"comment","z":"f6450084.91261","name":"Home Occupancy Condition","info":"","x":440,"y":260,"wires":[]},{"id":"a20693a2.87247","type":"api-call-service","z":"f6450084.91261","name":"Notification Baska","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_mi","data":"{\"message\":\"{{payload}}!\",\"title\":\"ALERT\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":80,"wires":[[]]},{"id":"9e1cd9fb.95a378","type":"api-call-service","z":"f6450084.91261","name":"Notification Majko","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_majkeey_op6_2","data":"{\"message\":\"{{payload}}!\",\"title\":\"ALERT\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":140,"wires":[[]]},{"id":"46105bfa.bc5684","type":"comment","z":"f6450084.91261","name":"Water Leak - Tech Room","info":"","x":130,"y":840,"wires":[]},{"id":"76737d80.429324","type":"server-state-changed","z":"f6450084.91261","name":"Water Leak","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.water_leak_sensor_techroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":880,"wires":[["60dd97c0.10b688"]]},{"id":"8a4a1ba8.65cc48","type":"api-call-service","z":"f6450084.91261","name":"Notification PC","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":880,"wires":[[]]},{"id":"7629f82.de0c708","type":"api-call-service","z":"f6450084.91261","name":"Notification Baska","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_mi","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":940,"wires":[[]]},{"id":"5484111.bbbeff","type":"api-call-service","z":"f6450084.91261","name":"Notification Majko","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_majkeey_op6_2","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":1000,"wires":[[]]},{"id":"60dd97c0.10b688","type":"switch","z":"f6450084.91261","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":880,"wires":[["5484111.bbbeff","8a4a1ba8.65cc48","7629f82.de0c708"]]},{"id":"f3e6760b.8b0bf8","type":"server","z":"","name":"HA","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]