ALL.json
[{"id":"e42f20b0.67a18","type":"tab","label":"Alarm Notification","disabled":false,"info":""},{"id":"c22154cb.20a7a8","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"49e1246.1c4bfdc","type":"tab","label":"Opened Windows","disabled":false,"info":""},{"id":"e1bdc24e.24117","type":"tab","label":"Day Reminders","disabled":false,"info":""},{"id":"884ea0db.51b65","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"5c9c346b.82280c","type":"tab","label":"Random","disabled":false,"info":""},{"id":"10386b8a.c4f214","type":"tab","label":"Discarded","disabled":false,"info":""},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"91013e70.05754","type":"comment","z":"e42f20b0.67a18","name":"Trigger - Doors / Windows Open","info":"","x":150,"y":40,"wires":[]},{"id":"7c7c32c6.7be0fc","type":"api-current-state","z":"e42f20b0.67a18","name":"Trackers","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.home","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":420,"wires":[["26f726bb.23c8aa"],[]]},{"id":"50e12b7b.e7c1b4","type":"switch","z":"e42f20b0.67a18","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":360,"wires":[["13882c7f.16bf04","71c3c89.e318338","57bb0c29.0c99f4","e6081404.39c548","57abd6a.8e80828","82278ab0.fbd6c8","c3ed0ff1.3a551","cc133f1b.e721d","2a8595e6.6324ea","3ab51121.84f9ae","d40e78db.acf178","d1f3645f.1ff8b8","41675592.b016dc","52cd9af2.160274","6caa0c6.dcd77f4","a43aafd.d17265"]]},{"id":"13882c7f.16bf04","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1780,"y":300,"wires":[[]]},{"id":"71c3c89.e318338","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":360,"wires":[["b3bc8c89.76c43"]]},{"id":"f0358bc9.52ed58","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce008baff3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2000,"y":420,"wires":[[]]},{"id":"b3bc8c89.76c43","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1960,"y":360,"wires":[[]]},{"id":"57bb0c29.0c99f4","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":420,"wires":[["f0358bc9.52ed58"]]},{"id":"e6081404.39c548","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1800,"y":480,"wires":[[]]},{"id":"57abd6a.8e80828","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":540,"wires":[["b9b5b9bf.0d7788"]]},{"id":"63aca102.5947","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc6815ae","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2010,"y":600,"wires":[[]]},{"id":"b9b5b9bf.0d7788","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1980,"y":540,"wires":[[]]},{"id":"82278ab0.fbd6c8","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":600,"wires":[["63aca102.5947"]]},{"id":"c3ed0ff1.3a551","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1800,"y":660,"wires":[[]]},{"id":"cc133f1b.e721d","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["934bce29.0d547"]]},{"id":"4b08e28a.a2a26c","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce00900f3e","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2020,"y":780,"wires":[[]]},{"id":"934bce29.0d547","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1980,"y":720,"wires":[[]]},{"id":"2a8595e6.6324ea","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":780,"wires":[["4b08e28a.a2a26c"]]},{"id":"d40e78db.acf178","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect On Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Police\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1790,"y":120,"wires":[[]]},{"id":"d1f3645f.1ff8b8","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":180,"wires":[["eb8dc6b0.ed99c8"]]},{"id":"621268d0.7cda98","type":"api-call-service","z":"e42f20b0.67a18","name":"Turn Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc68270d","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":2010,"y":240,"wires":[[]]},{"id":"eb8dc6b0.ed99c8","type":"api-call-service","z":"e42f20b0.67a18","name":"Effect Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1970,"y":180,"wires":[[]]},{"id":"41675592.b016dc","type":"delay","z":"e42f20b0.67a18","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":240,"wires":[["621268d0.7cda98"]]},{"id":"3ab51121.84f9ae","type":"api-call-service","z":"e42f20b0.67a18","name":"Sound Alaram GW1","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":620,"wires":[[]]},{"id":"26f726bb.23c8aa","type":"api-current-state","z":"e42f20b0.67a18","name":"Home M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":420,"wires":[["a050f978.853098"],[]]},{"id":"a050f978.853098","type":"api-current-state","z":"e42f20b0.67a18","name":"Home B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":420,"wires":[["eb2a4777.136568"],[]]},{"id":"e826f2dd.1ab5d","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":360,"wires":[["7b8169d1.3dfac8"],[]]},{"id":"67fff65f.abb3f8","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":300,"wires":[["e479c9e8.604718"],[]]},{"id":"77a457f1.8284a8","type":"switch","z":"e42f20b0.67a18","name":"Home M?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":300,"wires":[["506d7ab3.192414"],["50e12b7b.e7c1b4"]]},{"id":"e479c9e8.604718","type":"api-current-state","z":"e42f20b0.67a18","name":"Home M","server":"38986ee9.3f9642","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":300,"wires":[["77a457f1.8284a8"]]},{"id":"7b8169d1.3dfac8","type":"api-current-state","z":"e42f20b0.67a18","name":"Home B","server":"38986ee9.3f9642","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":360,"wires":[["96b66a13.065528"]]},{"id":"96b66a13.065528","type":"switch","z":"e42f20b0.67a18","name":"Home B?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":360,"wires":[["9fefdce6.11635"],["50e12b7b.e7c1b4"]]},{"id":"9fefdce6.11635","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":360,"wires":[["50e12b7b.e7c1b4"],[]]},{"id":"506d7ab3.192414","type":"api-current-state","z":"e42f20b0.67a18","name":"Sleep M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":300,"wires":[["50e12b7b.e7c1b4"],[]]},{"id":"5a6cef2c.81f06","type":"api-current-state","z":"e42f20b0.67a18","name":"Home M","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":360,"wires":[["e826f2dd.1ab5d"],[]]},{"id":"701508f4.b91be8","type":"api-current-state","z":"e42f20b0.67a18","name":"Home B","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":300,"wires":[["67fff65f.abb3f8"],[]]},{"id":"52cd9af2.160274","type":"api-call-service","z":"e42f20b0.67a18","name":"Sound Alaram GW2","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":680,"wires":[[]]},{"id":"bfa79f3b.3e90e","type":"comment","z":"e42f20b0.67a18","name":"Action - Notification","info":"","x":830,"y":80,"wires":[]},{"id":"ba2460ae.e2039","type":"comment","z":"e42f20b0.67a18","name":"Action - Yeelights","info":"","x":1780,"y":80,"wires":[]},{"id":"c1c6014.331e7","type":"comment","z":"e42f20b0.67a18","name":"Action - Sound","info":"","x":820,"y":580,"wires":[]},{"id":"7c8df195.eec67","type":"comment","z":"e42f20b0.67a18","name":"Condition - Home Occupancy","info":"","x":600,"y":260,"wires":[]},{"id":"1a8d94d5.1dec6b","type":"comment","z":"e42f20b0.67a18","name":"Water Leak - Tech Room","info":"","x":130,"y":960,"wires":[]},{"id":"6affe21a.9468cc","type":"server-state-changed","z":"e42f20b0.67a18","name":"Water Leak","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.water_leak_sensor_techroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":1000,"wires":[["da199a9c.e29bc8"]]},{"id":"40ee0061.f7af1","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification PC","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"BaskaPC\",\"MarianPC\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":1000,"wires":[[]]},{"id":"f45895bc.9e6d18","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"android_mi","entityId":"","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":1060,"wires":[[]]},{"id":"601f1fa9.f381","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":1120,"wires":[[]]},{"id":"da199a9c.e29bc8","type":"switch","z":"e42f20b0.67a18","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1000,"wires":[["601f1fa9.f381","40ee0061.f7af1","f45895bc.9e6d18"]]},{"id":"4368e1f3.990b","type":"switch","z":"c22154cb.20a7a8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":180,"wires":[["14e7931.7d4f66d","8e07f598.b49098","a9f76416.9b94a8","29dbdb2b.3c2704"],["14e7931.7d4f66d","8e07f598.b49098","a9f76416.9b94a8","29dbdb2b.3c2704"],["14e7931.7d4f66d","8e07f598.b49098","a9f76416.9b94a8","29dbdb2b.3c2704"]]},{"id":"14e7931.7d4f66d","type":"api-call-service","z":"c22154cb.20a7a8","name":"Notification PC","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"Someone's at the door!\",\"title\":\"Doorbell\",\"target\":[\"BaskaPC\",\"MarianPC\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":80,"wires":[[]]},{"id":"8e07f598.b49098","type":"api-current-state","z":"c22154cb.20a7a8","name":"Home Occupancy","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":true,"x":270,"y":440,"wires":[[],["f5b47cf6.05bb3","ecc658fc.7ba518","68622a95.37bb54","6216878e.66d228","b164b5d4.7f3e18","b9fff82.6ef6d08","15ab4335.41e40d","89e05504.bff158","97e6f017.c3695","378b0226.bf25be","d7e6e4d5.2919b8","cb374e59.11c1","cef46d8e.2954a","21cd32fd.e9ad6e"]]},{"id":"f5b47cf6.05bb3","type":"api-call-service","z":"c22154cb.20a7a8","name":"Doorbell GW1","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"40\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":660,"wires":[[]]},{"id":"1818e2c8.3e93ad","type":"switch","z":"c22154cb.20a7a8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_doorbell","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["4368e1f3.990b"]]},{"id":"213aad9a.0b5042","type":"server-events","z":"c22154cb.20a7a8","name":"Doorbell","server":"38986ee9.3f9642","event_type":"","x":80,"y":80,"wires":[["1818e2c8.3e93ad"]]},{"id":"7a466487.4e281c","type":"comment","z":"c22154cb.20a7a8","name":"Trigger - Doorbell","info":"","x":100,"y":40,"wires":[]},{"id":"b164b5d4.7f3e18","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1060,"y":260,"wires":[[]]},{"id":"b9fff82.6ef6d08","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":320,"wires":[["1e6ffb09.207385"]]},{"id":"91ef3856.966fb8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce008baff3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1280,"y":380,"wires":[[]]},{"id":"1e6ffb09.207385","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1240,"y":320,"wires":[[]]},{"id":"15ab4335.41e40d","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["91ef3856.966fb8"]]},{"id":"89e05504.bff158","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":440,"wires":[[]]},{"id":"97e6f017.c3695","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["e8da7165.44511"]]},{"id":"cdaa39a7.8b7ce8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc6815ae","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":560,"wires":[[]]},{"id":"e8da7165.44511","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1260,"y":500,"wires":[[]]},{"id":"378b0226.bf25be","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":560,"wires":[["cdaa39a7.8b7ce8"]]},{"id":"d7e6e4d5.2919b8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":620,"wires":[[]]},{"id":"cb374e59.11c1","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["5c064987.229338"]]},{"id":"540e0492.6b327c","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce00900f3e","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1300,"y":740,"wires":[[]]},{"id":"5c064987.229338","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1260,"y":680,"wires":[[]]},{"id":"cef46d8e.2954a","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":740,"wires":[["540e0492.6b327c"]]},{"id":"ecc658fc.7ba518","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":80,"wires":[[]]},{"id":"68622a95.37bb54","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":140,"wires":[["3d5e2799.e489b8"]]},{"id":"99ac863a.77bfa8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc68270d","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":200,"wires":[[]]},{"id":"3d5e2799.e489b8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":140,"wires":[[]]},{"id":"6216878e.66d228","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":200,"wires":[["99ac863a.77bfa8"]]},{"id":"21cd32fd.e9ad6e","type":"api-call-service","z":"c22154cb.20a7a8","name":"Doorbell GW2","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"30\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":720,"wires":[[]]},{"id":"f1fde9a.7974318","type":"comment","z":"c22154cb.20a7a8","name":"Action - Lights","info":"","x":1050,"y":40,"wires":[]},{"id":"2b8c740b.91918c","type":"comment","z":"c22154cb.20a7a8","name":"Action - Sound","info":"","x":380,"y":620,"wires":[]},{"id":"8959875c.0b2588","type":"comment","z":"c22154cb.20a7a8","name":"Action - Notification","info":"","x":550,"y":40,"wires":[]},{"id":"a9f76416.9b94a8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Notification Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_doorbell_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":200,"wires":[[]]},{"id":"212caa03.e385b6","type":"comment","z":"c22154cb.20a7a8","name":"Condition - Home Occupancy","info":"","x":300,"y":400,"wires":[]},{"id":"97749c3f.c6b7f","type":"comment","z":"884ea0db.51b65","name":"Motion Lights","info":"","x":90,"y":40,"wires":[]},{"id":"e7717ca2.6ab1a","type":"server-state-changed","z":"884ea0db.51b65","name":"Bathroom Motion","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.motion_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":80,"wires":[["8e151758.39ab98"]]},{"id":"c2879965.41fbe8","type":"switch","z":"884ea0db.51b65","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["db9b7d2e.380f6"]]},{"id":"8e151758.39ab98","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":80,"wires":[["c2879965.41fbe8"],[]]},{"id":"db9b7d2e.380f6","type":"api-call-service","z":"884ea0db.51b65","name":"Bathroom Main On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wall_switch_bathroommain","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":80,"wires":[[]]},{"id":"579d7804.ced398","type":"server-state-changed","z":"884ea0db.51b65","name":"Outside Motion","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.motion_sensor_outside","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":320,"wires":[["f345f2ab.45e81"]]},{"id":"f1444efa.92d73","type":"switch","z":"884ea0db.51b65","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":320,"wires":[["ee2178a9.c10a78"],["46e15fc3.9f8ab"]]},{"id":"f345f2ab.45e81","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":320,"wires":[["f1444efa.92d73"],[]]},{"id":"49b34298.1c4cac","type":"comment","z":"884ea0db.51b65","name":"Automations","info":"","x":90,"y":660,"wires":[]},{"id":"ee2178a9.c10a78","type":"api-call-service","z":"884ea0db.51b65","name":"Outside Light On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_outside","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":320,"wires":[[]]},{"id":"46e15fc3.9f8ab","type":"api-call-service","z":"884ea0db.51b65","name":"Outside Light Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.light_outside","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":380,"wires":[[]]},{"id":"79a53da3.50f834","type":"api-call-service","z":"884ea0db.51b65","name":"Livingroom Light On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_livingroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":700,"wires":[[]]},{"id":"df7655c0.84d9d8","type":"api-current-state","z":"884ea0db.51b65","name":"Light On / Off?","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7811dc6815ae","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":860,"y":700,"wires":[[],["79a53da3.50f834"]]},{"id":"ab74581b.a351e8","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":700,"wires":[["f1081cd7.db2c4"],[]]},{"id":"8d904bf3.9767b8","type":"server-state-changed","z":"884ea0db.51b65","name":"Entry Door","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":780,"wires":[["76ab38a1.27c4f8","e5ab413f.6e785"]]},{"id":"76ab38a1.27c4f8","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":780,"wires":[["6730d938.b07ef8"],[]]},{"id":"6730d938.b07ef8","type":"switch","z":"884ea0db.51b65","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":780,"wires":[["db1294a3.6adbd8"],["4b638eb6.a56c6"]]},{"id":"4b638eb6.a56c6","type":"delay","z":"884ea0db.51b65","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":900,"wires":[["cb16428d.b0b7d"]]},{"id":"c6c86dd5.6f905","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_gateway","data":"{\"color_name\":\"red\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":780,"wires":[[]]},{"id":"cb16428d.b0b7d","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_gateway","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":900,"wires":[[]]},{"id":"e1650bd9.94dfa8","type":"api-call-service","z":"884ea0db.51b65","name":"Livingroom Light Toggle","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.light_livingroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":1120,"wires":[[]]},{"id":"a8dead05.b303f","type":"comment","z":"884ea0db.51b65","name":"Yeelight","info":"","x":70,"y":1080,"wires":[]},{"id":"71454e72.8c536","type":"server-state-changed","z":"884ea0db.51b65","name":"WC Motion","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.motion_sensor_wc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":160,"wires":[["cf40b22d.e73a6"]]},{"id":"cf40b22d.e73a6","type":"switch","z":"884ea0db.51b65","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":160,"wires":[["6a64dfa9.5894a"],[]]},{"id":"6a64dfa9.5894a","type":"api-call-service","z":"884ea0db.51b65","name":"WC On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wall_switch_wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":160,"wires":[[]]},{"id":"c19066c9.a72318","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden Motion","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["66d0f385.88003c"],[]]},{"id":"6537af9e.214eb","type":"switch","z":"884ea0db.51b65","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":460,"wires":[["b65f5d8f.a15d6"],[]]},{"id":"66d0f385.88003c","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":460,"wires":[["6537af9e.214eb"],[]]},{"id":"7a1d94f4.7b746c","type":"api-call-service","z":"884ea0db.51b65","name":"Garden Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wall_switch_right_gardennew","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":460,"wires":[[]]},{"id":"fc71b9c1.7d2fd8","type":"api-call-service","z":"884ea0db.51b65","name":"Garden Light Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wall_switch_right_gardennew","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":520,"wires":[[]]},{"id":"942b4e24.fa14e","type":"time-range-switch","z":"884ea0db.51b65","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":380,"wires":[["a7f8e19f.9c4c"],[]]},{"id":"a7f8e19f.9c4c","type":"api-current-state","z":"884ea0db.51b65","name":"Unavailable?","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":380,"wires":[[],["46e15fc3.9f8ab"]]},{"id":"5cc8b6de.d93888","type":"server-state-changed","z":"884ea0db.51b65","name":"Outside On?","server":"38986ee9.3f9642","version":1,"entityidfilter":"light.yeelight_color1_7c49eb12c687","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":380,"wires":[["942b4e24.fa14e"],[]]},{"id":"50d8ed58.80b644","type":"poll-state","z":"884ea0db.51b65","name":"Dog Light","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":false,"entity_id":"person.home","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":700,"wires":[[],["ab74581b.a351e8"]]},{"id":"3253e27d.552bee","type":"switch","z":"884ea0db.51b65","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1120,"wires":[["e1650bd9.94dfa8"],["e1650bd9.94dfa8"],["e1650bd9.94dfa8"]]},{"id":"7b4a2cb.7784ad4","type":"switch","z":"884ea0db.51b65","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_livingroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1120,"wires":[["3253e27d.552bee"]]},{"id":"cb83c73.b214238","type":"server-events","z":"884ea0db.51b65","name":"Livingroom Yeelight","server":"38986ee9.3f9642","event_type":"","x":110,"y":1120,"wires":[["7b4a2cb.7784ad4"]]},{"id":"a9a8a945.9ebc48","type":"switch","z":"5c9c346b.82280c","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["b7715cb5.35e38"],["276d6c97.fdda64"]]},{"id":"6324a38d.05a38c","type":"switch","z":"5c9c346b.82280c","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeylights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["a9a8a945.9ebc48"]]},{"id":"f2d2c870.ca7cf8","type":"server-events","z":"5c9c346b.82280c","name":"Majkeey Bedroom","server":"38986ee9.3f9642","event_type":"","x":110,"y":80,"wires":[["6324a38d.05a38c"]]},{"id":"1a2af718.9f7d59","type":"comment","z":"5c9c346b.82280c","name":"Switches","info":"","x":80,"y":40,"wires":[]},{"id":"47f9a15e.bbdae","type":"server-state-changed","z":"5c9c346b.82280c","name":"Majkeey PC","server":"38986ee9.3f9642","version":"1","entityidfilter":"input_select.majkeeypcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":500,"wires":[["18765e8c.31d611"]]},{"id":"18765e8c.31d611","type":"switch","z":"5c9c346b.82280c","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":560,"wires":[["1668d294.b79c2d"],["bb91316b.63e3c"],["cd1e143.43d6ee8"],["294b7b3c.ee95e4"]]},{"id":"1668d294.b79c2d","type":"api-call-service","z":"5c9c346b.82280c","name":"Restart","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"restart_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":460,"wires":[[]]},{"id":"bb91316b.63e3c","type":"api-call-service","z":"5c9c346b.82280c","name":"Shutdown","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"shutdown_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":520,"wires":[[]]},{"id":"cd1e143.43d6ee8","type":"api-call-service","z":"5c9c346b.82280c","name":"Sleep","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"sleep_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":580,"wires":[[]]},{"id":"294b7b3c.ee95e4","type":"api-call-service","z":"5c9c346b.82280c","name":"Hibernate","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"hibernate_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":640,"wires":[[]]},{"id":"8f812d54.a7caa","type":"comment","z":"5c9c346b.82280c","name":"Majkeey PC Options","info":"","x":110,"y":460,"wires":[]},{"id":"eb8e1a38.40d348","type":"server-state-changed","z":"5c9c346b.82280c","name":"Baska PC","server":"38986ee9.3f9642","version":"1","entityidfilter":"input_select.baskapcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":740,"y":500,"wires":[["63b2fcf3.788144"]]},{"id":"63b2fcf3.788144","type":"switch","z":"5c9c346b.82280c","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":560,"wires":[["e17164d2.ba1ac8"],["53e2b7a2.eefaf8"],["697f66.f581109c"],["a69515ea.9754b8"]]},{"id":"e17164d2.ba1ac8","type":"api-call-service","z":"5c9c346b.82280c","name":"Restart","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"restart_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":460,"wires":[[]]},{"id":"53e2b7a2.eefaf8","type":"api-call-service","z":"5c9c346b.82280c","name":"Shutdown","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"shutdown_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":520,"wires":[[]]},{"id":"697f66.f581109c","type":"api-call-service","z":"5c9c346b.82280c","name":"Sleep","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"sleep_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":580,"wires":[[]]},{"id":"a69515ea.9754b8","type":"api-call-service","z":"5c9c346b.82280c","name":"Hibernate","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"hibernate_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":640,"wires":[[]]},{"id":"ca6aecd9.633f1","type":"comment","z":"5c9c346b.82280c","name":"Baska PC Options","info":"","x":770,"y":460,"wires":[]},{"id":"276d6c97.fdda64","type":"api-call-service","z":"5c9c346b.82280c","name":"Turn Off ALL Lights","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.switchez","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":180,"wires":[[]]},{"id":"b7715cb5.35e38","type":"api-call-service","z":"5c9c346b.82280c","name":"Turn Off Bedrrom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wall_switch_left_bedroomleft, switch.wall_switch_right_bedroomright","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":60,"wires":[[]]},{"id":"9288da05.96bb28","type":"switch","z":"5c9c346b.82280c","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["b7715cb5.35e38"],["276d6c97.fdda64"]]},{"id":"be1d1d38.0af59","type":"switch","z":"5c9c346b.82280c","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_baskalights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":160,"wires":[["9288da05.96bb28"]]},{"id":"86bcc4a.f3ce638","type":"server-events","z":"5c9c346b.82280c","name":"Baska Bedroom","server":"38986ee9.3f9642","event_type":"","x":100,"y":160,"wires":[["be1d1d38.0af59"]]},{"id":"9c087655.61efa8","type":"switch","z":"5c9c346b.82280c","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["45d78da9.aa1d44"],["1582a53a.dbcacb"]]},{"id":"d58dd33.690193","type":"switch","z":"5c9c346b.82280c","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeypc","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":300,"wires":[["9c087655.61efa8"]]},{"id":"84229a2b.60d128","type":"server-events","z":"5c9c346b.82280c","name":"Majkeey PC","server":"38986ee9.3f9642","event_type":"","x":90,"y":300,"wires":[["d58dd33.690193"]]},{"id":"1582a53a.dbcacb","type":"api-call-service","z":"5c9c346b.82280c","name":"Toggle Majkeey PC","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.pc_majkeey","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":340,"wires":[[]]},{"id":"45d78da9.aa1d44","type":"api-call-service","z":"5c9c346b.82280c","name":"Toggle Office Light","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_left_officeleft","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":280,"wires":[[]]},{"id":"eb2a4777.136568","type":"api-current-state","z":"e42f20b0.67a18","name":"Home Guest","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":970,"y":420,"wires":[["50e12b7b.e7c1b4"],[]]},{"id":"8f664e43.a8416","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Bathroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":60,"wires":[[]]},{"id":"1b462afe.f8dd65","type":"api-call-service","z":"884ea0db.51b65","name":"WC Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wall_switch_wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":220,"wires":[[]]},{"id":"1905431b.31d61d","type":"trigger-state","z":"e42f20b0.67a18","name":"Bathroom","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":560,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"18904c36.8db994","type":"trigger-state","z":"e42f20b0.67a18","name":"Bedroom1","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":380,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"f957f7f1.8c9828","type":"trigger-state","z":"e42f20b0.67a18","name":"Bedroom2","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":440,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"520cef68.443c","type":"trigger-state","z":"e42f20b0.67a18","name":"Entry","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":140,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"1a1c0763.747889","type":"trigger-state","z":"e42f20b0.67a18","name":"Guestroom","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":620,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"5d21602b.0636e","type":"trigger-state","z":"e42f20b0.67a18","name":"Kitchen2","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":320,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"33f73eea.60fd12","type":"trigger-state","z":"e42f20b0.67a18","name":"Kitchen1","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":260,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"d102b17f.d8af","type":"trigger-state","z":"e42f20b0.67a18","name":"Livingroom","server":"38986ee9.3f9642","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":80,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"f09cbc24.e1e93","type":"trigger-state","z":"e42f20b0.67a18","name":"Office","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":500,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"2e403a20.8e0f26","type":"trigger-state","z":"e42f20b0.67a18","name":"Pantry","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":200,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"a4f01cf4.b4fb3","type":"trigger-state","z":"e42f20b0.67a18","name":"Techroom","server":"38986ee9.3f9642","entityid":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":680,"wires":[["701508f4.b91be8","5a6cef2c.81f06","7c7c32c6.7be0fc"],[]]},{"id":"db1294a3.6adbd8","type":"api-current-state","z":"884ea0db.51b65","name":"Windows","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":780,"wires":[["c6c86dd5.6f905"],["a44543b7.aba3"]]},{"id":"a44543b7.aba3","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_gateway","data":"{\"color_name\":\"white\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":840,"wires":[[]]},{"id":"5d87a646.4315f8","type":"comment","z":"49e1246.1c4bfdc","name":"5 Minutes Winter Alert","info":"","x":120,"y":20,"wires":[]},{"id":"fdfbd608.74a238","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Bedroom1","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":110,"y":440,"wires":[[]]},{"id":"9ec0c87d.db0f98","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Bedroom2","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":110,"y":500,"wires":[[]]},{"id":"78536237.58488c","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Entry","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":200,"wires":[[]]},{"id":"25e95787.cf33d8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Guestroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":110,"y":620,"wires":[[]]},{"id":"ac1c6be3.a0c498","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Kitchen1","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":100,"y":320,"wires":[[]]},{"id":"e34a26d5.9b7298","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Kitchen2","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":100,"y":380,"wires":[[]]},{"id":"b96ae9ec.bf9ba8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Livingroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":110,"y":140,"wires":[[]]},{"id":"b69963d9.bc6a5","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Office","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":560,"wires":[[]]},{"id":"a47d9b57.77afc8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Pantry","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":260,"wires":[[]]},{"id":"5811e096.9210a","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Techroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":100,"y":680,"wires":[[]]},{"id":"a11006bb.56f6a8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Bathroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":100,"y":80,"wires":[[]]},{"id":"2e7a69af.c96be6","type":"comment","z":"10386b8a.c4f214","name":"Condition - Opened 5+ Minutes","info":"","x":170,"y":40,"wires":[]},{"id":"28d03f50.4b5f8","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":120,"wires":[["b36f8472.f5b348"],[]]},{"id":"98fe593d.0f1aa8","type":"ha-get-entities","z":"10386b8a.c4f214","server":"38986ee9.3f9642","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1170,"y":400,"wires":[["eee8febd.9e98f"]]},{"id":"eee8febd.9e98f","type":"template","z":"10386b8a.c4f214","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1200,"y":360,"wires":[["c1bb636f.9a445"]]},{"id":"c1bb636f.9a445","type":"join","z":"10386b8a.c4f214","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":320,"wires":[["c3550bd8.49ae18","77208aec.26a5a4"]]},{"id":"c3550bd8.49ae18","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"android_mi","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1470,"y":320,"wires":[[]]},{"id":"77208aec.26a5a4","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1470,"y":380,"wires":[[]]},{"id":"42162ded.85d7c4","type":"stoptimer","z":"10386b8a.c4f214","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":340,"wires":[["4c3a8ef2.cc2c6"],[]]},{"id":"4c3a8ef2.cc2c6","type":"traffic","z":"10386b8a.c4f214","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":850,"y":400,"wires":[["98fe593d.0f1aa8"]]},{"id":"5fddf6a4.82c778","type":"switch","z":"10386b8a.c4f214","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":340,"wires":[["42162ded.85d7c4"],["4c3a8ef2.cc2c6"]]},{"id":"f6d303ca.7211f","type":"stoptimer","z":"10386b8a.c4f214","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":220,"wires":[["720c15b6.935cac"],[]]},{"id":"720c15b6.935cac","type":"traffic","z":"10386b8a.c4f214","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":850,"y":280,"wires":[["98fe593d.0f1aa8"]]},{"id":"3dd7d372.d3371c","type":"switch","z":"10386b8a.c4f214","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":280,"wires":[["f6d303ca.7211f"],["720c15b6.935cac"]]},{"id":"b58d21f4.f7f48","type":"poll-state","z":"10386b8a.c4f214","name":"Baska H","server":"38986ee9.3f9642","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_baska","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":280,"wires":[[]]},{"id":"d37634b6.858e28","type":"poll-state","z":"10386b8a.c4f214","name":"Majko H","server":"38986ee9.3f9642","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_majkeey","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":340,"wires":[[]]},{"id":"2e72a091.e49a9","type":"comment","z":"10386b8a.c4f214","name":"Condition - Home 1+ Minutes","info":"","x":500,"y":240,"wires":[]},{"id":"220091be.e6f58e","type":"comment","z":"10386b8a.c4f214","name":"Action - Notification","info":"","x":1190,"y":280,"wires":[]},{"id":"8dd99f03.c9769","type":"trigger","z":"10386b8a.c4f214","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":440,"wires":[["4c3a8ef2.cc2c6"]]},{"id":"30bfa53f.9d38ea","type":"trigger","z":"10386b8a.c4f214","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":400,"wires":[["720c15b6.935cac"]]},{"id":"e5ab413f.6e785","type":"time-range-switch","z":"884ea0db.51b65","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":960,"wires":[["4447b89c.603328"],[]]},{"id":"c9070a69.4c7bf8","type":"delay","z":"884ea0db.51b65","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1020,"wires":[["7ab56181.aaf75"]]},{"id":"7320e0bf.a65a3","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_gateway","data":"{\"color_name\":\"red\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":960,"wires":[[]]},{"id":"7ab56181.aaf75","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_gateway","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":1020,"wires":[[]]},{"id":"4447b89c.603328","type":"switch","z":"884ea0db.51b65","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":960,"wires":[["44b7c6f5.454938"],["c9070a69.4c7bf8"]]},{"id":"44b7c6f5.454938","type":"api-current-state","z":"884ea0db.51b65","name":"Windows","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":960,"wires":[["7320e0bf.a65a3"],[]]},{"id":"50f0baa0.b09884","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":320,"wires":[["ec24171b.7625c8"],[]]},{"id":"fe71fdd4.6ea56","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["50f0baa0.b09884"],[]]},{"id":"91c9627e.ff1b8","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":520,"wires":[["7a4eb64a.8fc6b8"],[]]},{"id":"db08e969.857988","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":520,"wires":[["91c9627e.ff1b8"],[]]},{"id":"6723105c.5e592","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":720,"wires":[["b887cc5e.21c47"],[]]},{"id":"61d1b5bc.92534c","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":720,"wires":[["6723105c.5e592"],[]]},{"id":"70bd1ced.2eb7b4","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":920,"wires":[["4b0b5914.397938"],[]]},{"id":"f7d3d5cd.871488","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":920,"wires":[["70bd1ced.2eb7b4"],[]]},{"id":"cae7549b.48d508","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1120,"wires":[["465dc56c.5bf61c"],[]]},{"id":"58b320cb.b6cb4","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1120,"wires":[["cae7549b.48d508"],[]]},{"id":"2fcfe37c.07ec3c","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1320,"wires":[["bad2796f.4ef4d8"],[]]},{"id":"65b5a426.2d029c","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1320,"wires":[["2fcfe37c.07ec3c"],[]]},{"id":"71eb8a77.b1e484","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1520,"wires":[["cd195c63.6022b"],[]]},{"id":"ae083974.fe31e8","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1520,"wires":[["71eb8a77.b1e484"],[]]},{"id":"947e5897.a68a38","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1720,"wires":[["50a43e4f.8d9ce"],[]]},{"id":"d6d351d9.7386f","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1720,"wires":[["947e5897.a68a38"],[]]},{"id":"56b16028.e1dea","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1920,"wires":[["ae06ac67.c8fa5"],[]]},{"id":"44170d89.a6e1a4","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1920,"wires":[["56b16028.e1dea"],[]]},{"id":"cbd389b3.200718","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":2120,"wires":[["f0b68c1c.380c"],[]]},{"id":"35a79975.910d96","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":2120,"wires":[["cbd389b3.200718"],[]]},{"id":"58c1d74e.12af98","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Office","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1660,"wires":[["d2fa877f.670538"],["d2fa877f.670538"]]},{"id":"d2fa877f.670538","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1720,"wires":[["b78b375b.a687a8","4cd3e638.637888","a88554d9.01a358","393fab0c.8386b4"]]},{"id":"b36f8472.f5b348","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":120,"wires":[["d69a7080.29464"]]},{"id":"ec24171b.7625c8","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":320,"wires":[["292ceccd.0d5e54"]]},{"id":"7a4eb64a.8fc6b8","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":520,"wires":[["b047894b.cc0548"]]},{"id":"b887cc5e.21c47","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":720,"wires":[["bbf974ef.e80f18"]]},{"id":"4b0b5914.397938","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":920,"wires":[["43990108.c1158"]]},{"id":"465dc56c.5bf61c","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1120,"wires":[["1301fb1b.a6df95"]]},{"id":"bad2796f.4ef4d8","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1320,"wires":[["4e5f5160.6e923"]]},{"id":"cd195c63.6022b","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1520,"wires":[["d7a456e6.f46a38"]]},{"id":"50a43e4f.8d9ce","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1720,"wires":[["d2fa877f.670538"]]},{"id":"ae06ac67.c8fa5","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1920,"wires":[["d716b636.371668"]]},{"id":"f0b68c1c.380c","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":2120,"wires":[["ca2e869c.274e48"]]},{"id":"19d3788f.ad1ba7","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bath","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":60,"wires":[["d69a7080.29464"],["d69a7080.29464"]]},{"id":"d69a7080.29464","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":120,"wires":[["f152f1bc.95e8c","31310d7a.5c4842","94e7e8fa.ea0dc8","145df57b.60f74b"]]},{"id":"99adfeae.2f759","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Living","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":260,"wires":[["292ceccd.0d5e54"],["292ceccd.0d5e54"]]},{"id":"292ceccd.0d5e54","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":320,"wires":[["9e01fd24.3ccbb","34a12066.3127d","b3a18b56.f33848","9df74fd8.f9054"]]},{"id":"3cd54919.6b3116","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Entry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":460,"wires":[["b047894b.cc0548"],["b047894b.cc0548"]]},{"id":"b047894b.cc0548","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":520,"wires":[["3722ca62.8b5936","35e7e42b.e41ebc","11a98551.57b22b","b427b311.7424f"]]},{"id":"7c6c9fe2.7fc7","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Pantry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":660,"wires":[["bbf974ef.e80f18"],["bbf974ef.e80f18"]]},{"id":"bbf974ef.e80f18","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":720,"wires":[["bad53d43.82087","41c9afc1.ade7b","de204a7f.c39c48","cf63c855.77aea8"]]},{"id":"7c624178.7330f","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":740,"y":860,"wires":[["43990108.c1158"],["43990108.c1158"]]},{"id":"43990108.c1158","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":920,"wires":[["bd16caef.784878","61a3589f.31be28","fd5b9178.7a747","e16fd811.e3c238"]]},{"id":"ddc445c4.a07058","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":740,"y":1060,"wires":[["1301fb1b.a6df95"],["1301fb1b.a6df95"]]},{"id":"1301fb1b.a6df95","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1120,"wires":[["a65d94fe.dea048","c01d7f2c.a91e9","88cfb0ae.c88da","5925302e.09226"]]},{"id":"f280a278.9876e","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1260,"wires":[["4e5f5160.6e923"],["4e5f5160.6e923"]]},{"id":"4e5f5160.6e923","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1320,"wires":[["6cd194dd.bc8ffc","eef78036.05b4a","6c74a9a6.9c3198","455cd70d.7d3038"]]},{"id":"ea9d52ac.9b629","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1460,"wires":[["d7a456e6.f46a38"],["d7a456e6.f46a38"]]},{"id":"d7a456e6.f46a38","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1520,"wires":[["b5ce1246.ebb0d","b8de4a38.bd0308","5e235fdb.96996","5ec24259.83d6fc"]]},{"id":"1bb5904d.fd5fc","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Guest","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1860,"wires":[["d716b636.371668"],["d716b636.371668"]]},{"id":"d716b636.371668","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1920,"wires":[["2115d109.2a232e","e8370ec7.6ce55","573e5465.e50fbc","9899640d.9c32f8"]]},{"id":"50c0cd39.765974","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Tech","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":2060,"wires":[["ca2e869c.274e48"],["ca2e869c.274e48"]]},{"id":"ca2e869c.274e48","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":2120,"wires":[["3b31e23e.d997be","bf3ce575.9a5868","afaffd87.7b258","85f5a83c.5508c8"]]},{"id":"f1081cd7.db2c4","type":"api-current-state","z":"884ea0db.51b65","name":"Guest Mode","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":700,"wires":[[],["df7655c0.84d9d8"]]},{"id":"4de098ee.3e5d78","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":120,"wires":[["28d03f50.4b5f8"],[]]},{"id":"29dbdb2b.3c2704","type":"api-call-service","z":"c22154cb.20a7a8","name":"Notification Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_doorbell_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":140,"wires":[[]]},{"id":"6caa0c6.dcd77f4","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_alarm_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":120,"wires":[[]]},{"id":"f152f1bc.95e8c","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_bath_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":180,"wires":[[]]},{"id":"9e01fd24.3ccbb","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_liv_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":380,"wires":[[]]},{"id":"3b31e23e.d997be","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_tec_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":2180,"wires":[[]]},{"id":"2115d109.2a232e","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_gue_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1980,"wires":[[]]},{"id":"b78b375b.a687a8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_off_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1780,"wires":[[]]},{"id":"b5ce1246.ebb0d","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be2_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1580,"wires":[[]]},{"id":"6cd194dd.bc8ffc","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be1_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1380,"wires":[[]]},{"id":"a65d94fe.dea048","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki2_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1180,"wires":[[]]},{"id":"bd16caef.784878","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki1_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":980,"wires":[[]]},{"id":"bad53d43.82087","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_pan_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":780,"wires":[[]]},{"id":"3722ca62.8b5936","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ent_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":580,"wires":[[]]},{"id":"31310d7a.5c4842","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_bath_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":180,"wires":[[]]},{"id":"34a12066.3127d","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_liv_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":380,"wires":[[]]},{"id":"bf3ce575.9a5868","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_tec_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":2180,"wires":[[]]},{"id":"e8370ec7.6ce55","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_gue_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1980,"wires":[[]]},{"id":"4cd3e638.637888","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_off_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1780,"wires":[[]]},{"id":"b8de4a38.bd0308","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be2_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1580,"wires":[[]]},{"id":"eef78036.05b4a","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be1_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1380,"wires":[[]]},{"id":"c01d7f2c.a91e9","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki2_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1180,"wires":[[]]},{"id":"61a3589f.31be28","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki1_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":980,"wires":[[]]},{"id":"41c9afc1.ade7b","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_pan_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":780,"wires":[[]]},{"id":"35e7e42b.e41ebc","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ent_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":580,"wires":[[]]},{"id":"a43aafd.d17265","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_alarm_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":180,"wires":[[]]},{"id":"d26a3ddb.ca6f7","type":"inject","z":"10386b8a.c4f214","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":600,"wires":[["8ac94aa6.3699f8"]]},{"id":"8ac94aa6.3699f8","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":600,"wires":[[]]},{"id":"6311ac78.02dd44","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":60,"wires":[["94e7e8fa.ea0dc8"],["94e7e8fa.ea0dc8"]]},{"id":"94e7e8fa.ea0dc8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":60,"wires":[["8f664e43.a8416"]]},{"id":"655e1b25.eaeac4","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Bathroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":120,"wires":[[]]},{"id":"cc39107b.34fdb","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":120,"wires":[["145df57b.60f74b"],["145df57b.60f74b"]]},{"id":"145df57b.60f74b","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":120,"wires":[["655e1b25.eaeac4"]]},{"id":"32bc8bd6.7d4934","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Livingroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":260,"wires":[[]]},{"id":"2a4e601a.33cd3","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":260,"wires":[["b3a18b56.f33848"],["b3a18b56.f33848"]]},{"id":"b3a18b56.f33848","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":260,"wires":[["32bc8bd6.7d4934"]]},{"id":"ef1c12ed.f84ee","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Livingroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":320,"wires":[[]]},{"id":"9ea01b84.9cb898","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":320,"wires":[["9df74fd8.f9054"],["9df74fd8.f9054"]]},{"id":"9df74fd8.f9054","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":320,"wires":[["ef1c12ed.f84ee"]]},{"id":"10fe9a28.42a146","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Entry Door opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":460,"wires":[[]]},{"id":"a963ee49.2b967","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":460,"wires":[["11a98551.57b22b"],["11a98551.57b22b"]]},{"id":"11a98551.57b22b","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":460,"wires":[["10fe9a28.42a146"]]},{"id":"1ec7894c.fcb4d7","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Entry Door opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":520,"wires":[[]]},{"id":"2274025b.119fde","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":520,"wires":[["b427b311.7424f"],["b427b311.7424f"]]},{"id":"b427b311.7424f","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":520,"wires":[["1ec7894c.fcb4d7"]]},{"id":"adf6f077.9c1d8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Pantry Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":660,"wires":[[]]},{"id":"4c0614ac.62affc","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":660,"wires":[["de204a7f.c39c48"],["de204a7f.c39c48"]]},{"id":"de204a7f.c39c48","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":660,"wires":[["adf6f077.9c1d8"]]},{"id":"7f0a67da.d9d5e8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Pantry Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":720,"wires":[[]]},{"id":"9aca5478.258858","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":720,"wires":[["cf63c855.77aea8"],["cf63c855.77aea8"]]},{"id":"cf63c855.77aea8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":720,"wires":[["7f0a67da.d9d5e8"]]},{"id":"31e1dec9.5eee32","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Kitchen1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":860,"wires":[[]]},{"id":"7081871c.975c08","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":860,"wires":[["fd5b9178.7a747"],["fd5b9178.7a747"]]},{"id":"fd5b9178.7a747","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":860,"wires":[["31e1dec9.5eee32"]]},{"id":"66bc49d7.657678","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Kitchen1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":920,"wires":[[]]},{"id":"8f317c2a.1ea15","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":920,"wires":[["e16fd811.e3c238"],["e16fd811.e3c238"]]},{"id":"e16fd811.e3c238","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":920,"wires":[["66bc49d7.657678"]]},{"id":"a4f25395.b48f2","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Kitchen2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1060,"wires":[[]]},{"id":"7b15227d.96010c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1060,"wires":[["88cfb0ae.c88da"],["88cfb0ae.c88da"]]},{"id":"88cfb0ae.c88da","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1060,"wires":[["a4f25395.b48f2"]]},{"id":"2d62ffbe.42c64","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Kitchen2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1120,"wires":[[]]},{"id":"62f6cb8f.54b5b4","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1120,"wires":[["5925302e.09226"],["5925302e.09226"]]},{"id":"5925302e.09226","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1120,"wires":[["2d62ffbe.42c64"]]},{"id":"5ceba2cf.139d7c","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Bedroom1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1260,"wires":[[]]},{"id":"e39b07cc.c794a8","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1260,"wires":[["6c74a9a6.9c3198"],["6c74a9a6.9c3198"]]},{"id":"6c74a9a6.9c3198","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1260,"wires":[["5ceba2cf.139d7c"]]},{"id":"622799dc.2eb918","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Bedroom1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1320,"wires":[[]]},{"id":"1826f42d.d35fcc","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1320,"wires":[["455cd70d.7d3038"],["455cd70d.7d3038"]]},{"id":"455cd70d.7d3038","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1320,"wires":[["622799dc.2eb918"]]},{"id":"ec02e7ee.df35d8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Bedroom2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1460,"wires":[[]]},{"id":"5f5bbfec.ac5b7","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1460,"wires":[["5e235fdb.96996"],["5e235fdb.96996"]]},{"id":"5e235fdb.96996","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1460,"wires":[["ec02e7ee.df35d8"]]},{"id":"ee0f69df.010318","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Bedroom2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1520,"wires":[[]]},{"id":"9cbc5e59.83a48","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1520,"wires":[["5ec24259.83d6fc"],["5ec24259.83d6fc"]]},{"id":"5ec24259.83d6fc","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1520,"wires":[["ee0f69df.010318"]]},{"id":"324cc3e1.3330cc","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Office Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1660,"wires":[[]]},{"id":"f69ce134.2e10a","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1660,"wires":[["a88554d9.01a358"],["a88554d9.01a358"]]},{"id":"a88554d9.01a358","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1660,"wires":[["324cc3e1.3330cc"]]},{"id":"75f74058.67bdf","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Office Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1720,"wires":[[]]},{"id":"c916d629.004128","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1720,"wires":[["393fab0c.8386b4"],["393fab0c.8386b4"]]},{"id":"393fab0c.8386b4","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1720,"wires":[["75f74058.67bdf"]]},{"id":"71a87103.914","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Guestroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1860,"wires":[[]]},{"id":"140830ba.2b958f","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1860,"wires":[["573e5465.e50fbc"],["573e5465.e50fbc"]]},{"id":"573e5465.e50fbc","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1860,"wires":[["71a87103.914"]]},{"id":"7d8328a.d5177d8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Guestroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1920,"wires":[[]]},{"id":"99db7f92.e0869","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1920,"wires":[["9899640d.9c32f8"],["9899640d.9c32f8"]]},{"id":"9899640d.9c32f8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1920,"wires":[["7d8328a.d5177d8"]]},{"id":"5f9ba6be.53df98","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Techroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":2060,"wires":[[]]},{"id":"33a107ea.13ac88","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":2060,"wires":[["afaffd87.7b258"],["afaffd87.7b258"]]},{"id":"afaffd87.7b258","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":2060,"wires":[["5f9ba6be.53df98"]]},{"id":"381f1748.eb26f8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Techroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":2120,"wires":[[]]},{"id":"a0078c6f.ce535","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":2120,"wires":[["85f5a83c.5508c8"],["85f5a83c.5508c8"]]},{"id":"85f5a83c.5508c8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":2120,"wires":[["381f1748.eb26f8"]]},{"id":"5d1172f2.69777c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bath","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":120,"wires":[["4de098ee.3e5d78"],[]]},{"id":"e2e20874.2a9ba8","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Living","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":320,"wires":[["fe71fdd4.6ea56"],[]]},{"id":"55f48fd4.b9609","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Entry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":520,"wires":[["db08e969.857988"],[]]},{"id":"b28c560b.828808","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Pantry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":720,"wires":[["61d1b5bc.92534c"],[]]},{"id":"b46d3d9.71ac4c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":920,"wires":[["f7d3d5cd.871488"],[]]},{"id":"51e43dd1.0be584","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":1120,"wires":[["58b320cb.b6cb4"],[]]},{"id":"3f854acb.0f8db6","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1320,"wires":[["65b5a426.2d029c"],[]]},{"id":"cbf0cd4b.572a","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1520,"wires":[["ae083974.fe31e8"],[]]},{"id":"bd2c4292.f651f","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Office","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1720,"wires":[["d6d351d9.7386f"],[]]},{"id":"3946a89f.faf158","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Guest","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1920,"wires":[["44170d89.a6e1a4"],[]]},{"id":"48b2139a.68c53c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Tech","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":2120,"wires":[["35a79975.910d96"],[]]},{"id":"b65f5d8f.a15d6","type":"api-current-state","z":"884ea0db.51b65","name":"Light On / Off?","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.wall_switch_right_gardennew","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":860,"y":460,"wires":[["7a1d94f4.7b746c"],[]]},{"id":"da9dec49.071c1","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.wall_switch_right_gardennew","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":520,"wires":[["dde6e836.f35568"],[]]},{"id":"d8689d69.7bcd5","type":"stoptimer","z":"884ea0db.51b65","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":520,"wires":[["be1f7f7a.15fea"],[]]},{"id":"be1f7f7a.15fea","type":"trigger","z":"884ea0db.51b65","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":520,"wires":[["78916a3e.54e504"]]},{"id":"78916a3e.54e504","type":"traffic","z":"884ea0db.51b65","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":730,"y":520,"wires":[["fc71b9c1.7d2fd8"]]},{"id":"dde6e836.f35568","type":"switch","z":"884ea0db.51b65","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":520,"wires":[["d8689d69.7bcd5"],[]]},{"id":"1d10c971.b12317","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.wall_switch_right_gardennew","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":580,"y":560,"wires":[["78916a3e.54e504"],["78916a3e.54e504"]]},{"id":"6bf91156.b2a7c","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_wc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":220,"wires":[["fb70763.56c9488"],[]]},{"id":"119a9acf.d55865","type":"stoptimer","z":"884ea0db.51b65","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":220,"wires":[["ddb5274f.cf6e98"],[]]},{"id":"ddb5274f.cf6e98","type":"trigger","z":"884ea0db.51b65","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":220,"wires":[["63313f5e.da98b"]]},{"id":"63313f5e.da98b","type":"traffic","z":"884ea0db.51b65","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":730,"y":220,"wires":[["1b462afe.f8dd65"]]},{"id":"fb70763.56c9488","type":"switch","z":"884ea0db.51b65","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":220,"wires":[["119a9acf.d55865"],[]]},{"id":"d9b9d56a.a5fc48","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_wc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":580,"y":260,"wires":[["63313f5e.da98b"],["63313f5e.da98b"]]},{"id":"a6ac96e1.9db318","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":60,"wires":[["d0a46736.2c8038"],[]]},{"id":"679d9031.aa3aa","type":"poll-state","z":"e1bdc24e.24117","name":"Aisha - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_aisha","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":60,"wires":[["a6ac96e1.9db318"],[]]},{"id":"2a3183d6.d7997c","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_baska","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":180,"wires":[["ab5bf3c2.6bd31"],[]]},{"id":"52cd023f.6fa0fc","type":"poll-state","z":"e1bdc24e.24117","name":"Aisha - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_aisha","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":120,"wires":[["33d8bcf7.45b6a4"],[]]},{"id":"9ee16fcc.9cc32","type":"poll-state","z":"e1bdc24e.24117","name":"Jozko - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_jr","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":300,"wires":[["b5d6f5d1.61cdb8"],[]]},{"id":"1c6b33a1.72058c","type":"poll-state","z":"e1bdc24e.24117","name":"Kizik - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_kizik","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":420,"wires":[["83aa47a7.c7b688"],[]]},{"id":"ed0c1adf.1f03c8","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_majko","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":540,"wires":[["20969f9a.4edc4"],[]]},{"id":"8320d0e5.0be15","type":"poll-state","z":"e1bdc24e.24117","name":"Schied - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_schied","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":660,"wires":[["ae2cc942.35fa28"],[]]},{"id":"316ca2bf.4f52be","type":"poll-state","z":"e1bdc24e.24117","name":"Scotty - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_scotty","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":780,"wires":[["c11fd322.c9514"],[]]},{"id":"7988fd98.1024c4","type":"poll-state","z":"e1bdc24e.24117","name":"Sony - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_sony","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":900,"wires":[["3f28a4d5.cb73fc"],[]]},{"id":"33d8bcf7.45b6a4","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":120,"wires":[["1591ed04.174953"],[]]},{"id":"ab5bf3c2.6bd31","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":180,"wires":[["910780a8.d3c88"],[]]},{"id":"f606fadd.15ec08","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":240,"wires":[["3cd5eb71.4ab374"],[]]},{"id":"b5d6f5d1.61cdb8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":300,"wires":[["677e358.4544ecc"],[]]},{"id":"ba3a69f4.1a5408","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":360,"wires":[["3198ae17.43de12"],[]]},{"id":"83aa47a7.c7b688","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":420,"wires":[["51d0c8cd.2d6c18"],[]]},{"id":"6f8b1745.a21858","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":480,"wires":[["58d5d071.e2376"],[]]},{"id":"20969f9a.4edc4","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":540,"wires":[["e55ef6d9.6159a8"],[]]},{"id":"2e4842c3.7d92ee","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":600,"wires":[["13239c64.e784c4"],[]]},{"id":"ae2cc942.35fa28","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":660,"wires":[["53f274b6.9adebc"],[]]},{"id":"fe760afc.270cb8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":720,"wires":[["9d06512c.a6da8"],[]]},{"id":"c11fd322.c9514","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":780,"wires":[["5e3ba122.418c2"],[]]},{"id":"94b21358.22f8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":840,"wires":[["298bc0dd.0d58c"],[]]},{"id":"3f28a4d5.cb73fc","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":900,"wires":[["f84b3e7d.31049"],[]]},{"id":"6927bd86.1197c4","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":960,"wires":[["36cf7bce.e90be4"],[]]},{"id":"d7dc8703.cf8e08","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_baska","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":240,"wires":[["f606fadd.15ec08"],[]]},{"id":"bf32ec03.d3e0a","type":"poll-state","z":"e1bdc24e.24117","name":"Jozko - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_jr","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":360,"wires":[["ba3a69f4.1a5408"],[]]},{"id":"5fd7686f.1296f8","type":"poll-state","z":"e1bdc24e.24117","name":"Kizik - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_kizik","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":480,"wires":[["6f8b1745.a21858"],[]]},{"id":"276e5c6.23acaa4","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_majko","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":600,"wires":[["2e4842c3.7d92ee"],[]]},{"id":"a2c007ff.2088f8","type":"poll-state","z":"e1bdc24e.24117","name":"Schied - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_schied","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":720,"wires":[["fe760afc.270cb8"],[]]},{"id":"5edc95fd.7572cc","type":"poll-state","z":"e1bdc24e.24117","name":"Scotty - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_scotty","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":840,"wires":[["94b21358.22f8"],[]]},{"id":"4c7efb61.77aff4","type":"poll-state","z":"e1bdc24e.24117","name":"Sony - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_sony","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":960,"wires":[["6927bd86.1197c4"],[]]},{"id":"ebd33ff2.f6dd1","type":"comment","z":"e1bdc24e.24117","name":"Birthdays","info":"","x":80,"y":20,"wires":[]},{"id":"8f54e052.63997","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_baska","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":60,"wires":[["54c1af79.a7692"],[]]},{"id":"67eb2e07.719c5","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_majko","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":180,"wires":[["b6437b88.ac1058"],[]]},{"id":"54c1af79.a7692","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":60,"wires":[["ce944695.000468"],[]]},{"id":"26b3c42c.0c05dc","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":120,"wires":[["8315c248.38d15"],[]]},{"id":"b6437b88.ac1058","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":180,"wires":[["6e5c2721.60b778"],[]]},{"id":"9b73d017.6adbf","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":240,"wires":[["e53c12d0.885ec"],[]]},{"id":"85368150.87426","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_baska","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":120,"wires":[["26b3c42c.0c05dc"],[]]},{"id":"7c0c84c5.17a87c","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_majko","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":240,"wires":[["9b73d017.6adbf"],[]]},{"id":"92e70ad8.280078","type":"comment","z":"e1bdc24e.24117","name":"Namesdays","info":"","x":910,"y":20,"wires":[]},{"id":"f90a1c3.e7205e","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":380,"wires":[["7a9a2930.2cdb68"],[]]},{"id":"5c60f182.d1c76","type":"poll-state","z":"e1bdc24e.24117","name":"Paper - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_paper","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":380,"wires":[["f90a1c3.e7205e"],[]]},{"id":"3455c0d0.171d","type":"poll-state","z":"e1bdc24e.24117","name":"Plastic - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_plastic","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":500,"wires":[["34114911.d5a0c6"],[]]},{"id":"3009c6b1.497e0a","type":"poll-state","z":"e1bdc24e.24117","name":"Paper - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_paper","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":440,"wires":[["1e1c5f1a.1a66b1"],[]]},{"id":"a289914e.08a09","type":"poll-state","z":"e1bdc24e.24117","name":"Glass - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_glass","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":920,"y":620,"wires":[["7aa5ce81.d1abe"],[]]},{"id":"1e1c5f1a.1a66b1","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":440,"wires":[["3d807788.e23ff8"],[]]},{"id":"34114911.d5a0c6","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":500,"wires":[["6b776059.6ec39"],[]]},{"id":"e12b249.314fdd8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":560,"wires":[["995fc19f.b89a9"],[]]},{"id":"7aa5ce81.d1abe","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":620,"wires":[["ef97dfa.945092"],[]]},{"id":"9d7c85d3.fa0a28","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":680,"wires":[["44a3ada6.c61074"],[]]},{"id":"178aa5e1.8fb04a","type":"poll-state","z":"e1bdc24e.24117","name":"Plastic - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_plastic","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":920,"y":560,"wires":[["e12b249.314fdd8"],[]]},{"id":"dd32bcaf.ac81","type":"poll-state","z":"e1bdc24e.24117","name":"Glass - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_glass","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":680,"wires":[["9d7c85d3.fa0a28"],[]]},{"id":"d403263d.a2b108","type":"comment","z":"e1bdc24e.24117","name":"Garbage","info":"","x":900,"y":340,"wires":[]},{"id":"6ec576d0.7b0c68","type":"comment","z":"e42f20b0.67a18","name":"False Alarm","info":"","x":90,"y":780,"wires":[]},{"id":"22cab330.f6b2bc","type":"server-state-changed","z":"e42f20b0.67a18","name":"False Alarm","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.false_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":820,"wires":[["b45cdff0.f21b2","30af974d.42b238"],[]]},{"id":"b45cdff0.f21b2","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_falsealarm_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":820,"wires":[[]]},{"id":"30af974d.42b238","type":"api-call-service","z":"e42f20b0.67a18","name":"Notification Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_falsealarm_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":350,"y":880,"wires":[[]]},{"id":"ce944695.000468","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_ban_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":60,"wires":[[]]},{"id":"6e5c2721.60b778","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_man_row_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":180,"wires":[[]]},{"id":"8315c248.38d15","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_ban_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":120,"wires":[[]]},{"id":"7a9a2930.2cdb68","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_pap_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":380,"wires":[[]]},{"id":"3d807788.e23ff8","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_pap_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":440,"wires":[[]]},{"id":"6b776059.6ec39","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_plc_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":500,"wires":[[]]},{"id":"995fc19f.b89a9","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_plc_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":560,"wires":[[]]},{"id":"ef97dfa.945092","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_gla_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":620,"wires":[[]]},{"id":"44a3ada6.c61074","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_gla_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":680,"wires":[[]]},{"id":"d0a46736.2c8038","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_aib_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":60,"wires":[[]]},{"id":"1591ed04.174953","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_aib_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":120,"wires":[[]]},{"id":"910780a8.d3c88","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_bab_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":180,"wires":[[]]},{"id":"3cd5eb71.4ab374","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_bab_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":240,"wires":[[]]},{"id":"677e358.4544ecc","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_jrb_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":300,"wires":[[]]},{"id":"3198ae17.43de12","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_jrb_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":360,"wires":[[]]},{"id":"51d0c8cd.2d6c18","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_kib_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":420,"wires":[[]]},{"id":"58d5d071.e2376","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_kib_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":480,"wires":[[]]},{"id":"53f274b6.9adebc","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_shb_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":660,"wires":[[]]},{"id":"9d06512c.a6da8","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_shb_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":720,"wires":[[]]},{"id":"5e3ba122.418c2","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_scb_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":780,"wires":[[]]},{"id":"298bc0dd.0d58c","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_scb_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":840,"wires":[[]]},{"id":"f84b3e7d.31049","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_sob_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":900,"wires":[[]]},{"id":"36cf7bce.e90be4","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_sob_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":960,"wires":[[]]},{"id":"b0fc38fd.3f37c8","type":"ha-get-entities","z":"10386b8a.c4f214","server":"38986ee9.3f9642","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1090,"y":800,"wires":[["38d6f17e.930bfe"]]},{"id":"38d6f17e.930bfe","type":"template","z":"10386b8a.c4f214","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1120,"y":760,"wires":[["a6b91e5d.806e6"]]},{"id":"a6b91e5d.806e6","type":"join","z":"10386b8a.c4f214","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":720,"wires":[["e85d6eec.7d403","f992d96e.f38a48"]]},{"id":"e85d6eec.7d403","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"android_mi","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":720,"wires":[[]]},{"id":"f992d96e.f38a48","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":780,"wires":[[]]},{"id":"6e79f2ff.fe214c","type":"comment","z":"10386b8a.c4f214","name":"Empty House Alert","info":"","x":390,"y":680,"wires":[]},{"id":"ebd4c2f8.93704","type":"trigger-state","z":"10386b8a.c4f214","name":"Leave Home","server":"38986ee9.3f9642","entityid":"group.life360","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3igunpd28sh","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"vy4xrpz1zu","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":590,"y":720,"wires":[[],[]]},{"id":"25b1ff41.13695","type":"server-events","z":"10386b8a.c4f214","name":"Empty Home","server":"38986ee9.3f9642","event_type":"","x":370,"y":720,"wires":[[]]},{"id":"9d126aa7.514dd8","type":"api-current-state","z":"10386b8a.c4f214","name":"Guest Mode","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":830,"y":720,"wires":[[],[]]},{"id":"13145d58.5c1523","type":"server-state-changed","z":"e42f20b0.67a18","name":"Living","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":80,"wires":[["d102b17f.d8af"],[]]},{"id":"9ef2a222.4ab3","type":"server-state-changed","z":"e42f20b0.67a18","name":"Office","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":500,"wires":[["f09cbc24.e1e93"],[]]},{"id":"3a530370.31228c","type":"server-state-changed","z":"e42f20b0.67a18","name":"Entry","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":140,"wires":[["520cef68.443c"],[]]},{"id":"a9fbf5d.71f8d08","type":"server-state-changed","z":"e42f20b0.67a18","name":"Pantry","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":200,"wires":[["2e403a20.8e0f26"],[]]},{"id":"527030c6.26b8f","type":"server-state-changed","z":"e42f20b0.67a18","name":"Kitchen1","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":260,"wires":[["33f73eea.60fd12"],[]]},{"id":"8f9003af.6fb0a","type":"server-state-changed","z":"e42f20b0.67a18","name":"Kitchen2","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":320,"wires":[["5d21602b.0636e"],[]]},{"id":"51a94719.408bf8","type":"server-state-changed","z":"e42f20b0.67a18","name":"Bed1","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":380,"wires":[["18904c36.8db994"],[]]},{"id":"d892d60d.7f6888","type":"server-state-changed","z":"e42f20b0.67a18","name":"Bed2","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":440,"wires":[["f957f7f1.8c9828"],[]]},{"id":"7e1207ee.d59298","type":"server-state-changed","z":"e42f20b0.67a18","name":"Bath","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":560,"wires":[["1905431b.31d61d"],[]]},{"id":"effbc293.06849","type":"server-state-changed","z":"e42f20b0.67a18","name":"Guest","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":620,"wires":[["1a1c0763.747889"],[]]},{"id":"2d9e4b79.c1ef44","type":"server-state-changed","z":"e42f20b0.67a18","name":"Tech","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":680,"wires":[["a4f01cf4.b4fb3"],[]]},{"id":"e53c12d0.885ec","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_man_tod_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":240,"wires":[[]]},{"id":"e55ef6d9.6159a8","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_mab_row_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":540,"wires":[[]]},{"id":"13239c64.e784c4","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_mab_tod_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":600,"wires":[[]]},{"id":"328b46cf.dbc48a","type":"server-state-changed","z":"5c9c346b.82280c","name":"IL","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.inside_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":800,"wires":[["8e007e18.cfcb4"],["94915e5f.e4498"]]},{"id":"8e007e18.cfcb4","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.inside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":800,"wires":[[]]},{"id":"b6fa0b73.1bdc68","type":"comment","z":"5c9c346b.82280c","name":"Booleans","info":"","x":80,"y":760,"wires":[]},{"id":"94915e5f.e4498","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.inside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":860,"wires":[[]]},{"id":"a0397e91.fefd2","type":"server-state-changed","z":"5c9c346b.82280c","name":"OL","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.outside_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1040,"wires":[["e8d14ed4.872e1"],["a80a5bc2.1c9538"]]},{"id":"e8d14ed4.872e1","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1040,"wires":[[]]},{"id":"a80a5bc2.1c9538","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1100,"wires":[[]]},{"id":"7b290f73.93231","type":"server-state-changed","z":"5c9c346b.82280c","name":"GL","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.gateway_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":920,"wires":[["c6174968.7d1f38"],["622921be.cc48f"]]},{"id":"c6174968.7d1f38","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.gateway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":920,"wires":[[]]},{"id":"622921be.cc48f","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.gateway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":980,"wires":[[]]},{"id":"70d103c3.b2dc6c","type":"server-state-changed","z":"5c9c346b.82280c","name":"PC","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.pcs","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1160,"wires":[["8026f916.6d96d8"],["ad93b6bb.1ad4a8"]]},{"id":"8026f916.6d96d8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.pcs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1160,"wires":[[]]},{"id":"ad93b6bb.1ad4a8","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.pcs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1220,"wires":[[]]},{"id":"17ae8760.9e52a9","type":"server-state-changed","z":"5c9c346b.82280c","name":"Sleep","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.sleep_booleans","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":550,"y":800,"wires":[["50d10ad4.61efb4"],["78996680.54f748"]]},{"id":"50d10ad4.61efb4","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":800,"wires":[[]]},{"id":"78996680.54f748","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":860,"wires":[[]]},{"id":"d59fd9fb.d9a2f8","type":"server-state-changed","z":"5c9c346b.82280c","name":"Home","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.home_booleans","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":550,"y":920,"wires":[["7f4377a5.0bf9a8"],["8767a21b.8e5ff"]]},{"id":"7f4377a5.0bf9a8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":920,"wires":[[]]},{"id":"8767a21b.8e5ff","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":980,"wires":[[]]},{"id":"33e3cdea.3bcd82","type":"server-state-changed","z":"5c9c346b.82280c","name":"BD","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.family","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":800,"wires":[["f5388866.686808"],["a36648cb.d775d8"]]},{"id":"f5388866.686808","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.family","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":800,"wires":[[]]},{"id":"a36648cb.d775d8","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.family","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":860,"wires":[[]]},{"id":"7108b64f.3bb308","type":"server-state-changed","z":"5c9c346b.82280c","name":"ND","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.namesdays","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":1040,"wires":[["42411921.1cdbf8"],["2e52303b.08bb9"]]},{"id":"42411921.1cdbf8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.namesdays","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1040,"wires":[[]]},{"id":"2e52303b.08bb9","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.namesdays","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1100,"wires":[[]]},{"id":"daec576e.23a488","type":"server-state-changed","z":"5c9c346b.82280c","name":"FBD","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.friends","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":920,"wires":[["985c16da.2bbba8"],["c084d304.a8e2c"]]},{"id":"985c16da.2bbba8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.friends","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":920,"wires":[[]]},{"id":"c084d304.a8e2c","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.friends","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":980,"wires":[[]]},{"id":"8394ebb7.146f78","type":"server-state-changed","z":"5c9c346b.82280c","name":"PC","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.garbage","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":1160,"wires":[["cae57314.1feea"],["923ff1b7.0a5b4"]]},{"id":"cae57314.1feea","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1160,"wires":[[]]},{"id":"923ff1b7.0a5b4","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1220,"wires":[[]]}]