Discarded.json
[{"id":"10386b8a.c4f214","type":"tab","label":"Discarded","disabled":false,"info":""},{"id":"fdfbd608.74a238","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Bedroom1","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":110,"y":440,"wires":[[]]},{"id":"9ec0c87d.db0f98","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Bedroom2","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":110,"y":500,"wires":[[]]},{"id":"78536237.58488c","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Entry","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":200,"wires":[[]]},{"id":"25e95787.cf33d8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Guestroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":110,"y":620,"wires":[[]]},{"id":"ac1c6be3.a0c498","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Kitchen1","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":100,"y":320,"wires":[[]]},{"id":"e34a26d5.9b7298","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Kitchen2","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":100,"y":380,"wires":[[]]},{"id":"b96ae9ec.bf9ba8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Livingroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":110,"y":140,"wires":[[]]},{"id":"b69963d9.bc6a5","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Office","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":560,"wires":[[]]},{"id":"a47d9b57.77afc8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Pantry","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":260,"wires":[[]]},{"id":"5811e096.9210a","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Techroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":100,"y":680,"wires":[[]]},{"id":"a11006bb.56f6a8","type":"ha-wait-until","z":"10386b8a.c4f214","name":"Bathroom","server":"38986ee9.3f9642","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":100,"y":80,"wires":[[]]},{"id":"2e7a69af.c96be6","type":"comment","z":"10386b8a.c4f214","name":"Condition - Opened 5+ Minutes","info":"","x":170,"y":40,"wires":[]},{"id":"98fe593d.0f1aa8","type":"ha-get-entities","z":"10386b8a.c4f214","server":"38986ee9.3f9642","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1170,"y":400,"wires":[["eee8febd.9e98f"]]},{"id":"eee8febd.9e98f","type":"template","z":"10386b8a.c4f214","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1200,"y":360,"wires":[["c1bb636f.9a445"]]},{"id":"c1bb636f.9a445","type":"join","z":"10386b8a.c4f214","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":320,"wires":[["c3550bd8.49ae18","77208aec.26a5a4"]]},{"id":"c3550bd8.49ae18","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"android_mi","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1470,"y":320,"wires":[[]]},{"id":"77208aec.26a5a4","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1470,"y":380,"wires":[[]]},{"id":"42162ded.85d7c4","type":"stoptimer","z":"10386b8a.c4f214","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":340,"wires":[["4c3a8ef2.cc2c6"],[]]},{"id":"4c3a8ef2.cc2c6","type":"traffic","z":"10386b8a.c4f214","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":850,"y":400,"wires":[["98fe593d.0f1aa8"]]},{"id":"5fddf6a4.82c778","type":"switch","z":"10386b8a.c4f214","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":340,"wires":[["42162ded.85d7c4"],["4c3a8ef2.cc2c6"]]},{"id":"f6d303ca.7211f","type":"stoptimer","z":"10386b8a.c4f214","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":220,"wires":[["720c15b6.935cac"],[]]},{"id":"720c15b6.935cac","type":"traffic","z":"10386b8a.c4f214","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":850,"y":280,"wires":[["98fe593d.0f1aa8"]]},{"id":"3dd7d372.d3371c","type":"switch","z":"10386b8a.c4f214","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":280,"wires":[["f6d303ca.7211f"],["720c15b6.935cac"]]},{"id":"b58d21f4.f7f48","type":"poll-state","z":"10386b8a.c4f214","name":"Baska H","server":"38986ee9.3f9642","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_baska","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":280,"wires":[[]]},{"id":"d37634b6.858e28","type":"poll-state","z":"10386b8a.c4f214","name":"Majko H","server":"38986ee9.3f9642","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_majkeey","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":340,"wires":[[]]},{"id":"2e72a091.e49a9","type":"comment","z":"10386b8a.c4f214","name":"Condition - Home 1+ Minutes","info":"","x":500,"y":240,"wires":[]},{"id":"220091be.e6f58e","type":"comment","z":"10386b8a.c4f214","name":"Action - Notification","info":"","x":1190,"y":280,"wires":[]},{"id":"8dd99f03.c9769","type":"trigger","z":"10386b8a.c4f214","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":440,"wires":[["4c3a8ef2.cc2c6"]]},{"id":"30bfa53f.9d38ea","type":"trigger","z":"10386b8a.c4f214","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":400,"wires":[["720c15b6.935cac"]]},{"id":"d26a3ddb.ca6f7","type":"inject","z":"10386b8a.c4f214","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":600,"wires":[["8ac94aa6.3699f8"]]},{"id":"8ac94aa6.3699f8","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":600,"wires":[[]]},{"id":"b0fc38fd.3f37c8","type":"ha-get-entities","z":"10386b8a.c4f214","server":"38986ee9.3f9642","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1090,"y":800,"wires":[["38d6f17e.930bfe"]]},{"id":"38d6f17e.930bfe","type":"template","z":"10386b8a.c4f214","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1120,"y":760,"wires":[["a6b91e5d.806e6"]]},{"id":"a6b91e5d.806e6","type":"join","z":"10386b8a.c4f214","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":720,"wires":[["e85d6eec.7d403","f992d96e.f38a48"]]},{"id":"e85d6eec.7d403","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"android_mi","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":720,"wires":[[]]},{"id":"f992d96e.f38a48","type":"api-call-service","z":"10386b8a.c4f214","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":780,"wires":[[]]},{"id":"6e79f2ff.fe214c","type":"comment","z":"10386b8a.c4f214","name":"Empty House Alert","info":"","x":390,"y":680,"wires":[]},{"id":"ebd4c2f8.93704","type":"trigger-state","z":"10386b8a.c4f214","name":"Leave Home","server":"38986ee9.3f9642","entityid":"group.life360","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3igunpd28sh","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"vy4xrpz1zu","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":590,"y":720,"wires":[[],[]]},{"id":"25b1ff41.13695","type":"server-events","z":"10386b8a.c4f214","name":"Empty Home","server":"38986ee9.3f9642","event_type":"","x":370,"y":720,"wires":[[]]},{"id":"9d126aa7.514dd8","type":"api-current-state","z":"10386b8a.c4f214","name":"Guest Mode","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":830,"y":720,"wires":[[],[]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]