doors_windows.json
[{"id":"1c2d2f43.2840a1","type":"tab","label":"Opened Windows","disabled":false,"info":""},{"id":"f345fd3f.b0172","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Bedroom1","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":750,"y":460,"wires":[["32da879f.887108"]]},{"id":"b1a5fb63.431bb8","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Bedroom2","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":750,"y":520,"wires":[["32da879f.887108"]]},{"id":"7571966f.adf138","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":730,"y":220,"wires":[["32da879f.887108"]]},{"id":"966d72a5.dc8e4","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Guestroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":750,"y":640,"wires":[["32da879f.887108"]]},{"id":"117d6fe5.b2779","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Kitchen1","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":740,"y":340,"wires":[["32da879f.887108"]]},{"id":"ac4071c.9def99","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Kitchen2","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":740,"y":400,"wires":[["32da879f.887108"]]},{"id":"7e384ecb.841f8","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Livingroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":750,"y":160,"wires":[["32da879f.887108"]]},{"id":"7d66a413.b8489c","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Office","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":730,"y":580,"wires":[["32da879f.887108"]]},{"id":"d13dd9a4.f527b8","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Pantry","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":730,"y":280,"wires":[["32da879f.887108"]]},{"id":"93541e7e.8b178","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Techroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":740,"y":700,"wires":[["32da879f.887108"]]},{"id":"cfd29097.6ddca","type":"switch","z":"1c2d2f43.2840a1","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":380,"wires":[["93541e7e.8b178","bdbacf96.07f21","7e384ecb.841f8","7571966f.adf138","d13dd9a4.f527b8","117d6fe5.b2779","ac4071c.9def99","f345fd3f.b0172","b1a5fb63.431bb8","7d66a413.b8489c","966d72a5.dc8e4"]]},{"id":"bdbacf96.07f21","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Bathroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":740,"y":100,"wires":[["32da879f.887108"]]},{"id":"7d52a06.c2d676","type":"comment","z":"1c2d2f43.2840a1","name":"5 Minutes Winter Alerts","info":"","x":120,"y":40,"wires":[]},{"id":"32da879f.887108","type":"ha-get-entities","z":"1c2d2f43.2840a1","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1030,"y":380,"wires":[["3c0c8ffa.59453"]]},{"id":"3c0c8ffa.59453","type":"template","z":"1c2d2f43.2840a1","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1254,"y":380,"wires":[["808f931d.32a8a"]]},{"id":"808f931d.32a8a","type":"join","z":"1c2d2f43.2840a1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1424,"y":380,"wires":[["240d2531.f8c23a","abbd221e.d3cfd","9201b23b.d1e41"]]},{"id":"240d2531.f8c23a","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1620,"y":320,"wires":[[]]},{"id":"abbd221e.d3cfd","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1630,"y":380,"wires":[[]]},{"id":"9201b23b.d1e41","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_majkeey_op6_2","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1630,"y":440,"wires":[[]]},{"id":"928b8c15.5baa5","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":220,"wires":[["d7f2e4c.62aed18"]]},{"id":"9fa67198.e69a6","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Living Room","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":160,"wires":[["d7f2e4c.62aed18"]]},{"id":"6a5180cf.8ea66","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Pantry","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":280,"wires":[["d7f2e4c.62aed18"]]},{"id":"8920dfb.c27a82","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen1","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":340,"wires":[["d7f2e4c.62aed18"]]},{"id":"b09195a4.f3c248","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen2","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":400,"wires":[["d7f2e4c.62aed18"]]},{"id":"71f9c594.8209fc","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bedroom1","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":460,"wires":[["d7f2e4c.62aed18"]]},{"id":"389987f4.aad548","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bedroom2","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":520,"wires":[["d7f2e4c.62aed18"]]},{"id":"df57172c.8f8cc8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Office","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":580,"wires":[["d7f2e4c.62aed18"]]},{"id":"b8f9c4be.b55598","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bathroom","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":100,"wires":[["d7f2e4c.62aed18"]]},{"id":"51a7d46c.c0c02c","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Guest Room","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":640,"wires":[["d7f2e4c.62aed18"]]},{"id":"64fdd71b.e26908","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Tech Room","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":700,"wires":[["d7f2e4c.62aed18"]]},{"id":"d7f2e4c.62aed18","type":"bigtimer","z":"1c2d2f43.2840a1","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.682576","lon":"21.309294","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":false,"may":true,"jun":false,"jul":true,"aug":false,"sep":false,"oct":false,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":340,"y":380,"wires":[["cfd29097.6ddca"],[],[]]},{"id":"42b39414.1c3d3c","type":"ha-get-entities","z":"1c2d2f43.2840a1","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":330,"y":880,"wires":[["17a971b7.3500ce"]]},{"id":"17a971b7.3500ce","type":"template","z":"1c2d2f43.2840a1","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":554,"y":880,"wires":[["cd5a4730.b3b5e8"]]},{"id":"cd5a4730.b3b5e8","type":"join","z":"1c2d2f43.2840a1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":724,"y":880,"wires":[["570f3d1c.a1be64","20a13b76.c77784","67a81c20.a49b04"]]},{"id":"570f3d1c.a1be64","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":920,"y":820,"wires":[[]]},{"id":"20a13b76.c77784","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":930,"y":880,"wires":[[]]},{"id":"67a81c20.a49b04","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_majkeey_op6_2","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":930,"y":940,"wires":[[]]},{"id":"54477b98.12c474","type":"comment","z":"1c2d2f43.2840a1","name":"Empty House Alert","info":"","x":110,"y":820,"wires":[]},{"id":"7d146210.06d75c","type":"trigger-state","z":"1c2d2f43.2840a1","name":"Leave Home","server":"5723580.cc4d6a8","entityid":"group.all_devices","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3igunpd28sh","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"vy4xrpz1zu","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":880,"wires":[["42b39414.1c3d3c"],[]]},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]