doorbell.json
[{"id":"515d47f7.adf6a8","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"ea710df7.2cd7a","type":"switch","z":"515d47f7.adf6a8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":180,"wires":[["3f4650ad.441c7","5e3cdb16.b99cd4","74a50799.a7d7e8","259d4064.5bccb"],["3f4650ad.441c7","5e3cdb16.b99cd4","74a50799.a7d7e8","259d4064.5bccb"],["3f4650ad.441c7","5e3cdb16.b99cd4","74a50799.a7d7e8","259d4064.5bccb"]]},{"id":"3f4650ad.441c7","type":"api-call-service","z":"515d47f7.adf6a8","name":"Notification PC","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"html5","data":"{\"message\":\"Someone's at the door!\",\"title\":\"Doorbell\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":80,"wires":[[]]},{"id":"5e3cdb16.b99cd4","type":"api-current-state","z":"515d47f7.adf6a8","name":"Home Occupancy","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":440,"wires":[["8dc779d9.edbe18","be4f9b44.4b5c38","4a67c1d5.45b47","6877335.ba8cecc","22ef5c9e.6efbc4","e72805c.3f2daf8","e0ec5f3e.a27b2","2f08a8d8.fca8b8","113969be.aab9d6","e3d498b5.4c6e48","13ef4d9.ec284b2","59a99777.2d6b38","1e6004b3.b0d65b","950fc72d.f338d8"],[]]},{"id":"8dc779d9.edbe18","type":"api-call-service","z":"515d47f7.adf6a8","name":"Doorbell GW1","server":"f3e6760b.8b0bf8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"40\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":660,"wires":[[]]},{"id":"f1eb0e44.2f9f9","type":"switch","z":"515d47f7.adf6a8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_doorbell","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["ea710df7.2cd7a"]]},{"id":"6d1c8222.f47a9c","type":"server-events","z":"515d47f7.adf6a8","name":"Doorbell","server":"f3e6760b.8b0bf8","event_type":"","x":80,"y":80,"wires":[["f1eb0e44.2f9f9"]]},{"id":"13b1d3c.988352c","type":"comment","z":"515d47f7.adf6a8","name":"Doorbell","info":"","x":80,"y":40,"wires":[]},{"id":"22ef5c9e.6efbc4","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect On Office","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":260,"wires":[[]]},{"id":"e72805c.3f2daf8","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":320,"wires":[["a3f10ee4.1a83e"]]},{"id":"dc5cdde1.a5d1f","type":"api-call-service","z":"515d47f7.adf6a8","name":"Turn Off Office","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":380,"wires":[[]]},{"id":"a3f10ee4.1a83e","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect Off Office","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":320,"wires":[[]]},{"id":"e0ec5f3e.a27b2","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["dc5cdde1.a5d1f"]]},{"id":"2f08a8d8.fca8b8","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect On Livingroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":440,"wires":[[]]},{"id":"113969be.aab9d6","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["8e9ce951.5ca218"]]},{"id":"37d00c14.8bd4c4","type":"api-call-service","z":"515d47f7.adf6a8","name":"Turn Off Livingroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":560,"wires":[[]]},{"id":"8e9ce951.5ca218","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect Off Livingroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":500,"wires":[[]]},{"id":"e3d498b5.4c6e48","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":560,"wires":[["37d00c14.8bd4c4"]]},{"id":"13ef4d9.ec284b2","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect On Guestroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":620,"wires":[[]]},{"id":"59a99777.2d6b38","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["22b443e.5a1efbc"]]},{"id":"452cf83c.324298","type":"api-call-service","z":"515d47f7.adf6a8","name":"Turn Off Guestroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1300,"y":740,"wires":[[]]},{"id":"22b443e.5a1efbc","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect Off Guestroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":680,"wires":[[]]},{"id":"1e6004b3.b0d65b","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":740,"wires":[["452cf83c.324298"]]},{"id":"be4f9b44.4b5c38","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect On Bedroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1070,"y":80,"wires":[[]]},{"id":"4a67c1d5.45b47","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":140,"wires":[["54c91ad.faf22e4"]]},{"id":"99ab26db.6c6168","type":"api-call-service","z":"515d47f7.adf6a8","name":"Turn Off Bedroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":200,"wires":[[]]},{"id":"54c91ad.faf22e4","type":"api-call-service","z":"515d47f7.adf6a8","name":"Effect Off Bedroom","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":140,"wires":[[]]},{"id":"6877335.ba8cecc","type":"delay","z":"515d47f7.adf6a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":200,"wires":[["99ab26db.6c6168"]]},{"id":"950fc72d.f338d8","type":"api-call-service","z":"515d47f7.adf6a8","name":"Doorbell GW2","server":"f3e6760b.8b0bf8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"30\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":720,"wires":[[]]},{"id":"23d89561.7cf89a","type":"comment","z":"515d47f7.adf6a8","name":"Action - Lights","info":"","x":1050,"y":40,"wires":[]},{"id":"d8d39cdc.30584","type":"comment","z":"515d47f7.adf6a8","name":"Action - Sound","info":"","x":380,"y":620,"wires":[]},{"id":"60f8f938.862178","type":"comment","z":"515d47f7.adf6a8","name":"Action - Notification","info":"","x":550,"y":40,"wires":[]},{"id":"74a50799.a7d7e8","type":"api-call-service","z":"515d47f7.adf6a8","name":"Notification Baska","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_mi","data":"{\"message\":\"Someone's at the door!\",\"title\":\"DOORBELL\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":140,"wires":[[]]},{"id":"259d4064.5bccb","type":"api-call-service","z":"515d47f7.adf6a8","name":"Notification Majko","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_majkeey_op6_2","data":"{\"message\":\"Someone's at the door!\",\"title\":\"DOORBELL\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":200,"wires":[[]]},{"id":"59a41611.df4ed8","type":"comment","z":"515d47f7.adf6a8","name":"Home Occupancy Condition","info":"","x":300,"y":400,"wires":[]},{"id":"f3e6760b.8b0bf8","type":"server","z":"","name":"HA","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]