doorbell.json
[{"id":"36dfc6af.49d81a","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"2e90a9c2.0bce06","type":"switch","z":"36dfc6af.49d81a","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":180,"wires":[["4576f0f0.03008","f3e01530.1913d8","f996deb9.bf317","d8066371.bcdbc"],["4576f0f0.03008","f3e01530.1913d8","f996deb9.bf317","d8066371.bcdbc"],["4576f0f0.03008","f3e01530.1913d8","f996deb9.bf317","d8066371.bcdbc"]]},{"id":"4576f0f0.03008","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Someone's at the door!\",\"title\":\"Doorbell\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":80,"wires":[[]]},{"id":"f3e01530.1913d8","type":"api-current-state","z":"36dfc6af.49d81a","name":"Home Occupancy","server":"5723580.cc4d6a8","outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":440,"wires":[["8d1c1477.883998","cf2d69ef.8e19f8","e2f99fb5.35fab","632516d7.8dd2d8","c7938f2.ce3757","2a9a219c.46296e","14367e21.5762e2","46bce7e1.b54358","a083c5e4.726718","1a4e8466.4467dc","a2d77eef.1a3f3","e7ed62bf.019b4","f758907c.1c4be","9339356a.faa958"],[]]},{"id":"8d1c1477.883998","type":"api-call-service","z":"36dfc6af.49d81a","name":"Doorbell GW1","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"40\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":660,"wires":[[]]},{"id":"ed69a927.3dc4c8","type":"switch","z":"36dfc6af.49d81a","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_doorbell","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["2e90a9c2.0bce06"]]},{"id":"9fcf51ff.d5ea","type":"server-events","z":"36dfc6af.49d81a","name":"Doorbell","server":"5723580.cc4d6a8","event_type":"","x":80,"y":80,"wires":[["ed69a927.3dc4c8"]]},{"id":"eb5b0b34.103a28","type":"comment","z":"36dfc6af.49d81a","name":"Doorbell","info":"","x":80,"y":40,"wires":[]},{"id":"c7938f2.ce3757","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":260,"wires":[[]]},{"id":"2a9a219c.46296e","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":320,"wires":[["a2f4c281.49f01"]]},{"id":"c5c073c6.81333","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":380,"wires":[[]]},{"id":"a2f4c281.49f01","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":320,"wires":[[]]},{"id":"14367e21.5762e2","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["c5c073c6.81333"]]},{"id":"46bce7e1.b54358","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":440,"wires":[[]]},{"id":"a083c5e4.726718","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["cfc71b10.f49318"]]},{"id":"e726d002.4bdb9","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":560,"wires":[[]]},{"id":"cfc71b10.f49318","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":500,"wires":[[]]},{"id":"1a4e8466.4467dc","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":560,"wires":[["e726d002.4bdb9"]]},{"id":"a2d77eef.1a3f3","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":620,"wires":[[]]},{"id":"e7ed62bf.019b4","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["cfdb465d.a88e58"]]},{"id":"68a6088.5a327f8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1300,"y":740,"wires":[[]]},{"id":"cfdb465d.a88e58","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":680,"wires":[[]]},{"id":"f758907c.1c4be","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":740,"wires":[["68a6088.5a327f8"]]},{"id":"cf2d69ef.8e19f8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1070,"y":80,"wires":[[]]},{"id":"e2f99fb5.35fab","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":140,"wires":[["455ac1d6.03e7d"]]},{"id":"4d07a8c2.5988e8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":200,"wires":[[]]},{"id":"455ac1d6.03e7d","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":140,"wires":[[]]},{"id":"632516d7.8dd2d8","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":200,"wires":[["4d07a8c2.5988e8"]]},{"id":"9339356a.faa958","type":"api-call-service","z":"36dfc6af.49d81a","name":"Doorbell GW2","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"30\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":720,"wires":[[]]},{"id":"e7d9922f.a3b9e","type":"comment","z":"36dfc6af.49d81a","name":"Action - Lights","info":"","x":1050,"y":40,"wires":[]},{"id":"3c101492.a5031c","type":"comment","z":"36dfc6af.49d81a","name":"Action - Sound","info":"","x":380,"y":620,"wires":[]},{"id":"995afc85.8cd4a","type":"comment","z":"36dfc6af.49d81a","name":"Action - Notification","info":"","x":550,"y":40,"wires":[]},{"id":"f996deb9.bf317","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"Someone's at the door!\",\"title\":\"DOORBELL\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":140,"wires":[[]]},{"id":"d8066371.bcdbc","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_majkeey_op6_2","data":"{\"message\":\"Someone's at the door!\",\"title\":\"DOORBELL\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":200,"wires":[[]]},{"id":"df5839fd.b1d158","type":"comment","z":"36dfc6af.49d81a","name":"Home Occupancy Condition","info":"","x":300,"y":400,"wires":[]},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]