Doorbell.json
[{"id":"c22154cb.20a7a8","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"4368e1f3.990b","type":"switch","z":"c22154cb.20a7a8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":180,"wires":[["14e7931.7d4f66d","8e07f598.b49098","a9f76416.9b94a8","29dbdb2b.3c2704"],["14e7931.7d4f66d","8e07f598.b49098","a9f76416.9b94a8","29dbdb2b.3c2704"],["14e7931.7d4f66d","8e07f598.b49098","a9f76416.9b94a8","29dbdb2b.3c2704"]]},{"id":"14e7931.7d4f66d","type":"api-call-service","z":"c22154cb.20a7a8","name":"Notification PC","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"{\"message\":\"Someone's at the door!\",\"title\":\"Doorbell\",\"target\":[\"BaskaPC\",\"MarianPC\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":80,"wires":[[]]},{"id":"8e07f598.b49098","type":"api-current-state","z":"c22154cb.20a7a8","name":"Home Occupancy","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":true,"x":270,"y":440,"wires":[[],["f5b47cf6.05bb3","ecc658fc.7ba518","68622a95.37bb54","6216878e.66d228","b164b5d4.7f3e18","b9fff82.6ef6d08","15ab4335.41e40d","89e05504.bff158","97e6f017.c3695","378b0226.bf25be","d7e6e4d5.2919b8","cb374e59.11c1","cef46d8e.2954a","21cd32fd.e9ad6e"]]},{"id":"f5b47cf6.05bb3","type":"api-call-service","z":"c22154cb.20a7a8","name":"Doorbell GW1","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"40\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":660,"wires":[[]]},{"id":"1818e2c8.3e93ad","type":"switch","z":"c22154cb.20a7a8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_doorbell","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["4368e1f3.990b"]]},{"id":"213aad9a.0b5042","type":"server-events","z":"c22154cb.20a7a8","name":"Doorbell","server":"38986ee9.3f9642","event_type":"","x":80,"y":80,"wires":[["1818e2c8.3e93ad"]]},{"id":"7a466487.4e281c","type":"comment","z":"c22154cb.20a7a8","name":"Trigger - Doorbell","info":"","x":100,"y":40,"wires":[]},{"id":"b164b5d4.7f3e18","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1060,"y":260,"wires":[[]]},{"id":"b9fff82.6ef6d08","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":320,"wires":[["1e6ffb09.207385"]]},{"id":"91ef3856.966fb8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce008baff3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1280,"y":380,"wires":[[]]},{"id":"1e6ffb09.207385","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Office","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce008baff3","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1240,"y":320,"wires":[[]]},{"id":"15ab4335.41e40d","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["91ef3856.966fb8"]]},{"id":"89e05504.bff158","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":440,"wires":[[]]},{"id":"97e6f017.c3695","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["e8da7165.44511"]]},{"id":"cdaa39a7.8b7ce8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc6815ae","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":560,"wires":[[]]},{"id":"e8da7165.44511","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Livingroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc6815ae","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1260,"y":500,"wires":[[]]},{"id":"378b0226.bf25be","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":560,"wires":[["cdaa39a7.8b7ce8"]]},{"id":"d7e6e4d5.2919b8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":620,"wires":[[]]},{"id":"cb374e59.11c1","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["5c064987.229338"]]},{"id":"540e0492.6b327c","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_34ce00900f3e","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1300,"y":740,"wires":[[]]},{"id":"5c064987.229338","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Guestroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_34ce00900f3e","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1260,"y":680,"wires":[[]]},{"id":"cef46d8e.2954a","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":740,"wires":[["540e0492.6b327c"]]},{"id":"ecc658fc.7ba518","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect On Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Strobe color\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":80,"wires":[[]]},{"id":"68622a95.37bb54","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":140,"wires":[["3d5e2799.e489b8"]]},{"id":"99ac863a.77bfa8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Turn Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color1_7811dc68270d","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":200,"wires":[[]]},{"id":"3d5e2799.e489b8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Effect Off Bedroom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color1_7811dc68270d","data":"{\"effect\":\"Stop\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":140,"wires":[[]]},{"id":"6216878e.66d228","type":"delay","z":"c22154cb.20a7a8","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":200,"wires":[["99ac863a.77bfa8"]]},{"id":"21cd32fd.e9ad6e","type":"api-call-service","z":"c22154cb.20a7a8","name":"Doorbell GW2","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"30\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":380,"y":720,"wires":[[]]},{"id":"f1fde9a.7974318","type":"comment","z":"c22154cb.20a7a8","name":"Action - Lights","info":"","x":1050,"y":40,"wires":[]},{"id":"2b8c740b.91918c","type":"comment","z":"c22154cb.20a7a8","name":"Action - Sound","info":"","x":380,"y":620,"wires":[]},{"id":"8959875c.0b2588","type":"comment","z":"c22154cb.20a7a8","name":"Action - Notification","info":"","x":550,"y":40,"wires":[]},{"id":"a9f76416.9b94a8","type":"api-call-service","z":"c22154cb.20a7a8","name":"Notification Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_doorbell_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":200,"wires":[[]]},{"id":"212caa03.e385b6","type":"comment","z":"c22154cb.20a7a8","name":"Condition - Home Occupancy","info":"","x":300,"y":400,"wires":[]},{"id":"29dbdb2b.3c2704","type":"api-call-service","z":"c22154cb.20a7a8","name":"Notification Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_doorbell_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":140,"wires":[[]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]