doors_windows.json
[{"id":"5d7e39f4.d2ad38","type":"tab","label":"Opened Windows","disabled":false,"info":""},{"id":"5f594873.e8b408","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":160,"wires":[["87136448.157f18"]]},{"id":"66d5819c.deda6","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Bedroom1","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":490,"y":460,"wires":[["31c79113.e61a4e"]]},{"id":"e87786f.08d3378","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Bedroom2","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":490,"y":520,"wires":[["9b554bf3.eb4e38"]]},{"id":"45186e5b.502e9","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Entry","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":470,"y":220,"wires":[["161f104a.e4078"]]},{"id":"7ec40a6b.37aef4","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Guestroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":490,"y":640,"wires":[["6c8dc8b9.fdf128"]]},{"id":"490f12e6.5dc72c","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Kitchen1","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":480,"y":340,"wires":[["eb1d87b4.7b2298"]]},{"id":"edd26db4.450b2","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Kitchen2","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":480,"y":400,"wires":[["5351ba63.6eebb4"]]},{"id":"87136448.157f18","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Livingroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":490,"y":160,"wires":[["120e5ed.363aaa1"]]},{"id":"eede1b08.4f7158","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Office","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":470,"y":580,"wires":[["ab6da404.52e968"]]},{"id":"3a9482a7.78fdde","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Pantry","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":470,"y":280,"wires":[["892d124e.dac3e"]]},{"id":"d1ca6c0b.2f74a","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Techroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":480,"y":700,"wires":[["ab1776da.43db98"]]},{"id":"3c344daf.9978e2","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":220,"wires":[["45186e5b.502e9"]]},{"id":"a8ab428b.01807","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":280,"wires":[["3a9482a7.78fdde"]]},{"id":"81b0fe2a.ddc5d","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":340,"wires":[["490f12e6.5dc72c"]]},{"id":"3ecc1a30.709826","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":400,"wires":[["edd26db4.450b2"]]},{"id":"e0f59cbf.31587","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":460,"wires":[["66d5819c.deda6"]]},{"id":"8716023d.94a6c","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":520,"wires":[["e87786f.08d3378"]]},{"id":"3ae6ee62.466b32","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":580,"wires":[["eede1b08.4f7158"]]},{"id":"fbcd328c.7f331","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":640,"wires":[["7ec40a6b.37aef4"]]},{"id":"882a6292.7b934","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":700,"wires":[["d1ca6c0b.2f74a"]]},{"id":"3c96889f.a72c18","type":"switch","z":"5d7e39f4.d2ad38","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":100,"wires":[["62dac9ad.6a1918"]]},{"id":"62dac9ad.6a1918","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Bathroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":480,"y":100,"wires":[["16aec9c8.350266"]]},{"id":"73d6cb3.dac8034","type":"comment","z":"5d7e39f4.d2ad38","name":"5 Minutes Alerts","info":"","x":100,"y":40,"wires":[]},{"id":"7a193a40.834264","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Entry","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":220,"wires":[["3c344daf.9978e2"]]},{"id":"5d62e041.2fada","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Living Room","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":160,"wires":[["5f594873.e8b408"]]},{"id":"b96d853c.732c48","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Pantry","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":280,"wires":[["a8ab428b.01807"]]},{"id":"e73d7606.7d8528","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Kitchen1","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":340,"wires":[["81b0fe2a.ddc5d"]]},{"id":"8b9ad5ac.087828","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Kitchen2","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":400,"wires":[["3ecc1a30.709826"]]},{"id":"2a55908e.b9b51","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Bedroom1","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":460,"wires":[["e0f59cbf.31587"]]},{"id":"49f759d1.26a0d8","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Bedroom2","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":520,"wires":[["8716023d.94a6c"]]},{"id":"c65dfd4c.37ada","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Office","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":580,"wires":[["3ae6ee62.466b32"]]},{"id":"ee914ac2.88c228","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Bathroom","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":100,"wires":[["3c96889f.a72c18"]]},{"id":"d57393fb.a8ecc","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Guest Room","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":640,"wires":[["fbcd328c.7f331"]]},{"id":"1535105e.9a743","type":"server-state-changed","z":"5d7e39f4.d2ad38","name":"Tech Room","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":700,"wires":[["882a6292.7b934"]]},{"id":"5f8e4540.31bf2c","type":"ha-get-entities","z":"5d7e39f4.d2ad38","server":"f3e6760b.8b0bf8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1150,"y":100,"wires":[["e2ec08a.1d327f8"]]},{"id":"e2ec08a.1d327f8","type":"template","z":"5d7e39f4.d2ad38","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1374,"y":100,"wires":[["487d7a34.733124"]]},{"id":"487d7a34.733124","type":"join","z":"5d7e39f4.d2ad38","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1544,"y":100,"wires":[["f66af160.7c66d","f604ac90.30ed3","613866c3.4b3e08"]]},{"id":"f66af160.7c66d","type":"api-call-service","z":"5d7e39f4.d2ad38","name":"Notification PC","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1740,"y":40,"wires":[[]]},{"id":"f604ac90.30ed3","type":"api-call-service","z":"5d7e39f4.d2ad38","name":"Notification Baska","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_mi","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1750,"y":100,"wires":[[]]},{"id":"613866c3.4b3e08","type":"api-call-service","z":"5d7e39f4.d2ad38","name":"Notification Majko","server":"f3e6760b.8b0bf8","service_domain":"notify","service":"mobile_app_majkeey_op6_2","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1750,"y":160,"wires":[[]]},{"id":"16aec9c8.350266","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":100,"wires":[["e321851e.168298"]]},{"id":"34aace9b.9ac442","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Bedroom1","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":890,"y":460,"wires":[["5f8e4540.31bf2c"]]},{"id":"3def3440.98559c","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Bedroom2","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":890,"y":520,"wires":[["5f8e4540.31bf2c"]]},{"id":"ad8ccf49.e4d5b","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Entry","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":870,"y":220,"wires":[["5f8e4540.31bf2c"]]},{"id":"db6fe296.3d341","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Guestroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":890,"y":640,"wires":[["5f8e4540.31bf2c"]]},{"id":"5555ec48.189fc4","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Kitchen1","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":880,"y":340,"wires":[["5f8e4540.31bf2c"]]},{"id":"14fe2936.73c3a7","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Kitchen2","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":880,"y":400,"wires":[["5f8e4540.31bf2c"]]},{"id":"5f77523e.59f7dc","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Livingroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":890,"y":160,"wires":[["5f8e4540.31bf2c"]]},{"id":"d41f153f.5878a8","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Office","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":870,"y":580,"wires":[["5f8e4540.31bf2c"]]},{"id":"d6c3bcbb.80b8b","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Pantry","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":870,"y":280,"wires":[["5f8e4540.31bf2c"]]},{"id":"bb1edd73.c9cc7","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Techroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":880,"y":700,"wires":[["5f8e4540.31bf2c"]]},{"id":"e321851e.168298","type":"ha-wait-until","z":"5d7e39f4.d2ad38","name":"Bathroom","server":"f3e6760b.8b0bf8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":880,"y":100,"wires":[["5f8e4540.31bf2c"]]},{"id":"120e5ed.363aaa1","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":160,"wires":[["5f77523e.59f7dc"]]},{"id":"161f104a.e4078","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":220,"wires":[["ad8ccf49.e4d5b"]]},{"id":"892d124e.dac3e","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":280,"wires":[["d6c3bcbb.80b8b"]]},{"id":"eb1d87b4.7b2298","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":340,"wires":[["5555ec48.189fc4"]]},{"id":"5351ba63.6eebb4","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":400,"wires":[["14fe2936.73c3a7"]]},{"id":"31c79113.e61a4e","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":460,"wires":[["34aace9b.9ac442"]]},{"id":"9b554bf3.eb4e38","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":520,"wires":[["3def3440.98559c"]]},{"id":"ab6da404.52e968","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":580,"wires":[["d41f153f.5878a8"]]},{"id":"6c8dc8b9.fdf128","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":640,"wires":[["db6fe296.3d341"]]},{"id":"ab1776da.43db98","type":"delay","z":"5d7e39f4.d2ad38","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":700,"wires":[["bb1edd73.c9cc7"]]},{"id":"f3e6760b.8b0bf8","type":"server","z":"","name":"HA","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]