Holidays.json
[{"id":"e1bdc24e.24117","type":"tab","label":"Day Reminders","disabled":false,"info":""},{"id":"a6ac96e1.9db318","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":60,"wires":[["d0a46736.2c8038"],[]]},{"id":"679d9031.aa3aa","type":"poll-state","z":"e1bdc24e.24117","name":"Aisha - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_aisha","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":60,"wires":[["a6ac96e1.9db318"],[]]},{"id":"2a3183d6.d7997c","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_baska","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":180,"wires":[["ab5bf3c2.6bd31"],[]]},{"id":"52cd023f.6fa0fc","type":"poll-state","z":"e1bdc24e.24117","name":"Aisha - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_aisha","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":120,"wires":[["33d8bcf7.45b6a4"],[]]},{"id":"9ee16fcc.9cc32","type":"poll-state","z":"e1bdc24e.24117","name":"Jozko - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_jr","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":300,"wires":[["b5d6f5d1.61cdb8"],[]]},{"id":"1c6b33a1.72058c","type":"poll-state","z":"e1bdc24e.24117","name":"Kizik - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_kizik","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":420,"wires":[["83aa47a7.c7b688"],[]]},{"id":"ed0c1adf.1f03c8","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_majko","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":540,"wires":[["20969f9a.4edc4"],[]]},{"id":"8320d0e5.0be15","type":"poll-state","z":"e1bdc24e.24117","name":"Schied - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_schied","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":660,"wires":[["ae2cc942.35fa28"],[]]},{"id":"316ca2bf.4f52be","type":"poll-state","z":"e1bdc24e.24117","name":"Scotty - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_scotty","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":110,"y":780,"wires":[["c11fd322.c9514"],[]]},{"id":"7988fd98.1024c4","type":"poll-state","z":"e1bdc24e.24117","name":"Sony - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_sony","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":900,"wires":[["3f28a4d5.cb73fc"],[]]},{"id":"33d8bcf7.45b6a4","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":120,"wires":[["1591ed04.174953"],[]]},{"id":"ab5bf3c2.6bd31","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":180,"wires":[["910780a8.d3c88"],[]]},{"id":"f606fadd.15ec08","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":240,"wires":[["3cd5eb71.4ab374"],[]]},{"id":"b5d6f5d1.61cdb8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":300,"wires":[["677e358.4544ecc"],[]]},{"id":"ba3a69f4.1a5408","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":360,"wires":[["3198ae17.43de12"],[]]},{"id":"83aa47a7.c7b688","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":420,"wires":[["51d0c8cd.2d6c18"],[]]},{"id":"6f8b1745.a21858","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":480,"wires":[["58d5d071.e2376"],[]]},{"id":"20969f9a.4edc4","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":540,"wires":[["e55ef6d9.6159a8"],[]]},{"id":"2e4842c3.7d92ee","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":600,"wires":[["13239c64.e784c4"],[]]},{"id":"ae2cc942.35fa28","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":660,"wires":[["53f274b6.9adebc"],[]]},{"id":"fe760afc.270cb8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":720,"wires":[["9d06512c.a6da8"],[]]},{"id":"c11fd322.c9514","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":780,"wires":[["5e3ba122.418c2"],[]]},{"id":"94b21358.22f8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":840,"wires":[["298bc0dd.0d58c"],[]]},{"id":"3f28a4d5.cb73fc","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":900,"wires":[["f84b3e7d.31049"],[]]},{"id":"6927bd86.1197c4","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":330,"y":960,"wires":[["36cf7bce.e90be4"],[]]},{"id":"d7dc8703.cf8e08","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_baska","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":240,"wires":[["f606fadd.15ec08"],[]]},{"id":"bf32ec03.d3e0a","type":"poll-state","z":"e1bdc24e.24117","name":"Jozko - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_jr","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":360,"wires":[["ba3a69f4.1a5408"],[]]},{"id":"5fd7686f.1296f8","type":"poll-state","z":"e1bdc24e.24117","name":"Kizik - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_kizik","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":480,"wires":[["6f8b1745.a21858"],[]]},{"id":"276e5c6.23acaa4","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_majko","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":600,"wires":[["2e4842c3.7d92ee"],[]]},{"id":"a2c007ff.2088f8","type":"poll-state","z":"e1bdc24e.24117","name":"Schied - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_schied","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":720,"wires":[["fe760afc.270cb8"],[]]},{"id":"5edc95fd.7572cc","type":"poll-state","z":"e1bdc24e.24117","name":"Scotty - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_scotty","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":840,"wires":[["94b21358.22f8"],[]]},{"id":"4c7efb61.77aff4","type":"poll-state","z":"e1bdc24e.24117","name":"Sony - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.birthday_sony","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":90,"y":960,"wires":[["6927bd86.1197c4"],[]]},{"id":"ebd33ff2.f6dd1","type":"comment","z":"e1bdc24e.24117","name":"Birthdays","info":"","x":80,"y":20,"wires":[]},{"id":"8f54e052.63997","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_baska","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":60,"wires":[["54c1af79.a7692"],[]]},{"id":"67eb2e07.719c5","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_majko","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":180,"wires":[["b6437b88.ac1058"],[]]},{"id":"54c1af79.a7692","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":60,"wires":[["ce944695.000468"],[]]},{"id":"26b3c42c.0c05dc","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":120,"wires":[["8315c248.38d15"],[]]},{"id":"b6437b88.ac1058","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":180,"wires":[["6e5c2721.60b778"],[]]},{"id":"9b73d017.6adbf","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":240,"wires":[["e53c12d0.885ec"],[]]},{"id":"85368150.87426","type":"poll-state","z":"e1bdc24e.24117","name":"Baska - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_baska","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":120,"wires":[["26b3c42c.0c05dc"],[]]},{"id":"7c0c84c5.17a87c","type":"poll-state","z":"e1bdc24e.24117","name":"Majko - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.namesday_majko","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":240,"wires":[["9b73d017.6adbf"],[]]},{"id":"92e70ad8.280078","type":"comment","z":"e1bdc24e.24117","name":"Namesdays","info":"","x":910,"y":20,"wires":[]},{"id":"f90a1c3.e7205e","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":380,"wires":[["7a9a2930.2cdb68"],[]]},{"id":"5c60f182.d1c76","type":"poll-state","z":"e1bdc24e.24117","name":"Paper - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_paper","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":380,"wires":[["f90a1c3.e7205e"],[]]},{"id":"3455c0d0.171d","type":"poll-state","z":"e1bdc24e.24117","name":"Plastic - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_plastic","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":930,"y":500,"wires":[["34114911.d5a0c6"],[]]},{"id":"3009c6b1.497e0a","type":"poll-state","z":"e1bdc24e.24117","name":"Paper - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_paper","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":440,"wires":[["1e1c5f1a.1a66b1"],[]]},{"id":"a289914e.08a09","type":"poll-state","z":"e1bdc24e.24117","name":"Glass - Tomorrow","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_glass","state_type":"str","halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":920,"y":620,"wires":[["7aa5ce81.d1abe"],[]]},{"id":"1e1c5f1a.1a66b1","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":440,"wires":[["3d807788.e23ff8"],[]]},{"id":"34114911.d5a0c6","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":500,"wires":[["6b776059.6ec39"],[]]},{"id":"e12b249.314fdd8","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":560,"wires":[["995fc19f.b89a9"],[]]},{"id":"7aa5ce81.d1abe","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":620,"wires":[["ef97dfa.945092"],[]]},{"id":"9d7c85d3.fa0a28","type":"time-range-switch","z":"e1bdc24e.24117","name":"10AM","lat":"48.682576","lon":"21.309294","startTime":"09:59","endTime":"10:00","startOffset":0,"endOffset":0,"x":1150,"y":680,"wires":[["44a3ada6.c61074"],[]]},{"id":"178aa5e1.8fb04a","type":"poll-state","z":"e1bdc24e.24117","name":"Plastic - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_plastic","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":920,"y":560,"wires":[["e12b249.314fdd8"],[]]},{"id":"dd32bcaf.ac81","type":"poll-state","z":"e1bdc24e.24117","name":"Glass - Today","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"59","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.waste_glass","state_type":"str","halt_if":"today","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":910,"y":680,"wires":[["9d7c85d3.fa0a28"],[]]},{"id":"d403263d.a2b108","type":"comment","z":"e1bdc24e.24117","name":"Garbage","info":"","x":900,"y":340,"wires":[]},{"id":"ce944695.000468","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_ban_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":60,"wires":[[]]},{"id":"6e5c2721.60b778","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_man_row_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":180,"wires":[[]]},{"id":"8315c248.38d15","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_ban_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":120,"wires":[[]]},{"id":"7a9a2930.2cdb68","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_pap_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":380,"wires":[[]]},{"id":"3d807788.e23ff8","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_pap_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":440,"wires":[[]]},{"id":"6b776059.6ec39","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_plc_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":500,"wires":[[]]},{"id":"995fc19f.b89a9","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_plc_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":560,"wires":[[]]},{"id":"ef97dfa.945092","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_gla_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":620,"wires":[[]]},{"id":"44a3ada6.c61074","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_gla_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":680,"wires":[[]]},{"id":"d0a46736.2c8038","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_aib_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":60,"wires":[[]]},{"id":"1591ed04.174953","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_aib_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":120,"wires":[[]]},{"id":"910780a8.d3c88","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_bab_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":180,"wires":[[]]},{"id":"3cd5eb71.4ab374","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_bab_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":240,"wires":[[]]},{"id":"677e358.4544ecc","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_jrb_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":300,"wires":[[]]},{"id":"3198ae17.43de12","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_jrb_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":360,"wires":[[]]},{"id":"51d0c8cd.2d6c18","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_kib_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":420,"wires":[[]]},{"id":"58d5d071.e2376","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_kib_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":480,"wires":[[]]},{"id":"53f274b6.9adebc","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_shb_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":660,"wires":[[]]},{"id":"9d06512c.a6da8","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_shb_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":720,"wires":[[]]},{"id":"5e3ba122.418c2","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_scb_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":780,"wires":[[]]},{"id":"298bc0dd.0d58c","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_scb_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":840,"wires":[[]]},{"id":"f84b3e7d.31049","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_sob_row_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":900,"wires":[[]]},{"id":"36cf7bce.e90be4","type":"api-call-service","z":"e1bdc24e.24117","name":"Majko","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_sob_tod_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":960,"wires":[[]]},{"id":"e53c12d0.885ec","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_man_tod_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":240,"wires":[[]]},{"id":"e55ef6d9.6159a8","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_mab_row_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":540,"wires":[[]]},{"id":"13239c64.e784c4","type":"api-call-service","z":"e1bdc24e.24117","name":"Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_mab_tod_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":600,"wires":[[]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]