lights.json
[{"id":"d2b45e38.e25f8","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"9a01eccd.6dfb","type":"comment","z":"d2b45e38.e25f8","name":"Motion Lights","info":"","x":90,"y":40,"wires":[]},{"id":"33332a1e.909156","type":"server-state-changed","z":"d2b45e38.e25f8","name":"Bathroom Motion","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.motion_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":80,"wires":[["5cc1e1e2.960d7"]]},{"id":"9f0bfa6c.d3c458","type":"switch","z":"d2b45e38.e25f8","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["d2c05622.419858"]]},{"id":"5cc1e1e2.960d7","type":"time-range-switch","z":"d2b45e38.e25f8","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":80,"wires":[["9f0bfa6c.d3c458"],[]]},{"id":"d2c05622.419858","type":"api-call-service","z":"d2b45e38.e25f8","name":"Bathroom Main On","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_bathroommain\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":80,"wires":[[]]},{"id":"99054c2e.70746","type":"server-state-changed","z":"d2b45e38.e25f8","name":"Outside Motion","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.motion_sensor_outside","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":280,"wires":[["7e7795a1.387d3c"]]},{"id":"3729f4fa.a26c6c","type":"switch","z":"d2b45e38.e25f8","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["d2120dbe.9a33b"],["a9316c11.37e92"]]},{"id":"7e7795a1.387d3c","type":"time-range-switch","z":"d2b45e38.e25f8","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":280,"wires":[["3729f4fa.a26c6c"],[]]},{"id":"7353bc74.a89f74","type":"comment","z":"d2b45e38.e25f8","name":"Automations","info":"","x":90,"y":600,"wires":[]},{"id":"d2120dbe.9a33b","type":"api-call-service","z":"d2b45e38.e25f8","name":"Outside Light On","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1088,"y":267,"wires":[[]]},{"id":"a9316c11.37e92","type":"api-call-service","z":"d2b45e38.e25f8","name":"Outside Light Off","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1088,"y":327,"wires":[[]]},{"id":"c80b5b66.880388","type":"api-call-service","z":"d2b45e38.e25f8","name":"Livingroom Light On","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":640,"wires":[[]]},{"id":"5e61b90a.aedcb8","type":"api-current-state","z":"d2b45e38.e25f8","name":"Light On / Off?","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7811dc6815ae","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":860,"y":640,"wires":[["c80b5b66.880388"],[]]},{"id":"9cd8afa4.0d69","type":"time-range-switch","z":"d2b45e38.e25f8","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":640,"wires":[["5e61b90a.aedcb8"],[]]},{"id":"6537e94f.b80548","type":"server-state-changed","z":"d2b45e38.e25f8","name":"Entry Door","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":740,"wires":[["6c79f4.061b660c"]]},{"id":"6c79f4.061b660c","type":"time-range-switch","z":"d2b45e38.e25f8","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":740,"wires":[["7e9df438.0e0e4c"],[]]},{"id":"7e9df438.0e0e4c","type":"switch","z":"d2b45e38.e25f8","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":740,"wires":[["f0aa5aee.c40dc8"],["f96db10f.3e99a"]]},{"id":"f96db10f.3e99a","type":"delay","z":"d2b45e38.e25f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":800,"wires":[["2c78b44c.523e2c"]]},{"id":"f0aa5aee.c40dc8","type":"api-call-service","z":"d2b45e38.e25f8","name":"Gateway Light On","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":740,"wires":[[]]},{"id":"2c78b44c.523e2c","type":"api-call-service","z":"d2b45e38.e25f8","name":"Gateway Light Off","server":"f3e6760b.8b0bf8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":800,"wires":[[]]},{"id":"8fff947c.eeba48","type":"api-call-service","z":"d2b45e38.e25f8","name":"Livingroom Light Toggle","server":"f3e6760b.8b0bf8","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":900,"wires":[[]]},{"id":"42177baa.9c1db4","type":"comment","z":"d2b45e38.e25f8","name":"Yeelight","info":"","x":70,"y":860,"wires":[]},{"id":"f4c5ac72.6584d","type":"server-state-changed","z":"d2b45e38.e25f8","name":"WC Motion","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.motion_sensor_wc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":200,"wires":[["2692a521.59c0aa"]]},{"id":"2692a521.59c0aa","type":"switch","z":"d2b45e38.e25f8","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":200,"wires":[["d7cd640b.5c3b88"]]},{"id":"d7cd640b.5c3b88","type":"api-call-service","z":"d2b45e38.e25f8","name":"Bathroom Main On","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_wc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":200,"wires":[[]]},{"id":"b01e9482.d23bc8","type":"server-state-changed","z":"d2b45e38.e25f8","name":"Garden Motion","server":"f3e6760b.8b0bf8","entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":440,"wires":[["34b94046.eab02"]]},{"id":"a7a86b81.4fa928","type":"switch","z":"d2b45e38.e25f8","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":440,"wires":[["e50c86ec.56bcc8"],["84a415b.31ccde8"]]},{"id":"34b94046.eab02","type":"time-range-switch","z":"d2b45e38.e25f8","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":440,"wires":[["a7a86b81.4fa928"],[]]},{"id":"e50c86ec.56bcc8","type":"api-call-service","z":"d2b45e38.e25f8","name":"Garden Light On","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1088,"y":427,"wires":[[]]},{"id":"a161bce2.06c39","type":"api-call-service","z":"d2b45e38.e25f8","name":"Garden Light Off","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1078,"y":487,"wires":[[]]},{"id":"d5972217.88002","type":"time-range-switch","z":"d2b45e38.e25f8","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":320,"y":340,"wires":[["5d274ca3.b4f6c4"],[]]},{"id":"5d274ca3.b4f6c4","type":"api-current-state","z":"d2b45e38.e25f8","name":"Light On / Off?","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":600,"y":340,"wires":[["84987ce9.bf8a2"],[]]},{"id":"84a415b.31ccde8","type":"delay","z":"d2b45e38.e25f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":838,"y":467,"wires":[["a161bce2.06c39"]]},{"id":"84987ce9.bf8a2","type":"api-current-state","z":"d2b45e38.e25f8","name":"Unavailable?","server":"f3e6760b.8b0bf8","outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":850,"y":340,"wires":[["a9316c11.37e92"],[]]},{"id":"9953a75e.274cc8","type":"server-state-changed","z":"d2b45e38.e25f8","name":"Outside On?","server":"f3e6760b.8b0bf8","entityidfilter":"light.yeelight_color1_7c49eb12c687","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":340,"wires":[["d5972217.88002"]]},{"id":"800bb6bf.7cc908","type":"poll-state","z":"d2b45e38.e25f8","name":"Dog Light","server":"f3e6760b.8b0bf8","updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"group.all_devices","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":640,"wires":[["9cd8afa4.0d69"],[]]},{"id":"fff6519d.38daf","type":"switch","z":"d2b45e38.e25f8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":900,"wires":[["8fff947c.eeba48"],["8fff947c.eeba48"],["8fff947c.eeba48"]]},{"id":"4f7775d7.1f180c","type":"switch","z":"d2b45e38.e25f8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_livingroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":900,"wires":[["fff6519d.38daf"]]},{"id":"56d1fbcd.4a3da4","type":"server-events","z":"d2b45e38.e25f8","name":"Livingroom Yeelight","server":"f3e6760b.8b0bf8","event_type":"","x":110,"y":900,"wires":[["4f7775d7.1f180c"]]},{"id":"41781484.5628ac","type":"server-state-changed","z":"d2b45e38.e25f8","name":"Manual Turn Off","server":"f3e6760b.8b0bf8","entityidfilter":"switch.wall_switch_bathroommain","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":140,"wires":[["8c4f9d03.b43dd"]]},{"id":"75a72407.7aad1c","type":"change","z":"d2b45e38.e25f8","name":"Manual Override","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"off\"}","tot":"str"},{"t":"set","p":"entityid","pt":"msg","to":"binary_sensor.motion_sensor_bathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[[]]},{"id":"8c4f9d03.b43dd","type":"delay","z":"d2b45e38.e25f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":140,"wires":[["75a72407.7aad1c"]]},{"id":"f3e6760b.8b0bf8","type":"server","z":"","name":"HA","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]