lights.json
[{"id":"6ecd581b.f1bf68","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"e5563c6a.909bb","type":"comment","z":"6ecd581b.f1bf68","name":"Motion Lights","info":"","x":90,"y":40,"wires":[]},{"id":"11a1da58.7c56b6","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Bathroom Motion","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.motion_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":80,"wires":[["322dea81.f44786"]]},{"id":"631f3330.6e3f9c","type":"switch","z":"6ecd581b.f1bf68","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["ed965779.5bb628"]]},{"id":"322dea81.f44786","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":80,"wires":[["631f3330.6e3f9c"],[]]},{"id":"ed965779.5bb628","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Bathroom Main On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_bathroommain\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":80,"wires":[[]]},{"id":"56683b6.b53ccc4","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Outside Motion","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.motion_sensor_outside","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":280,"wires":[["69fb075c.9c1fd8"]]},{"id":"c29eea55.19f6d8","type":"switch","z":"6ecd581b.f1bf68","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["4980c4d3.de47dc"],["4bbe0c98.624134"]]},{"id":"69fb075c.9c1fd8","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":280,"wires":[["c29eea55.19f6d8"],[]]},{"id":"49e837c5.d13688","type":"comment","z":"6ecd581b.f1bf68","name":"Automations","info":"","x":90,"y":560,"wires":[]},{"id":"4980c4d3.de47dc","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Outside Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":260,"wires":[[]]},{"id":"4bbe0c98.624134","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Outside Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1088,"y":327,"wires":[[]]},{"id":"b4ca816e.33c5c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Livingroom Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":600,"wires":[[]]},{"id":"bf428e80.adb74","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7811dc6815ae","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":860,"y":600,"wires":[["b4ca816e.33c5c"],[]]},{"id":"4e5aee8c.576e2","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":600,"wires":[["bf428e80.adb74"],[]]},{"id":"e9b8b831.578888","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Entry Door","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":700,"wires":[["b9428a3d.87dc08"]]},{"id":"b9428a3d.87dc08","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":700,"wires":[["c3d77326.96fb8"],[]]},{"id":"c3d77326.96fb8","type":"switch","z":"6ecd581b.f1bf68","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":700,"wires":[["75877deb.14ae14"],["43155473.be0acc"]]},{"id":"43155473.be0acc","type":"delay","z":"6ecd581b.f1bf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":760,"wires":[["5ea3e4d1.05084c"]]},{"id":"75877deb.14ae14","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":700,"wires":[[]]},{"id":"5ea3e4d1.05084c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":760,"wires":[[]]},{"id":"b09d5337.c321c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Livingroom Light Toggle","server":"5723580.cc4d6a8","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":860,"wires":[[]]},{"id":"f7759632.9f3828","type":"comment","z":"6ecd581b.f1bf68","name":"Yeelight","info":"","x":70,"y":820,"wires":[]},{"id":"7cdcae76.ebb4c","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"WC Motion","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.motion_sensor_wc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":200,"wires":[["6bff15c1.40d17c"]]},{"id":"6bff15c1.40d17c","type":"switch","z":"6ecd581b.f1bf68","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":200,"wires":[["9357bd09.54c2a"]]},{"id":"9357bd09.54c2a","type":"api-call-service","z":"6ecd581b.f1bf68","name":"WC On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_wc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":200,"wires":[[]]},{"id":"d65ca85e.129d18","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Garden Motion","server":"5723580.cc4d6a8","entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":440,"wires":[["5cbb17e3.214b18"]]},{"id":"7bd8ea7e.2be244","type":"switch","z":"6ecd581b.f1bf68","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":440,"wires":[["26fbdc04.096894"],["fe5a1e00.c7a4e"]]},{"id":"5cbb17e3.214b18","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":320,"y":440,"wires":[["7bd8ea7e.2be244"],[]]},{"id":"26fbdc04.096894","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Garden Light On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1088,"y":427,"wires":[[]]},{"id":"5d368e4f.8fba7","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Garden Light Off","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1078,"y":487,"wires":[[]]},{"id":"9bc65bc0.7aa298","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":320,"y":340,"wires":[["65fec546.b6e85c"],[]]},{"id":"65fec546.b6e85c","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":600,"y":340,"wires":[["4475b3c0.5dd46c"],[]]},{"id":"fe5a1e00.c7a4e","type":"delay","z":"6ecd581b.f1bf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":838,"y":467,"wires":[["5d368e4f.8fba7"]]},{"id":"4475b3c0.5dd46c","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Unavailable?","server":"5723580.cc4d6a8","outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":850,"y":340,"wires":[["4bbe0c98.624134"],[]]},{"id":"a6f7723a.0a0d9","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Outside On?","server":"5723580.cc4d6a8","entityidfilter":"light.yeelight_color1_7c49eb12c687","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":340,"wires":[["9bc65bc0.7aa298"]]},{"id":"daaee26a.28ee8","type":"poll-state","z":"6ecd581b.f1bf68","name":"Dog Light","server":"5723580.cc4d6a8","updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"group.all_devices","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":600,"wires":[["4e5aee8c.576e2"],[]]},{"id":"dd5716ce.49c418","type":"switch","z":"6ecd581b.f1bf68","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":860,"wires":[["b09d5337.c321c"],["b09d5337.c321c"],["b09d5337.c321c"]]},{"id":"bafc8d7a.4ff79","type":"switch","z":"6ecd581b.f1bf68","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_livingroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":860,"wires":[["dd5716ce.49c418"]]},{"id":"b87fddbf.f06c","type":"server-events","z":"6ecd581b.f1bf68","name":"Livingroom Yeelight","server":"5723580.cc4d6a8","event_type":"","x":110,"y":860,"wires":[["bafc8d7a.4ff79"]]},{"id":"bc63cf7e.04d9d","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Manual Turn Off","server":"5723580.cc4d6a8","entityidfilter":"switch.wall_switch_bathroommain","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":140,"wires":[["1e40f7ba.b285f8"]]},{"id":"7ecb3af6.2f88e4","type":"change","z":"6ecd581b.f1bf68","name":"Manual Override","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\": \"off\"}","tot":"str"},{"t":"set","p":"entityid","pt":"msg","to":"binary_sensor.motion_sensor_bathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[[]]},{"id":"1e40f7ba.b285f8","type":"delay","z":"6ecd581b.f1bf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":140,"wires":[["7ecb3af6.2f88e4"]]},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]