Lights.json
[{"id":"884ea0db.51b65","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"97749c3f.c6b7f","type":"comment","z":"884ea0db.51b65","name":"Motion Lights","info":"","x":90,"y":40,"wires":[]},{"id":"e7717ca2.6ab1a","type":"server-state-changed","z":"884ea0db.51b65","name":"Bathroom Motion","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.motion_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":80,"wires":[["8e151758.39ab98"]]},{"id":"c2879965.41fbe8","type":"switch","z":"884ea0db.51b65","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["db9b7d2e.380f6"]]},{"id":"8e151758.39ab98","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":80,"wires":[["c2879965.41fbe8"],[]]},{"id":"db9b7d2e.380f6","type":"api-call-service","z":"884ea0db.51b65","name":"Bathroom Main On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wall_switch_bathroommain","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":80,"wires":[[]]},{"id":"579d7804.ced398","type":"server-state-changed","z":"884ea0db.51b65","name":"Outside Motion","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.motion_sensor_outside","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":320,"wires":[["f345f2ab.45e81"]]},{"id":"f1444efa.92d73","type":"switch","z":"884ea0db.51b65","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":320,"wires":[["ee2178a9.c10a78"],["46e15fc3.9f8ab"]]},{"id":"f345f2ab.45e81","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":320,"wires":[["f1444efa.92d73"],[]]},{"id":"49b34298.1c4cac","type":"comment","z":"884ea0db.51b65","name":"Automations","info":"","x":90,"y":660,"wires":[]},{"id":"ee2178a9.c10a78","type":"api-call-service","z":"884ea0db.51b65","name":"Outside Light On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_outside","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":320,"wires":[[]]},{"id":"46e15fc3.9f8ab","type":"api-call-service","z":"884ea0db.51b65","name":"Outside Light Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.light_outside","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":380,"wires":[[]]},{"id":"79a53da3.50f834","type":"api-call-service","z":"884ea0db.51b65","name":"Livingroom Light On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.light_livingroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":700,"wires":[[]]},{"id":"df7655c0.84d9d8","type":"api-current-state","z":"884ea0db.51b65","name":"Light On / Off?","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7811dc6815ae","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":860,"y":700,"wires":[[],["79a53da3.50f834"]]},{"id":"ab74581b.a351e8","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":700,"wires":[["f1081cd7.db2c4"],[]]},{"id":"8d904bf3.9767b8","type":"server-state-changed","z":"884ea0db.51b65","name":"Entry Door","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":780,"wires":[["76ab38a1.27c4f8","e5ab413f.6e785"]]},{"id":"76ab38a1.27c4f8","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":780,"wires":[["6730d938.b07ef8"],[]]},{"id":"6730d938.b07ef8","type":"switch","z":"884ea0db.51b65","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":780,"wires":[["db1294a3.6adbd8"],["4b638eb6.a56c6"]]},{"id":"4b638eb6.a56c6","type":"delay","z":"884ea0db.51b65","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":900,"wires":[["cb16428d.b0b7d"]]},{"id":"c6c86dd5.6f905","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_gateway","data":"{\"color_name\":\"red\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":780,"wires":[[]]},{"id":"cb16428d.b0b7d","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_gateway","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":900,"wires":[[]]},{"id":"e1650bd9.94dfa8","type":"api-call-service","z":"884ea0db.51b65","name":"Livingroom Light Toggle","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.light_livingroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":1120,"wires":[[]]},{"id":"a8dead05.b303f","type":"comment","z":"884ea0db.51b65","name":"Yeelight","info":"","x":70,"y":1080,"wires":[]},{"id":"71454e72.8c536","type":"server-state-changed","z":"884ea0db.51b65","name":"WC Motion","server":"38986ee9.3f9642","version":"1","entityidfilter":"binary_sensor.motion_sensor_wc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":160,"wires":[["cf40b22d.e73a6"]]},{"id":"cf40b22d.e73a6","type":"switch","z":"884ea0db.51b65","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":160,"wires":[["6a64dfa9.5894a"],[]]},{"id":"6a64dfa9.5894a","type":"api-call-service","z":"884ea0db.51b65","name":"WC On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wall_switch_wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":160,"wires":[[]]},{"id":"c19066c9.a72318","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden Motion","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":460,"wires":[["66d0f385.88003c"],[]]},{"id":"6537af9e.214eb","type":"switch","z":"884ea0db.51b65","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":460,"wires":[["b65f5d8f.a15d6"],[]]},{"id":"66d0f385.88003c","type":"time-range-switch","z":"884ea0db.51b65","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":460,"wires":[["6537af9e.214eb"],[]]},{"id":"7a1d94f4.7b746c","type":"api-call-service","z":"884ea0db.51b65","name":"Garden Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.wall_switch_right_gardennew","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":460,"wires":[[]]},{"id":"fc71b9c1.7d2fd8","type":"api-call-service","z":"884ea0db.51b65","name":"Garden Light Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wall_switch_right_gardennew","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":520,"wires":[[]]},{"id":"942b4e24.fa14e","type":"time-range-switch","z":"884ea0db.51b65","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":380,"wires":[["a7f8e19f.9c4c"],[]]},{"id":"a7f8e19f.9c4c","type":"api-current-state","z":"884ea0db.51b65","name":"Unavailable?","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":380,"wires":[[],["46e15fc3.9f8ab"]]},{"id":"5cc8b6de.d93888","type":"server-state-changed","z":"884ea0db.51b65","name":"Outside On?","server":"38986ee9.3f9642","version":1,"entityidfilter":"light.yeelight_color1_7c49eb12c687","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":380,"wires":[["942b4e24.fa14e"],[]]},{"id":"50d8ed58.80b644","type":"poll-state","z":"884ea0db.51b65","name":"Dog Light","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":false,"entity_id":"person.home","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":700,"wires":[[],["ab74581b.a351e8"]]},{"id":"3253e27d.552bee","type":"switch","z":"884ea0db.51b65","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1120,"wires":[["e1650bd9.94dfa8"],["e1650bd9.94dfa8"],["e1650bd9.94dfa8"]]},{"id":"7b4a2cb.7784ad4","type":"switch","z":"884ea0db.51b65","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_livingroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1120,"wires":[["3253e27d.552bee"]]},{"id":"cb83c73.b214238","type":"server-events","z":"884ea0db.51b65","name":"Livingroom Yeelight","server":"38986ee9.3f9642","event_type":"","x":110,"y":1120,"wires":[["7b4a2cb.7784ad4"]]},{"id":"1b462afe.f8dd65","type":"api-call-service","z":"884ea0db.51b65","name":"WC Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wall_switch_wc","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":220,"wires":[[]]},{"id":"db1294a3.6adbd8","type":"api-current-state","z":"884ea0db.51b65","name":"Windows","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":780,"wires":[["c6c86dd5.6f905"],["a44543b7.aba3"]]},{"id":"a44543b7.aba3","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_gateway","data":"{\"color_name\":\"white\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":840,"wires":[[]]},{"id":"e5ab413f.6e785","type":"time-range-switch","z":"884ea0db.51b65","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":960,"wires":[["4447b89c.603328"],[]]},{"id":"c9070a69.4c7bf8","type":"delay","z":"884ea0db.51b65","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1020,"wires":[["7ab56181.aaf75"]]},{"id":"7320e0bf.a65a3","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light On","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_gateway","data":"{\"color_name\":\"red\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":960,"wires":[[]]},{"id":"7ab56181.aaf75","type":"api-call-service","z":"884ea0db.51b65","name":"Gateway Light Off","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_gateway","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":1020,"wires":[[]]},{"id":"4447b89c.603328","type":"switch","z":"884ea0db.51b65","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":960,"wires":[["44b7c6f5.454938"],["c9070a69.4c7bf8"]]},{"id":"44b7c6f5.454938","type":"api-current-state","z":"884ea0db.51b65","name":"Windows","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":960,"wires":[["7320e0bf.a65a3"],[]]},{"id":"f1081cd7.db2c4","type":"api-current-state","z":"884ea0db.51b65","name":"Guest Mode","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":700,"wires":[[],["df7655c0.84d9d8"]]},{"id":"b65f5d8f.a15d6","type":"api-current-state","z":"884ea0db.51b65","name":"Light On / Off?","server":"38986ee9.3f9642","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.wall_switch_right_gardennew","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":860,"y":460,"wires":[["7a1d94f4.7b746c"],[]]},{"id":"da9dec49.071c1","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.wall_switch_right_gardennew","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":520,"wires":[["dde6e836.f35568"],[]]},{"id":"d8689d69.7bcd5","type":"stoptimer","z":"884ea0db.51b65","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":520,"wires":[["be1f7f7a.15fea"],[]]},{"id":"be1f7f7a.15fea","type":"trigger","z":"884ea0db.51b65","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":520,"wires":[["78916a3e.54e504"]]},{"id":"78916a3e.54e504","type":"traffic","z":"884ea0db.51b65","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":730,"y":520,"wires":[["fc71b9c1.7d2fd8"]]},{"id":"dde6e836.f35568","type":"switch","z":"884ea0db.51b65","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":520,"wires":[["d8689d69.7bcd5"],[]]},{"id":"1d10c971.b12317","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.wall_switch_right_gardennew","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":580,"y":560,"wires":[["78916a3e.54e504"],["78916a3e.54e504"]]},{"id":"6bf91156.b2a7c","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_wc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":220,"wires":[["fb70763.56c9488"],[]]},{"id":"119a9acf.d55865","type":"stoptimer","z":"884ea0db.51b65","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":380,"y":220,"wires":[["ddb5274f.cf6e98"],[]]},{"id":"ddb5274f.cf6e98","type":"trigger","z":"884ea0db.51b65","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":560,"y":220,"wires":[["63313f5e.da98b"]]},{"id":"63313f5e.da98b","type":"traffic","z":"884ea0db.51b65","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":730,"y":220,"wires":[["1b462afe.f8dd65"]]},{"id":"fb70763.56c9488","type":"switch","z":"884ea0db.51b65","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":220,"wires":[["119a9acf.d55865"],[]]},{"id":"d9b9d56a.a5fc48","type":"server-state-changed","z":"884ea0db.51b65","name":"Garden On","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wall_switch_wc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":580,"y":260,"wires":[["63313f5e.da98b"],["63313f5e.da98b"]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]