random.json
[{"id":"e748f781.49eef8","type":"tab","label":"Random","disabled":false,"info":""},{"id":"f60022e3.4d764","type":"switch","z":"e748f781.49eef8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["f66d34ee.384bf8"],["96d3f8ae.b7f168"]]},{"id":"a600b4.e089ff5","type":"switch","z":"e748f781.49eef8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeylights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["f60022e3.4d764"]]},{"id":"918ebace.c038d8","type":"server-events","z":"e748f781.49eef8","name":"Majkeey Bedroom","server":"f3e6760b.8b0bf8","event_type":"","x":110,"y":80,"wires":[["a600b4.e089ff5"]]},{"id":"b7a2d35.9a45c3","type":"comment","z":"e748f781.49eef8","name":"Switches","info":"","x":80,"y":40,"wires":[]},{"id":"5a178382.6c9a7c","type":"server-state-changed","z":"e748f781.49eef8","name":"Majkeey PC","server":"f3e6760b.8b0bf8","entityidfilter":"input_select.majkeeypcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":560,"wires":[["ba18b5d7.304ec8"]]},{"id":"ba18b5d7.304ec8","type":"switch","z":"e748f781.49eef8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":560,"wires":[["237aa587.c84d4a"],["964d221e.c8b0c"],["590cadd9.1dd544"],["3de02fe6.05aef"]]},{"id":"237aa587.c84d4a","type":"api-call-service","z":"e748f781.49eef8","name":"Restart","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"restart_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":460,"wires":[[]]},{"id":"964d221e.c8b0c","type":"api-call-service","z":"e748f781.49eef8","name":"Shutdown","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"shutdown_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":520,"wires":[[]]},{"id":"590cadd9.1dd544","type":"api-call-service","z":"e748f781.49eef8","name":"Sleep","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"sleep_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":580,"wires":[[]]},{"id":"3de02fe6.05aef","type":"api-call-service","z":"e748f781.49eef8","name":"Hibernate","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"hibernate_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":640,"wires":[[]]},{"id":"8fab93d6.fe9b9","type":"comment","z":"e748f781.49eef8","name":"Majkeey PC Options","info":"","x":110,"y":460,"wires":[]},{"id":"acdcfe3d.81591","type":"server-state-changed","z":"e748f781.49eef8","name":"Baska PC","server":"f3e6760b.8b0bf8","entityidfilter":"input_select.baskapcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":740,"y":560,"wires":[["d52f05ec.dbc418"]]},{"id":"d52f05ec.dbc418","type":"switch","z":"e748f781.49eef8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":560,"wires":[["40c3c273.1f470c"],["6628d7e8.228c58"],["e061fd8d.3594e"],["d65d2aa0.522a78"]]},{"id":"40c3c273.1f470c","type":"api-call-service","z":"e748f781.49eef8","name":"Restart","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"restart_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":460,"wires":[[]]},{"id":"6628d7e8.228c58","type":"api-call-service","z":"e748f781.49eef8","name":"Shutdown","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"shutdown_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":520,"wires":[[]]},{"id":"e061fd8d.3594e","type":"api-call-service","z":"e748f781.49eef8","name":"Sleep","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"sleep_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":580,"wires":[[]]},{"id":"d65d2aa0.522a78","type":"api-call-service","z":"e748f781.49eef8","name":"Hibernate","server":"f3e6760b.8b0bf8","service_domain":"shell_command","service":"hibernate_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":640,"wires":[[]]},{"id":"17a9d044.128eb","type":"comment","z":"e748f781.49eef8","name":"Baska PC Options","info":"","x":770,"y":460,"wires":[]},{"id":"96d3f8ae.b7f168","type":"api-call-service","z":"e748f781.49eef8","name":"Turn Off ALL Lights","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"group.switchez\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":180,"wires":[[]]},{"id":"f66d34ee.384bf8","type":"api-call-service","z":"e748f781.49eef8","name":"Turn Off Bedrrom","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_left_bedroomleft, switch.wall_switch_right_bedroomright\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":60,"wires":[[]]},{"id":"7b2a6c37.adf5b4","type":"switch","z":"e748f781.49eef8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["f66d34ee.384bf8"],["96d3f8ae.b7f168"]]},{"id":"b361c67c.9a4e68","type":"switch","z":"e748f781.49eef8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_baskalights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":160,"wires":[["7b2a6c37.adf5b4"]]},{"id":"c30b2e16.beb57","type":"server-events","z":"e748f781.49eef8","name":"Baska Bedroom","server":"f3e6760b.8b0bf8","event_type":"","x":100,"y":160,"wires":[["b361c67c.9a4e68"]]},{"id":"6c0ad639.5401c8","type":"switch","z":"e748f781.49eef8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["edc536eb.1e6e38"],["ccdf6a7a.90ec08"]]},{"id":"a56dfe15.33354","type":"switch","z":"e748f781.49eef8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeypc","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":300,"wires":[["6c0ad639.5401c8"]]},{"id":"549c093c.a1ef08","type":"server-events","z":"e748f781.49eef8","name":"Majkeey PC","server":"f3e6760b.8b0bf8","event_type":"","x":90,"y":300,"wires":[["a56dfe15.33354"]]},{"id":"ccdf6a7a.90ec08","type":"api-call-service","z":"e748f781.49eef8","name":"Toggle Majkeey PC","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.pc_majkeey\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":340,"wires":[[]]},{"id":"edc536eb.1e6e38","type":"api-call-service","z":"e748f781.49eef8","name":"Toggle Office Light","server":"f3e6760b.8b0bf8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.wall_switch_left_officeleft\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":280,"wires":[[]]},{"id":"f3e6760b.8b0bf8","type":"server","z":"","name":"HA","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]