Random.json
[{"id":"5c9c346b.82280c","type":"tab","label":"Random","disabled":false,"info":""},{"id":"a9a8a945.9ebc48","type":"switch","z":"5c9c346b.82280c","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["b7715cb5.35e38"],["276d6c97.fdda64"]]},{"id":"6324a38d.05a38c","type":"switch","z":"5c9c346b.82280c","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeylights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["a9a8a945.9ebc48"]]},{"id":"f2d2c870.ca7cf8","type":"server-events","z":"5c9c346b.82280c","name":"Majkeey Bedroom","server":"38986ee9.3f9642","event_type":"","x":110,"y":80,"wires":[["6324a38d.05a38c"]]},{"id":"1a2af718.9f7d59","type":"comment","z":"5c9c346b.82280c","name":"Switches","info":"","x":80,"y":40,"wires":[]},{"id":"47f9a15e.bbdae","type":"server-state-changed","z":"5c9c346b.82280c","name":"Majkeey PC","server":"38986ee9.3f9642","version":"1","entityidfilter":"input_select.majkeeypcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":500,"wires":[["18765e8c.31d611"]]},{"id":"18765e8c.31d611","type":"switch","z":"5c9c346b.82280c","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":560,"wires":[["1668d294.b79c2d"],["bb91316b.63e3c"],["cd1e143.43d6ee8"],["294b7b3c.ee95e4"]]},{"id":"1668d294.b79c2d","type":"api-call-service","z":"5c9c346b.82280c","name":"Restart","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"restart_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":460,"wires":[[]]},{"id":"bb91316b.63e3c","type":"api-call-service","z":"5c9c346b.82280c","name":"Shutdown","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"shutdown_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":520,"wires":[[]]},{"id":"cd1e143.43d6ee8","type":"api-call-service","z":"5c9c346b.82280c","name":"Sleep","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"sleep_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":580,"wires":[[]]},{"id":"294b7b3c.ee95e4","type":"api-call-service","z":"5c9c346b.82280c","name":"Hibernate","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"hibernate_z800","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":640,"wires":[[]]},{"id":"8f812d54.a7caa","type":"comment","z":"5c9c346b.82280c","name":"Majkeey PC Options","info":"","x":110,"y":460,"wires":[]},{"id":"eb8e1a38.40d348","type":"server-state-changed","z":"5c9c346b.82280c","name":"Baska PC","server":"38986ee9.3f9642","version":"1","entityidfilter":"input_select.baskapcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":740,"y":500,"wires":[["63b2fcf3.788144"]]},{"id":"63b2fcf3.788144","type":"switch","z":"5c9c346b.82280c","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":560,"wires":[["e17164d2.ba1ac8"],["53e2b7a2.eefaf8"],["697f66.f581109c"],["a69515ea.9754b8"]]},{"id":"e17164d2.ba1ac8","type":"api-call-service","z":"5c9c346b.82280c","name":"Restart","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"restart_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":460,"wires":[[]]},{"id":"53e2b7a2.eefaf8","type":"api-call-service","z":"5c9c346b.82280c","name":"Shutdown","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"shutdown_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":520,"wires":[[]]},{"id":"697f66.f581109c","type":"api-call-service","z":"5c9c346b.82280c","name":"Sleep","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"sleep_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":580,"wires":[[]]},{"id":"a69515ea.9754b8","type":"api-call-service","z":"5c9c346b.82280c","name":"Hibernate","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"shell_command","service":"hibernate_z850","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1100,"y":640,"wires":[[]]},{"id":"ca6aecd9.633f1","type":"comment","z":"5c9c346b.82280c","name":"Baska PC Options","info":"","x":770,"y":460,"wires":[]},{"id":"276d6c97.fdda64","type":"api-call-service","z":"5c9c346b.82280c","name":"Turn Off ALL Lights","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"group.switchez","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":180,"wires":[[]]},{"id":"b7715cb5.35e38","type":"api-call-service","z":"5c9c346b.82280c","name":"Turn Off Bedrrom","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wall_switch_left_bedroomleft, switch.wall_switch_right_bedroomright","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":60,"wires":[[]]},{"id":"9288da05.96bb28","type":"switch","z":"5c9c346b.82280c","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["b7715cb5.35e38"],["276d6c97.fdda64"]]},{"id":"be1d1d38.0af59","type":"switch","z":"5c9c346b.82280c","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_baskalights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":160,"wires":[["9288da05.96bb28"]]},{"id":"86bcc4a.f3ce638","type":"server-events","z":"5c9c346b.82280c","name":"Baska Bedroom","server":"38986ee9.3f9642","event_type":"","x":100,"y":160,"wires":[["be1d1d38.0af59"]]},{"id":"9c087655.61efa8","type":"switch","z":"5c9c346b.82280c","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["45d78da9.aa1d44"],["1582a53a.dbcacb"]]},{"id":"d58dd33.690193","type":"switch","z":"5c9c346b.82280c","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeypc","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":300,"wires":[["9c087655.61efa8"]]},{"id":"84229a2b.60d128","type":"server-events","z":"5c9c346b.82280c","name":"Majkeey PC","server":"38986ee9.3f9642","event_type":"","x":90,"y":300,"wires":[["d58dd33.690193"]]},{"id":"1582a53a.dbcacb","type":"api-call-service","z":"5c9c346b.82280c","name":"Toggle Majkeey PC","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.pc_majkeey","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":340,"wires":[[]]},{"id":"45d78da9.aa1d44","type":"api-call-service","z":"5c9c346b.82280c","name":"Toggle Office Light","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.wall_switch_left_officeleft","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":280,"wires":[[]]},{"id":"328b46cf.dbc48a","type":"server-state-changed","z":"5c9c346b.82280c","name":"IL","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.inside_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":800,"wires":[["8e007e18.cfcb4"],["94915e5f.e4498"]]},{"id":"8e007e18.cfcb4","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.inside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":800,"wires":[[]]},{"id":"b6fa0b73.1bdc68","type":"comment","z":"5c9c346b.82280c","name":"Booleans","info":"","x":80,"y":760,"wires":[]},{"id":"94915e5f.e4498","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.inside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":860,"wires":[[]]},{"id":"a0397e91.fefd2","type":"server-state-changed","z":"5c9c346b.82280c","name":"OL","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.outside_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1040,"wires":[["e8d14ed4.872e1"],["a80a5bc2.1c9538"]]},{"id":"e8d14ed4.872e1","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1040,"wires":[[]]},{"id":"a80a5bc2.1c9538","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1100,"wires":[[]]},{"id":"7b290f73.93231","type":"server-state-changed","z":"5c9c346b.82280c","name":"GL","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.gateway_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":920,"wires":[["c6174968.7d1f38"],["622921be.cc48f"]]},{"id":"c6174968.7d1f38","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.gateway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":920,"wires":[[]]},{"id":"622921be.cc48f","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.gateway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":980,"wires":[[]]},{"id":"70d103c3.b2dc6c","type":"server-state-changed","z":"5c9c346b.82280c","name":"PC","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.pcs","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1160,"wires":[["8026f916.6d96d8"],["ad93b6bb.1ad4a8"]]},{"id":"8026f916.6d96d8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.pcs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1160,"wires":[[]]},{"id":"ad93b6bb.1ad4a8","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.pcs","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":1220,"wires":[[]]},{"id":"17ae8760.9e52a9","type":"server-state-changed","z":"5c9c346b.82280c","name":"Sleep","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.sleep_booleans","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":550,"y":800,"wires":[["50d10ad4.61efb4"],["78996680.54f748"]]},{"id":"50d10ad4.61efb4","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sleep","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":800,"wires":[[]]},{"id":"78996680.54f748","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sleep","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":860,"wires":[[]]},{"id":"d59fd9fb.d9a2f8","type":"server-state-changed","z":"5c9c346b.82280c","name":"Home","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.home_booleans","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":550,"y":920,"wires":[["7f4377a5.0bf9a8"],["8767a21b.8e5ff"]]},{"id":"7f4377a5.0bf9a8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":920,"wires":[[]]},{"id":"8767a21b.8e5ff","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":980,"wires":[[]]},{"id":"33e3cdea.3bcd82","type":"server-state-changed","z":"5c9c346b.82280c","name":"BD","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.family","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":800,"wires":[["f5388866.686808"],["a36648cb.d775d8"]]},{"id":"f5388866.686808","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.family","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":800,"wires":[[]]},{"id":"a36648cb.d775d8","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.family","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":860,"wires":[[]]},{"id":"7108b64f.3bb308","type":"server-state-changed","z":"5c9c346b.82280c","name":"ND","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.namesdays","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":1040,"wires":[["42411921.1cdbf8"],["2e52303b.08bb9"]]},{"id":"42411921.1cdbf8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.namesdays","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1040,"wires":[[]]},{"id":"2e52303b.08bb9","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.namesdays","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1100,"wires":[[]]},{"id":"daec576e.23a488","type":"server-state-changed","z":"5c9c346b.82280c","name":"FBD","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.friends","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"tomorrow","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":920,"wires":[["985c16da.2bbba8"],["c084d304.a8e2c"]]},{"id":"985c16da.2bbba8","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.friends","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":920,"wires":[[]]},{"id":"c084d304.a8e2c","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.friends","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":980,"wires":[[]]},{"id":"8394ebb7.146f78","type":"server-state-changed","z":"5c9c346b.82280c","name":"PC","server":"38986ee9.3f9642","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.garbage","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1030,"y":1160,"wires":[["cae57314.1feea"],["923ff1b7.0a5b4"]]},{"id":"cae57314.1feea","type":"api-call-service","z":"5c9c346b.82280c","name":"On","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1160,"wires":[[]]},{"id":"923ff1b7.0a5b4","type":"api-call-service","z":"5c9c346b.82280c","name":"Off","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.garbage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":1220,"wires":[[]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]