random.json
[{"id":"60c3892e.4115d8","type":"tab","label":"Random","disabled":false,"info":""},{"id":"fa11a862.ad2b38","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["ef2f5a8.db3e5a8"],["8cf368a3.d30e88"]]},{"id":"d0ee663f.01ab78","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeylights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["fa11a862.ad2b38"]]},{"id":"772fc0bc.29079","type":"server-events","z":"60c3892e.4115d8","name":"Majkeey Bedroom","server":"5723580.cc4d6a8","event_type":"","x":110,"y":80,"wires":[["d0ee663f.01ab78"]]},{"id":"b5144425.f64e68","type":"comment","z":"60c3892e.4115d8","name":"Switches","info":"","x":80,"y":40,"wires":[]},{"id":"f858ec74.cdbac","type":"server-state-changed","z":"60c3892e.4115d8","name":"Majkeey PC","server":"5723580.cc4d6a8","entityidfilter":"input_select.majkeeypcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":560,"wires":[["8ad2198f.b25c68"]]},{"id":"8ad2198f.b25c68","type":"switch","z":"60c3892e.4115d8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":560,"wires":[["6f6eb63c.598688"],["e649fa08.0404e8"],["4c77cf8b.55166"],["bf6d944.857ca68"]]},{"id":"6f6eb63c.598688","type":"api-call-service","z":"60c3892e.4115d8","name":"Restart","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"restart_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":460,"wires":[[]]},{"id":"e649fa08.0404e8","type":"api-call-service","z":"60c3892e.4115d8","name":"Shutdown","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"shutdown_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":520,"wires":[[]]},{"id":"4c77cf8b.55166","type":"api-call-service","z":"60c3892e.4115d8","name":"Sleep","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"sleep_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":580,"wires":[[]]},{"id":"bf6d944.857ca68","type":"api-call-service","z":"60c3892e.4115d8","name":"Hibernate","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"hibernate_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":640,"wires":[[]]},{"id":"53db1229.60732c","type":"comment","z":"60c3892e.4115d8","name":"Majkeey PC Options","info":"","x":110,"y":460,"wires":[]},{"id":"9ab54185.96989","type":"server-state-changed","z":"60c3892e.4115d8","name":"Baska PC","server":"5723580.cc4d6a8","entityidfilter":"input_select.baskapcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":740,"y":560,"wires":[["2ea411d0.65a9ce"]]},{"id":"2ea411d0.65a9ce","type":"switch","z":"60c3892e.4115d8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":560,"wires":[["b2d39a0d.d24ce8"],["2535f573.5f2b4a"],["58491ba0.063514"],["8cb7ede4.09c35"]]},{"id":"b2d39a0d.d24ce8","type":"api-call-service","z":"60c3892e.4115d8","name":"Restart","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"restart_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":460,"wires":[[]]},{"id":"2535f573.5f2b4a","type":"api-call-service","z":"60c3892e.4115d8","name":"Shutdown","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"shutdown_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":520,"wires":[[]]},{"id":"58491ba0.063514","type":"api-call-service","z":"60c3892e.4115d8","name":"Sleep","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"sleep_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":580,"wires":[[]]},{"id":"8cb7ede4.09c35","type":"api-call-service","z":"60c3892e.4115d8","name":"Hibernate","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"hibernate_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":640,"wires":[[]]},{"id":"51f4eb0a.c2f964","type":"comment","z":"60c3892e.4115d8","name":"Baska PC Options","info":"","x":770,"y":460,"wires":[]},{"id":"8cf368a3.d30e88","type":"api-call-service","z":"60c3892e.4115d8","name":"Turn Off ALL Lights","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"group.switchez\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":180,"wires":[[]]},{"id":"ef2f5a8.db3e5a8","type":"api-call-service","z":"60c3892e.4115d8","name":"Turn Off Bedrrom","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_left_bedroomleft, switch.wall_switch_right_bedroomright\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":60,"wires":[[]]},{"id":"83d5b15.70d0c5","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["ef2f5a8.db3e5a8"],["8cf368a3.d30e88"]]},{"id":"4b07ac9c.44fae4","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_baskalights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":160,"wires":[["83d5b15.70d0c5"]]},{"id":"ade365de.058448","type":"server-events","z":"60c3892e.4115d8","name":"Baska Bedroom","server":"5723580.cc4d6a8","event_type":"","x":100,"y":160,"wires":[["4b07ac9c.44fae4"]]},{"id":"1c7fa3f6.19b42c","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["6f01f47f.b1bb8c"],["6895b720.71fd48"]]},{"id":"df7cb8dd.e0cfb8","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeypc","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":300,"wires":[["1c7fa3f6.19b42c"]]},{"id":"380435f6.d69a9a","type":"server-events","z":"60c3892e.4115d8","name":"Majkeey PC","server":"5723580.cc4d6a8","event_type":"","x":90,"y":300,"wires":[["df7cb8dd.e0cfb8"]]},{"id":"6895b720.71fd48","type":"api-call-service","z":"60c3892e.4115d8","name":"Toggle Majkeey PC","server":"5723580.cc4d6a8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.pc_majkeey\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":340,"wires":[[]]},{"id":"6f01f47f.b1bb8c","type":"api-call-service","z":"60c3892e.4115d8","name":"Toggle Office Light","server":"5723580.cc4d6a8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.wall_switch_left_officeleft\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":280,"wires":[[]]},{"id":"8def5ef8.e1f24","type":"api-call-service","z":"60c3892e.4115d8","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_majkeey_op6_2","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":470,"y":800,"wires":[["66e22b9a.1a76e4"]]},{"id":"da6ef6f1.5eba18","type":"inject","z":"60c3892e.4115d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":800,"wires":[["8def5ef8.e1f24"]]},{"id":"66e22b9a.1a76e4","type":"debug","z":"60c3892e.4115d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":800,"wires":[]},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]