windows.json
[{"id":"9674b62c.7a5f48","type":"tab","label":"Alarm Notification","disabled":false,"info":""},{"id":"36dfc6af.49d81a","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"1c2d2f43.2840a1","type":"tab","label":"Opened Windows","disabled":false,"info":""},{"id":"6ecd581b.f1bf68","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"60c3892e.4115d8","type":"tab","label":"Random","disabled":false,"info":""},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"a7bbc08c.09f6f","type":"comment","z":"9674b62c.7a5f48","name":"Door & Window sensors","info":"","x":120,"y":40,"wires":[]},{"id":"d44fd87b.2c2f28","type":"api-current-state","z":"9674b62c.7a5f48","name":"Trackers","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":420,"wires":[["34c9d0e9.e0281"],[]]},{"id":"7bcb6009.27ad","type":"switch","z":"9674b62c.7a5f48","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":360,"wires":[["46b76bd3.205184","b1e61d19.822ab","31c1c71.8523738","5d84da34.53d214","2f2900e4.34aaf","ca9b76e.5404788","4cd3697a.609f08","8ba23398.25f92","82f8b74d.675928","8190e5e5.6dd068","f6baf9a1.96d258","87d939e7.aec0e8","c1d36df8.8cd3d","8e89ca9f.a6c748","64fa5624.3e4e38"]]},{"id":"46b76bd3.205184","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1780,"y":300,"wires":[[]]},{"id":"b1e61d19.822ab","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":360,"wires":[["47404f16.358ba"]]},{"id":"7c185117.16a06","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2000,"y":420,"wires":[[]]},{"id":"47404f16.358ba","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1960,"y":360,"wires":[[]]},{"id":"31c1c71.8523738","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":420,"wires":[["7c185117.16a06"]]},{"id":"5d84da34.53d214","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":480,"wires":[[]]},{"id":"2f2900e4.34aaf","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":540,"wires":[["fcac1f2a.6466d"]]},{"id":"46b5a268.e9ce1c","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":600,"wires":[[]]},{"id":"fcac1f2a.6466d","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":540,"wires":[[]]},{"id":"ca9b76e.5404788","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":600,"wires":[["46b5a268.e9ce1c"]]},{"id":"4cd3697a.609f08","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":660,"wires":[[]]},{"id":"8ba23398.25f92","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["a4849b5e.baf2c8"]]},{"id":"8009168f.7056d8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2020,"y":780,"wires":[[]]},{"id":"a4849b5e.baf2c8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":720,"wires":[[]]},{"id":"82f8b74d.675928","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":780,"wires":[["8009168f.7056d8"]]},{"id":"f6baf9a1.96d258","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1790,"y":120,"wires":[[]]},{"id":"87d939e7.aec0e8","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":180,"wires":[["b2340174.a8068"]]},{"id":"8fc021fd.b7f23","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":240,"wires":[[]]},{"id":"b2340174.a8068","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1970,"y":180,"wires":[[]]},{"id":"c1d36df8.8cd3d","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":240,"wires":[["8fc021fd.b7f23"]]},{"id":"8190e5e5.6dd068","type":"api-call-service","z":"9674b62c.7a5f48","name":"Sound Alaram GW1","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":620,"wires":[[]]},{"id":"34c9d0e9.e0281","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":420,"wires":[["cda136f2.231178"],[]]},{"id":"cda136f2.231178","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":420,"wires":[["4ae44ea4.919fb"],[]]},{"id":"f57afa18.2f4608","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":360,"wires":[["4dd6bf2b.0458c"],[]]},{"id":"48f5879.a482278","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":300,"wires":[["a85f7bb9.38ee18"],[]]},{"id":"70a0bf03.3a2a7","type":"switch","z":"9674b62c.7a5f48","name":"Home M?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":300,"wires":[["e3b4c0b0.3cc1d"],["7bcb6009.27ad"]]},{"id":"a85f7bb9.38ee18","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":300,"wires":[["70a0bf03.3a2a7"]]},{"id":"4dd6bf2b.0458c","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":360,"wires":[["106081ec.c20ece"]]},{"id":"106081ec.c20ece","type":"switch","z":"9674b62c.7a5f48","name":"Home B?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":360,"wires":[["abc427ed.38abb8"],["7bcb6009.27ad"]]},{"id":"abc427ed.38abb8","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":360,"wires":[["7bcb6009.27ad"],[]]},{"id":"e3b4c0b0.3cc1d","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":300,"wires":[["7bcb6009.27ad"],[]]},{"id":"3ab100e6.48d67","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":360,"wires":[["f57afa18.2f4608"],[]]},{"id":"fba20245.53bb3","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":300,"wires":[["48f5879.a482278"],[]]},{"id":"8e89ca9f.a6c748","type":"api-call-service","z":"9674b62c.7a5f48","name":"Sound Alaram GW2","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":680,"wires":[[]]},{"id":"64fa5624.3e4e38","type":"ha-get-entities","z":"9674b62c.7a5f48","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":120,"wires":[["ae7e8888.6c4398"]]},{"id":"ae7e8888.6c4398","type":"template","z":"9674b62c.7a5f48","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1014,"y":120,"wires":[["41a39f17.0ca6"]]},{"id":"41a39f17.0ca6","type":"join","z":"9674b62c.7a5f48","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1184,"y":120,"wires":[["ae0939dd.5e7638","d8fa8142.abf3b"]]},{"id":"df4d8e61.428e7","type":"comment","z":"9674b62c.7a5f48","name":"Action - Notification","info":"","x":830,"y":80,"wires":[]},{"id":"fb8428ca.d969c8","type":"comment","z":"9674b62c.7a5f48","name":"Action - Yeelights","info":"","x":1780,"y":80,"wires":[]},{"id":"973ed568.578448","type":"comment","z":"9674b62c.7a5f48","name":"Action - Sound","info":"","x":820,"y":580,"wires":[]},{"id":"d7b1f376.3ebf5","type":"comment","z":"9674b62c.7a5f48","name":"Home Occupancy Condition","info":"","x":600,"y":260,"wires":[]},{"id":"ae0939dd.5e7638","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}}!\",\"title\":\"ALERT\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1370,"y":80,"wires":[[]]},{"id":"d8fa8142.abf3b","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}}!\",\"title\":\"ALERT\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1370,"y":140,"wires":[[]]},{"id":"d4652f45.58f3f","type":"comment","z":"9674b62c.7a5f48","name":"Water Leak - Tech Room","info":"","x":130,"y":840,"wires":[]},{"id":"af79c948.1d48a8","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Water Leak","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.water_leak_sensor_techroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":880,"wires":[["d17d7c9e.5619f"]]},{"id":"17706f5.d643991","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":880,"wires":[[]]},{"id":"2e8c2901.d6d736","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":940,"wires":[[]]},{"id":"b0e2d13e.82efa","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":1000,"wires":[[]]},{"id":"d17d7c9e.5619f","type":"switch","z":"9674b62c.7a5f48","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":880,"wires":[["b0e2d13e.82efa","17706f5.d643991","2e8c2901.d6d736"]]},{"id":"2e90a9c2.0bce06","type":"switch","z":"36dfc6af.49d81a","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":180,"wires":[["4576f0f0.03008","f3e01530.1913d8","f996deb9.bf317","d8066371.bcdbc"],["4576f0f0.03008","f3e01530.1913d8","f996deb9.bf317","d8066371.bcdbc"],["4576f0f0.03008","f3e01530.1913d8","f996deb9.bf317","d8066371.bcdbc"]]},{"id":"4576f0f0.03008","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Someone's at the door!\",\"title\":\"Doorbell\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":540,"y":80,"wires":[[]]},{"id":"f3e01530.1913d8","type":"api-current-state","z":"36dfc6af.49d81a","name":"Home Occupancy","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":true,"x":270,"y":440,"wires":[[],["8d1c1477.883998","cf2d69ef.8e19f8","e2f99fb5.35fab","632516d7.8dd2d8","c7938f2.ce3757","2a9a219c.46296e","14367e21.5762e2","46bce7e1.b54358","a083c5e4.726718","1a4e8466.4467dc","a2d77eef.1a3f3","e7ed62bf.019b4","f758907c.1c4be","9339356a.faa958"]]},{"id":"8d1c1477.883998","type":"api-call-service","z":"36dfc6af.49d81a","name":"Doorbell GW1","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"40\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":660,"wires":[[]]},{"id":"ed69a927.3dc4c8","type":"switch","z":"36dfc6af.49d81a","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_doorbell","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["2e90a9c2.0bce06"]]},{"id":"9fcf51ff.d5ea","type":"server-events","z":"36dfc6af.49d81a","name":"Doorbell","server":"5723580.cc4d6a8","event_type":"","x":80,"y":80,"wires":[["ed69a927.3dc4c8"]]},{"id":"eb5b0b34.103a28","type":"comment","z":"36dfc6af.49d81a","name":"Doorbell","info":"","x":80,"y":40,"wires":[]},{"id":"c7938f2.ce3757","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":260,"wires":[[]]},{"id":"2a9a219c.46296e","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":320,"wires":[["a2f4c281.49f01"]]},{"id":"c5c073c6.81333","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":380,"wires":[[]]},{"id":"a2f4c281.49f01","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":320,"wires":[[]]},{"id":"14367e21.5762e2","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["c5c073c6.81333"]]},{"id":"46bce7e1.b54358","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":440,"wires":[[]]},{"id":"a083c5e4.726718","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["cfc71b10.f49318"]]},{"id":"e726d002.4bdb9","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":560,"wires":[[]]},{"id":"cfc71b10.f49318","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":500,"wires":[[]]},{"id":"1a4e8466.4467dc","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":560,"wires":[["e726d002.4bdb9"]]},{"id":"a2d77eef.1a3f3","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":620,"wires":[[]]},{"id":"e7ed62bf.019b4","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["cfdb465d.a88e58"]]},{"id":"68a6088.5a327f8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1300,"y":740,"wires":[[]]},{"id":"cfdb465d.a88e58","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":680,"wires":[[]]},{"id":"f758907c.1c4be","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":740,"wires":[["68a6088.5a327f8"]]},{"id":"cf2d69ef.8e19f8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1070,"y":80,"wires":[[]]},{"id":"e2f99fb5.35fab","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":140,"wires":[["455ac1d6.03e7d"]]},{"id":"4d07a8c2.5988e8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":200,"wires":[[]]},{"id":"455ac1d6.03e7d","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":140,"wires":[[]]},{"id":"632516d7.8dd2d8","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":200,"wires":[["4d07a8c2.5988e8"]]},{"id":"9339356a.faa958","type":"api-call-service","z":"36dfc6af.49d81a","name":"Doorbell GW2","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"30\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":720,"wires":[[]]},{"id":"e7d9922f.a3b9e","type":"comment","z":"36dfc6af.49d81a","name":"Action - Lights","info":"","x":1050,"y":40,"wires":[]},{"id":"3c101492.a5031c","type":"comment","z":"36dfc6af.49d81a","name":"Action - Sound","info":"","x":380,"y":620,"wires":[]},{"id":"995afc85.8cd4a","type":"comment","z":"36dfc6af.49d81a","name":"Action - Notification","info":"","x":550,"y":40,"wires":[]},{"id":"f996deb9.bf317","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"Someone's at the door!\",\"title\":\"DOORBELL\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":140,"wires":[[]]},{"id":"d8066371.bcdbc","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Someone's at the door!\",\"title\":\"DOORBELL\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":200,"wires":[[]]},{"id":"df5839fd.b1d158","type":"comment","z":"36dfc6af.49d81a","name":"Home Occupancy Condition","info":"","x":300,"y":400,"wires":[]},{"id":"f345fd3f.b0172","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Bedroom1","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":810,"y":460,"wires":[["32da879f.887108"]]},{"id":"b1a5fb63.431bb8","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Bedroom2","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":810,"y":520,"wires":[["32da879f.887108"]]},{"id":"7571966f.adf138","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":790,"y":220,"wires":[["32da879f.887108"]]},{"id":"966d72a5.dc8e4","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Guestroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":810,"y":640,"wires":[["32da879f.887108"]]},{"id":"117d6fe5.b2779","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Kitchen1","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":800,"y":340,"wires":[["32da879f.887108"]]},{"id":"ac4071c.9def99","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Kitchen2","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":800,"y":400,"wires":[["32da879f.887108"]]},{"id":"7e384ecb.841f8","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Livingroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":810,"y":160,"wires":[["32da879f.887108"]]},{"id":"7d66a413.b8489c","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Office","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":790,"y":580,"wires":[["32da879f.887108"]]},{"id":"d13dd9a4.f527b8","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Pantry","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":790,"y":280,"wires":[["32da879f.887108"]]},{"id":"93541e7e.8b178","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Techroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":800,"y":700,"wires":[["32da879f.887108"]]},{"id":"cfd29097.6ddca","type":"switch","z":"1c2d2f43.2840a1","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":380,"wires":[["93541e7e.8b178","bdbacf96.07f21","7e384ecb.841f8","7571966f.adf138","d13dd9a4.f527b8","117d6fe5.b2779","ac4071c.9def99","f345fd3f.b0172","b1a5fb63.431bb8","7d66a413.b8489c","966d72a5.dc8e4"]]},{"id":"bdbacf96.07f21","type":"ha-wait-until","z":"1c2d2f43.2840a1","name":"Bathroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":800,"y":100,"wires":[["32da879f.887108"]]},{"id":"7d52a06.c2d676","type":"comment","z":"1c2d2f43.2840a1","name":"5 Minutes Winter Alerts","info":"","x":120,"y":40,"wires":[]},{"id":"e5563c6a.909bb","type":"comment","z":"6ecd581b.f1bf68","name":"Motion Lights","info":"","x":90,"y":40,"wires":[]},{"id":"11a1da58.7c56b6","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Bathroom Motion","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.motion_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":80,"wires":[["322dea81.f44786"]]},{"id":"631f3330.6e3f9c","type":"switch","z":"6ecd581b.f1bf68","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["ed965779.5bb628"]]},{"id":"322dea81.f44786","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":80,"wires":[["631f3330.6e3f9c"],[]]},{"id":"ed965779.5bb628","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Bathroom Main On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_bathroommain\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":80,"wires":[[]]},{"id":"56683b6.b53ccc4","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Outside Motion","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.motion_sensor_outside","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":280,"wires":[["69fb075c.9c1fd8"]]},{"id":"c29eea55.19f6d8","type":"switch","z":"6ecd581b.f1bf68","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["4980c4d3.de47dc"],["4bbe0c98.624134"]]},{"id":"69fb075c.9c1fd8","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":280,"wires":[["c29eea55.19f6d8"],[]]},{"id":"49e837c5.d13688","type":"comment","z":"6ecd581b.f1bf68","name":"Automations","info":"","x":90,"y":680,"wires":[]},{"id":"4980c4d3.de47dc","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Outside Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":260,"wires":[[]]},{"id":"4bbe0c98.624134","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Outside Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1088,"y":327,"wires":[[]]},{"id":"b4ca816e.33c5c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Livingroom Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":720,"wires":[[]]},{"id":"bf428e80.adb74","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7811dc6815ae","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":860,"y":720,"wires":[[],["b4ca816e.33c5c"]]},{"id":"4e5aee8c.576e2","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":720,"wires":[["bf428e80.adb74"],[]]},{"id":"e9b8b831.578888","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Entry Door","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":820,"wires":[["b9428a3d.87dc08"]]},{"id":"b9428a3d.87dc08","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":820,"wires":[["c3d77326.96fb8"],[]]},{"id":"c3d77326.96fb8","type":"switch","z":"6ecd581b.f1bf68","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":820,"wires":[["b9691a.a7af36e8"],["43155473.be0acc"]]},{"id":"43155473.be0acc","type":"delay","z":"6ecd581b.f1bf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":940,"wires":[["5ea3e4d1.05084c"]]},{"id":"75877deb.14ae14","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\",\"color_name\":\"red\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":820,"wires":[[]]},{"id":"5ea3e4d1.05084c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":940,"wires":[[]]},{"id":"b09d5337.c321c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Livingroom Light Toggle","server":"5723580.cc4d6a8","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":1020,"wires":[[]]},{"id":"f7759632.9f3828","type":"comment","z":"6ecd581b.f1bf68","name":"Yeelight","info":"","x":70,"y":980,"wires":[]},{"id":"7cdcae76.ebb4c","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"WC Motion","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.motion_sensor_wc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":160,"wires":[["6bff15c1.40d17c"]]},{"id":"6bff15c1.40d17c","type":"switch","z":"6ecd581b.f1bf68","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":160,"wires":[["9357bd09.54c2a"],["44f442d6.e5348c"]]},{"id":"9357bd09.54c2a","type":"api-call-service","z":"6ecd581b.f1bf68","name":"WC On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_wc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":140,"wires":[[]]},{"id":"d65ca85e.129d18","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Garden Motion","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":420,"wires":[["5cbb17e3.214b18"]]},{"id":"7bd8ea7e.2be244","type":"switch","z":"6ecd581b.f1bf68","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":420,"wires":[["26fbdc04.096894"],[]]},{"id":"5cbb17e3.214b18","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":420,"wires":[["7bd8ea7e.2be244"],[]]},{"id":"26fbdc04.096894","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Garden Light On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":420,"wires":[[]]},{"id":"5d368e4f.8fba7","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Garden Light Off","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":480,"wires":[[]]},{"id":"9bc65bc0.7aa298","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":340,"wires":[["65fec546.b6e85c"],[]]},{"id":"65fec546.b6e85c","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":600,"y":340,"wires":[["4475b3c0.5dd46c"],[]]},{"id":"4475b3c0.5dd46c","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Unavailable?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":340,"wires":[[],["4bbe0c98.624134"]]},{"id":"a6f7723a.0a0d9","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Outside On?","server":"5723580.cc4d6a8","version":1,"entityidfilter":"light.yeelight_color1_7c49eb12c687","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":340,"wires":[["9bc65bc0.7aa298"]]},{"id":"daaee26a.28ee8","type":"poll-state","z":"6ecd581b.f1bf68","name":"Dog Light","server":"5723580.cc4d6a8","version":"1","updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"group.all_devices","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":720,"wires":[[],["4e5aee8c.576e2"]]},{"id":"dd5716ce.49c418","type":"switch","z":"6ecd581b.f1bf68","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1020,"wires":[["b09d5337.c321c"],["b09d5337.c321c"],["b09d5337.c321c"]]},{"id":"bafc8d7a.4ff79","type":"switch","z":"6ecd581b.f1bf68","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_livingroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1020,"wires":[["dd5716ce.49c418"]]},{"id":"b87fddbf.f06c","type":"server-events","z":"6ecd581b.f1bf68","name":"Livingroom Yeelight","server":"5723580.cc4d6a8","event_type":"","x":110,"y":1020,"wires":[["bafc8d7a.4ff79"]]},{"id":"fa11a862.ad2b38","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["ef2f5a8.db3e5a8"],["8cf368a3.d30e88"]]},{"id":"d0ee663f.01ab78","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeylights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["fa11a862.ad2b38"]]},{"id":"772fc0bc.29079","type":"server-events","z":"60c3892e.4115d8","name":"Majkeey Bedroom","server":"5723580.cc4d6a8","event_type":"","x":110,"y":80,"wires":[["d0ee663f.01ab78"]]},{"id":"b5144425.f64e68","type":"comment","z":"60c3892e.4115d8","name":"Switches","info":"","x":80,"y":40,"wires":[]},{"id":"f858ec74.cdbac","type":"server-state-changed","z":"60c3892e.4115d8","name":"Majkeey PC","server":"5723580.cc4d6a8","version":"1","entityidfilter":"input_select.majkeeypcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":560,"wires":[["8ad2198f.b25c68"]]},{"id":"8ad2198f.b25c68","type":"switch","z":"60c3892e.4115d8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":560,"wires":[["6f6eb63c.598688"],["e649fa08.0404e8"],["4c77cf8b.55166"],["bf6d944.857ca68"]]},{"id":"6f6eb63c.598688","type":"api-call-service","z":"60c3892e.4115d8","name":"Restart","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"restart_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":460,"wires":[[]]},{"id":"e649fa08.0404e8","type":"api-call-service","z":"60c3892e.4115d8","name":"Shutdown","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"shutdown_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":520,"wires":[[]]},{"id":"4c77cf8b.55166","type":"api-call-service","z":"60c3892e.4115d8","name":"Sleep","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"sleep_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":580,"wires":[[]]},{"id":"bf6d944.857ca68","type":"api-call-service","z":"60c3892e.4115d8","name":"Hibernate","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"hibernate_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":640,"wires":[[]]},{"id":"53db1229.60732c","type":"comment","z":"60c3892e.4115d8","name":"Majkeey PC Options","info":"","x":110,"y":460,"wires":[]},{"id":"9ab54185.96989","type":"server-state-changed","z":"60c3892e.4115d8","name":"Baska PC","server":"5723580.cc4d6a8","version":"1","entityidfilter":"input_select.baskapcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":740,"y":560,"wires":[["2ea411d0.65a9ce"]]},{"id":"2ea411d0.65a9ce","type":"switch","z":"60c3892e.4115d8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":560,"wires":[["b2d39a0d.d24ce8"],["2535f573.5f2b4a"],["58491ba0.063514"],["8cb7ede4.09c35"]]},{"id":"b2d39a0d.d24ce8","type":"api-call-service","z":"60c3892e.4115d8","name":"Restart","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"restart_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":460,"wires":[[]]},{"id":"2535f573.5f2b4a","type":"api-call-service","z":"60c3892e.4115d8","name":"Shutdown","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"shutdown_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":520,"wires":[[]]},{"id":"58491ba0.063514","type":"api-call-service","z":"60c3892e.4115d8","name":"Sleep","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"sleep_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":580,"wires":[[]]},{"id":"8cb7ede4.09c35","type":"api-call-service","z":"60c3892e.4115d8","name":"Hibernate","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"hibernate_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":640,"wires":[[]]},{"id":"51f4eb0a.c2f964","type":"comment","z":"60c3892e.4115d8","name":"Baska PC Options","info":"","x":770,"y":460,"wires":[]},{"id":"8cf368a3.d30e88","type":"api-call-service","z":"60c3892e.4115d8","name":"Turn Off ALL Lights","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"group.switchez\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":180,"wires":[[]]},{"id":"ef2f5a8.db3e5a8","type":"api-call-service","z":"60c3892e.4115d8","name":"Turn Off Bedrrom","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_left_bedroomleft, switch.wall_switch_right_bedroomright\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":60,"wires":[[]]},{"id":"83d5b15.70d0c5","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["ef2f5a8.db3e5a8"],["8cf368a3.d30e88"]]},{"id":"4b07ac9c.44fae4","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_baskalights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":160,"wires":[["83d5b15.70d0c5"]]},{"id":"ade365de.058448","type":"server-events","z":"60c3892e.4115d8","name":"Baska Bedroom","server":"5723580.cc4d6a8","event_type":"","x":100,"y":160,"wires":[["4b07ac9c.44fae4"]]},{"id":"1c7fa3f6.19b42c","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["6f01f47f.b1bb8c"],["6895b720.71fd48"]]},{"id":"df7cb8dd.e0cfb8","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeypc","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":300,"wires":[["1c7fa3f6.19b42c"]]},{"id":"380435f6.d69a9a","type":"server-events","z":"60c3892e.4115d8","name":"Majkeey PC","server":"5723580.cc4d6a8","event_type":"","x":90,"y":300,"wires":[["df7cb8dd.e0cfb8"]]},{"id":"6895b720.71fd48","type":"api-call-service","z":"60c3892e.4115d8","name":"Toggle Majkeey PC","server":"5723580.cc4d6a8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.pc_majkeey\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":340,"wires":[[]]},{"id":"6f01f47f.b1bb8c","type":"api-call-service","z":"60c3892e.4115d8","name":"Toggle Office Light","server":"5723580.cc4d6a8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.wall_switch_left_officeleft\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":280,"wires":[[]]},{"id":"4ae44ea4.919fb","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home Guest","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":970,"y":420,"wires":[["7bcb6009.27ad"],[]]},{"id":"32da879f.887108","type":"ha-get-entities","z":"1c2d2f43.2840a1","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1090,"y":420,"wires":[["3c0c8ffa.59453"]]},{"id":"3c0c8ffa.59453","type":"template","z":"1c2d2f43.2840a1","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1120,"y":380,"wires":[["808f931d.32a8a"]]},{"id":"808f931d.32a8a","type":"join","z":"1c2d2f43.2840a1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":340,"wires":[["240d2531.f8c23a","abbd221e.d3cfd","9201b23b.d1e41"]]},{"id":"240d2531.f8c23a","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1380,"y":320,"wires":[[]]},{"id":"abbd221e.d3cfd","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1390,"y":380,"wires":[[]]},{"id":"9201b23b.d1e41","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} opened for 30 minutes now.\",\"title\":\"CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":440,"wires":[[]]},{"id":"928b8c15.5baa5","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":220,"wires":[["d7f2e4c.62aed18"]]},{"id":"9fa67198.e69a6","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Living Room","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":160,"wires":[["d7f2e4c.62aed18"]]},{"id":"6a5180cf.8ea66","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Pantry","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":280,"wires":[["d7f2e4c.62aed18"]]},{"id":"8920dfb.c27a82","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen1","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":340,"wires":[["d7f2e4c.62aed18"]]},{"id":"b09195a4.f3c248","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen2","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":400,"wires":[["d7f2e4c.62aed18"]]},{"id":"71f9c594.8209fc","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bedroom1","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":460,"wires":[["d7f2e4c.62aed18"]]},{"id":"389987f4.aad548","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bedroom2","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":520,"wires":[["d7f2e4c.62aed18"]]},{"id":"df57172c.8f8cc8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Office","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":70,"y":580,"wires":[["d7f2e4c.62aed18"]]},{"id":"b8f9c4be.b55598","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bathroom","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":100,"wires":[["d7f2e4c.62aed18"]]},{"id":"51a7d46c.c0c02c","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Guest Room","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":640,"wires":[["d7f2e4c.62aed18"]]},{"id":"64fdd71b.e26908","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Tech Room","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":700,"wires":[["d7f2e4c.62aed18"]]},{"id":"d7f2e4c.62aed18","type":"bigtimer","z":"1c2d2f43.2840a1","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.682576","lon":"21.309294","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":false,"may":true,"jun":false,"jul":true,"aug":false,"sep":false,"oct":false,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":300,"y":380,"wires":[["cfd29097.6ddca"],[],[]]},{"id":"42b39414.1c3d3c","type":"ha-get-entities","z":"1c2d2f43.2840a1","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":900,"wires":[["17a971b7.3500ce"]]},{"id":"17a971b7.3500ce","type":"template","z":"1c2d2f43.2840a1","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":840,"y":860,"wires":[["cd5a4730.b3b5e8"]]},{"id":"cd5a4730.b3b5e8","type":"join","z":"1c2d2f43.2840a1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":820,"wires":[["20a13b76.c77784","67a81c20.a49b04"]]},{"id":"20a13b76.c77784","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1110,"y":820,"wires":[[]]},{"id":"67a81c20.a49b04","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":880,"wires":[[]]},{"id":"54477b98.12c474","type":"comment","z":"1c2d2f43.2840a1","name":"Empty House Alert","info":"","x":110,"y":800,"wires":[]},{"id":"7d146210.06d75c","type":"trigger-state","z":"1c2d2f43.2840a1","name":"Leave Home","server":"5723580.cc4d6a8","entityid":"group.life360","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3igunpd28sh","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"vy4xrpz1zu","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":310,"y":860,"wires":[["1454e2af.eea70d"],[]]},{"id":"75879b26.3a3804","type":"server-events","z":"1c2d2f43.2840a1","name":"Empty Home","server":"5723580.cc4d6a8","event_type":"","x":90,"y":860,"wires":[["7d146210.06d75c"]]},{"id":"1454e2af.eea70d","type":"api-current-state","z":"1c2d2f43.2840a1","name":"Guest Mode","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":860,"wires":[[],["42b39414.1c3d3c"]]},{"id":"44f442d6.e5348c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"WC Off","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_wc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":200,"wires":[[]]},{"id":"87fb554c.fea7d8","type":"trigger-state","z":"9674b62c.7a5f48","name":"Bathroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":560,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"14fcef10.b41101","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":560,"wires":[["87fb554c.fea7d8"]]},{"id":"5729c187.32f77","type":"trigger-state","z":"9674b62c.7a5f48","name":"Bedroom1","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":380,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"c448ae69.b4d7c","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":380,"wires":[["5729c187.32f77"]]},{"id":"77334b34.696194","type":"trigger-state","z":"9674b62c.7a5f48","name":"Bedroom2","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":440,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"c06f93d3.5b415","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":440,"wires":[["77334b34.696194"]]},{"id":"c6c118f7.88a508","type":"trigger-state","z":"9674b62c.7a5f48","name":"Entry","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":140,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"e7ad18b9.311ed8","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":140,"wires":[["c6c118f7.88a508"]]},{"id":"c8fe34b2.d42028","type":"trigger-state","z":"9674b62c.7a5f48","name":"Guestroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":620,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"274deca4.7ead14","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":620,"wires":[["c8fe34b2.d42028"]]},{"id":"801bd633.1e9ae8","type":"trigger-state","z":"9674b62c.7a5f48","name":"Kitchen2","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":320,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"70c311c2.65d9b","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":320,"wires":[["801bd633.1e9ae8"]]},{"id":"aa0a4889.601ac8","type":"trigger-state","z":"9674b62c.7a5f48","name":"Kitchen1","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":260,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"b8e6ec0b.3812c","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":260,"wires":[["aa0a4889.601ac8"]]},{"id":"a1543c89.3da29","type":"trigger-state","z":"9674b62c.7a5f48","name":"Livingroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":80,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"d957ccd9.f029d","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":80,"wires":[["a1543c89.3da29"]]},{"id":"5d524cac.853e64","type":"trigger-state","z":"9674b62c.7a5f48","name":"Office","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":500,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"61069470.bb25bc","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":500,"wires":[["5d524cac.853e64"]]},{"id":"a4222018.a7ff6","type":"trigger-state","z":"9674b62c.7a5f48","name":"Pantry","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":200,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"fa2305c.63248f8","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":200,"wires":[["a4222018.a7ff6"]]},{"id":"8716b95b.17e408","type":"trigger-state","z":"9674b62c.7a5f48","name":"Techroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":680,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"c24b20e6.e7b98","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":60,"y":680,"wires":[["8716b95b.17e408"]]},{"id":"51e0da2f.309fe4","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Garden On?","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":480,"wires":[["54fa72d0.1b630c"]]},{"id":"54fa72d0.1b630c","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":480,"wires":[["dc121fec.d6685"],[]]},{"id":"dc121fec.d6685","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.wall_switch_right_garden","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":600,"y":480,"wires":[["545951ee.a05b3"],[]]},{"id":"545951ee.a05b3","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Unavailable?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wall_switch_right_garden","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":480,"wires":[[],["5d368e4f.8fba7"]]},{"id":"e2a8d608.db5728","type":"ha-get-entities","z":"1c2d2f43.2840a1","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":1100,"wires":[["d5c7d1a4.7ed0a"]]},{"id":"d5c7d1a4.7ed0a","type":"template","z":"1c2d2f43.2840a1","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":840,"y":1060,"wires":[["e6f9e1a3.47013"]]},{"id":"e6f9e1a3.47013","type":"join","z":"1c2d2f43.2840a1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":1020,"wires":[["189da9ce.455896","cb3fe397.05cc6"]]},{"id":"189da9ce.455896","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1110,"y":1020,"wires":[[]]},{"id":"cb3fe397.05cc6","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":1080,"wires":[[]]},{"id":"6b4b4577.c38bfc","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":580,"y":560,"wires":[["dc121fec.d6685"],[]]},{"id":"271b08f3.c96518","type":"trigger-state","z":"6ecd581b.f1bf68","name":"Opened","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ixtfj3j2319","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"4sqgo17oemj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":340,"y":560,"wires":[["6b4b4577.c38bfc"],[]]},{"id":"4fe0c808.116678","type":"server-events","z":"6ecd581b.f1bf68","name":"Living Room","server":"5723580.cc4d6a8","event_type":"","x":90,"y":560,"wires":[["271b08f3.c96518"]]},{"id":"c01894d3.ff7298","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":560,"y":1020,"wires":[["910433a.d37f6d"],[]]},{"id":"910433a.d37f6d","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":550,"y":1080,"wires":[["e2a8d608.db5728","b66a6846.160f18"]]},{"id":"12ee54fd.6d85cb","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1020,"wires":[["c01894d3.ff7298"],["910433a.d37f6d"]]},{"id":"da50121.701eaf","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":320,"y":1080,"wires":[["910433a.d37f6d"]]},{"id":"6d5ab31.42def4c","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":70,"y":1120,"wires":[["da50121.701eaf","730bafad.53122"],[]]},{"id":"df4a83ed.f50cc","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":560,"y":1200,"wires":[["2aa86862.70c138"],[]]},{"id":"2aa86862.70c138","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":550,"y":1140,"wires":[["e2a8d608.db5728","b66a6846.160f18"]]},{"id":"2324ed20.5e76a2","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1200,"wires":[["df4a83ed.f50cc"],["2aa86862.70c138"]]},{"id":"730bafad.53122","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":320,"y":1140,"wires":[["2aa86862.70c138"]]},{"id":"b66a6846.160f18","type":"time-range-switch","z":"1c2d2f43.2840a1","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":800,"y":1200,"wires":[["888ea0eb.c8a2b"],[]]},{"id":"a141e22b.67edf","type":"delay","z":"1c2d2f43.2840a1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":1200,"wires":[["9bfd6365.ed4d"]]},{"id":"67ebca88.c6c654","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\",\"color_name\":\"red\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":1140,"wires":[[]]},{"id":"9bfd6365.ed4d","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Gateway Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":1200,"wires":[[]]},{"id":"888ea0eb.c8a2b","type":"switch","z":"1c2d2f43.2840a1","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1160,"wires":[["67ebca88.c6c654"],["a141e22b.67edf"]]},{"id":"7223d56a.99530c","type":"inject","z":"60c3892e.4115d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":880,"wires":[["f9080c4a.7122c"]]},{"id":"f9080c4a.7122c","type":"api-call-service","z":"60c3892e.4115d8","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway2\",\"color_name\":\"red\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":880,"wires":[[]]},{"id":"13e8c38e.23b47c","type":"api-call-service","z":"60c3892e.4115d8","name":"Gateway Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":940,"wires":[[]]},{"id":"6f60749.634478c","type":"inject","z":"60c3892e.4115d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":940,"wires":[["13e8c38e.23b47c"]]},{"id":"6c27edec.cab544","type":"poll-state","z":"1c2d2f43.2840a1","name":"Baska H","server":"5723580.cc4d6a8","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_baska","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":80,"y":1200,"wires":[["2324ed20.5e76a2"]]},{"id":"2feb998e.401b16","type":"poll-state","z":"1c2d2f43.2840a1","name":"Majko H","server":"5723580.cc4d6a8","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_majkeey","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":80,"y":1020,"wires":[["12ee54fd.6d85cb"]]},{"id":"b9691a.a7af36e8","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Windows","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":820,"wires":[["75877deb.14ae14"],["d333c0ac.ff3e3"]]},{"id":"d333c0ac.ff3e3","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\",\"color_name\":\"white\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":880,"wires":[[]]}]