windows.json
[{"id":"9674b62c.7a5f48","type":"tab","label":"Alarm Notification","disabled":false,"info":""},{"id":"36dfc6af.49d81a","type":"tab","label":"Doorbell","disabled":false,"info":""},{"id":"1c2d2f43.2840a1","type":"tab","label":"Opened Windows","disabled":false,"info":""},{"id":"6ecd581b.f1bf68","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"60c3892e.4115d8","type":"tab","label":"Random","disabled":false,"info":""},{"id":"c524a7e.f5fa658","type":"tab","label":"Discarded","disabled":false,"info":""},{"id":"5723580.cc4d6a8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"a7bbc08c.09f6f","type":"comment","z":"9674b62c.7a5f48","name":"Trigger - Doors / Windows Open","info":"","x":150,"y":40,"wires":[]},{"id":"d44fd87b.2c2f28","type":"api-current-state","z":"9674b62c.7a5f48","name":"Trackers","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":420,"wires":[["34c9d0e9.e0281"],[]]},{"id":"7bcb6009.27ad","type":"switch","z":"9674b62c.7a5f48","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1380,"y":360,"wires":[["46b76bd3.205184","b1e61d19.822ab","31c1c71.8523738","5d84da34.53d214","2f2900e4.34aaf","ca9b76e.5404788","4cd3697a.609f08","8ba23398.25f92","82f8b74d.675928","8190e5e5.6dd068","f6baf9a1.96d258","87d939e7.aec0e8","c1d36df8.8cd3d","8e89ca9f.a6c748","9c4b1206.38c16","42f1b7d0.6d25c8"]]},{"id":"46b76bd3.205184","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1780,"y":300,"wires":[[]]},{"id":"b1e61d19.822ab","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":360,"wires":[["47404f16.358ba"]]},{"id":"7c185117.16a06","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2000,"y":420,"wires":[[]]},{"id":"47404f16.358ba","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1960,"y":360,"wires":[[]]},{"id":"31c1c71.8523738","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":420,"wires":[["7c185117.16a06"]]},{"id":"5d84da34.53d214","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":480,"wires":[[]]},{"id":"2f2900e4.34aaf","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":540,"wires":[["fcac1f2a.6466d"]]},{"id":"46b5a268.e9ce1c","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":600,"wires":[[]]},{"id":"fcac1f2a.6466d","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":540,"wires":[[]]},{"id":"ca9b76e.5404788","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":600,"wires":[["46b5a268.e9ce1c"]]},{"id":"4cd3697a.609f08","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1800,"y":660,"wires":[[]]},{"id":"8ba23398.25f92","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["a4849b5e.baf2c8"]]},{"id":"8009168f.7056d8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2020,"y":780,"wires":[[]]},{"id":"a4849b5e.baf2c8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1980,"y":720,"wires":[[]]},{"id":"82f8b74d.675928","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":780,"wires":[["8009168f.7056d8"]]},{"id":"f6baf9a1.96d258","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect On Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Police\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1790,"y":120,"wires":[[]]},{"id":"87d939e7.aec0e8","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1800,"y":180,"wires":[["b2340174.a8068"]]},{"id":"8fc021fd.b7f23","type":"api-call-service","z":"9674b62c.7a5f48","name":"Turn Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":2010,"y":240,"wires":[[]]},{"id":"b2340174.a8068","type":"api-call-service","z":"9674b62c.7a5f48","name":"Effect Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1970,"y":180,"wires":[[]]},{"id":"c1d36df8.8cd3d","type":"delay","z":"9674b62c.7a5f48","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":240,"wires":[["8fc021fd.b7f23"]]},{"id":"8190e5e5.6dd068","type":"api-call-service","z":"9674b62c.7a5f48","name":"Sound Alaram GW1","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":620,"wires":[[]]},{"id":"34c9d0e9.e0281","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":420,"wires":[["cda136f2.231178"],[]]},{"id":"cda136f2.231178","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":420,"wires":[["4ae44ea4.919fb"],[]]},{"id":"f57afa18.2f4608","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":360,"wires":[["4dd6bf2b.0458c"],[]]},{"id":"48f5879.a482278","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":680,"y":300,"wires":[["a85f7bb9.38ee18"],[]]},{"id":"70a0bf03.3a2a7","type":"switch","z":"9674b62c.7a5f48","name":"Home M?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":300,"wires":[["e3b4c0b0.3cc1d"],["7bcb6009.27ad"]]},{"id":"a85f7bb9.38ee18","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":300,"wires":[["70a0bf03.3a2a7"]]},{"id":"4dd6bf2b.0458c","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":820,"y":360,"wires":[["106081ec.c20ece"]]},{"id":"106081ec.c20ece","type":"switch","z":"9674b62c.7a5f48","name":"Home B?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":360,"wires":[["abc427ed.38abb8"],["7bcb6009.27ad"]]},{"id":"abc427ed.38abb8","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":360,"wires":[["7bcb6009.27ad"],[]]},{"id":"e3b4c0b0.3cc1d","type":"api-current-state","z":"9674b62c.7a5f48","name":"Sleep M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sleep_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":1100,"y":300,"wires":[["7bcb6009.27ad"],[]]},{"id":"3ab100e6.48d67","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home M","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_majkeey","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":360,"wires":[["f57afa18.2f4608"],[]]},{"id":"fba20245.53bb3","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home B","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_baska","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":540,"y":300,"wires":[["48f5879.a482278"],[]]},{"id":"8e89ca9f.a6c748","type":"api-call-service","z":"9674b62c.7a5f48","name":"Sound Alaram GW2","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"0\",\"ringtone_vol\":\"50\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":680,"wires":[[]]},{"id":"df4d8e61.428e7","type":"comment","z":"9674b62c.7a5f48","name":"Action - Notification","info":"","x":830,"y":80,"wires":[]},{"id":"fb8428ca.d969c8","type":"comment","z":"9674b62c.7a5f48","name":"Action - Yeelights","info":"","x":1780,"y":80,"wires":[]},{"id":"973ed568.578448","type":"comment","z":"9674b62c.7a5f48","name":"Action - Sound","info":"","x":820,"y":580,"wires":[]},{"id":"d7b1f376.3ebf5","type":"comment","z":"9674b62c.7a5f48","name":"Condition - Home Occupancy","info":"","x":600,"y":260,"wires":[]},{"id":"d4652f45.58f3f","type":"comment","z":"9674b62c.7a5f48","name":"Water Leak - Tech Room","info":"","x":130,"y":840,"wires":[]},{"id":"af79c948.1d48a8","type":"server-state-changed","z":"9674b62c.7a5f48","name":"Water Leak","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.water_leak_sensor_techroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":880,"wires":[["d17d7c9e.5619f"]]},{"id":"17706f5.d643991","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Baska-PC\",\"Majkeey-PC\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":880,"wires":[[]]},{"id":"2e8c2901.d6d736","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":940,"wires":[[]]},{"id":"b0e2d13e.82efa","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Leak in Tech Room\",\"title\":\"WATER LEAK\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":1000,"wires":[[]]},{"id":"d17d7c9e.5619f","type":"switch","z":"9674b62c.7a5f48","name":"Sensor Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":880,"wires":[["b0e2d13e.82efa","17706f5.d643991","2e8c2901.d6d736"]]},{"id":"2e90a9c2.0bce06","type":"switch","z":"36dfc6af.49d81a","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":180,"wires":[["4576f0f0.03008","f3e01530.1913d8","d8066371.bcdbc","91ecaa7a.d00f58"],["4576f0f0.03008","f3e01530.1913d8","d8066371.bcdbc","91ecaa7a.d00f58"],["4576f0f0.03008","f3e01530.1913d8","d8066371.bcdbc","91ecaa7a.d00f58"]]},{"id":"4576f0f0.03008","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification PC","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"Someone's at the door!\",\"title\":\"Doorbell\",\"target\":[\"Baska-PC\",\"Majko-PC_2\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":80,"wires":[[]]},{"id":"f3e01530.1913d8","type":"api-current-state","z":"36dfc6af.49d81a","name":"Home Occupancy","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":true,"x":270,"y":440,"wires":[[],["8d1c1477.883998","cf2d69ef.8e19f8","e2f99fb5.35fab","632516d7.8dd2d8","c7938f2.ce3757","2a9a219c.46296e","14367e21.5762e2","46bce7e1.b54358","a083c5e4.726718","1a4e8466.4467dc","a2d77eef.1a3f3","e7ed62bf.019b4","f758907c.1c4be","9339356a.faa958"]]},{"id":"8d1c1477.883998","type":"api-call-service","z":"36dfc6af.49d81a","name":"Doorbell GW1","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"40\",\"gw_mac\":\"78:11:DC:A4:7E:7E\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":660,"wires":[[]]},{"id":"ed69a927.3dc4c8","type":"switch","z":"36dfc6af.49d81a","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_doorbell","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["2e90a9c2.0bce06"]]},{"id":"9fcf51ff.d5ea","type":"server-events","z":"36dfc6af.49d81a","name":"Doorbell","server":"5723580.cc4d6a8","event_type":"","x":80,"y":80,"wires":[["ed69a927.3dc4c8"]]},{"id":"eb5b0b34.103a28","type":"comment","z":"36dfc6af.49d81a","name":"Trigger - Doorbell","info":"","x":100,"y":40,"wires":[]},{"id":"c7938f2.ce3757","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1060,"y":260,"wires":[[]]},{"id":"2a9a219c.46296e","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":320,"wires":[["a2f4c281.49f01"]]},{"id":"c5c073c6.81333","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1280,"y":380,"wires":[[]]},{"id":"a2f4c281.49f01","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Office","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce008baff3\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":320,"wires":[[]]},{"id":"14367e21.5762e2","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["c5c073c6.81333"]]},{"id":"46bce7e1.b54358","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":440,"wires":[[]]},{"id":"a083c5e4.726718","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["cfc71b10.f49318"]]},{"id":"e726d002.4bdb9","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":560,"wires":[[]]},{"id":"cfc71b10.f49318","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Livingroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":500,"wires":[[]]},{"id":"1a4e8466.4467dc","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":560,"wires":[["e726d002.4bdb9"]]},{"id":"a2d77eef.1a3f3","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":620,"wires":[[]]},{"id":"e7ed62bf.019b4","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":680,"wires":[["cfdb465d.a88e58"]]},{"id":"68a6088.5a327f8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1300,"y":740,"wires":[[]]},{"id":"cfdb465d.a88e58","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Guestroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_34ce00900f3e\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1260,"y":680,"wires":[[]]},{"id":"f758907c.1c4be","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":740,"wires":[["68a6088.5a327f8"]]},{"id":"cf2d69ef.8e19f8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect On Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Strobe color\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1070,"y":80,"wires":[[]]},{"id":"e2f99fb5.35fab","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":140,"wires":[["455ac1d6.03e7d"]]},{"id":"4d07a8c2.5988e8","type":"api-call-service","z":"36dfc6af.49d81a","name":"Turn Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1290,"y":200,"wires":[[]]},{"id":"455ac1d6.03e7d","type":"api-call-service","z":"36dfc6af.49d81a","name":"Effect Off Bedroom","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc68270d\",\"effect\":\"Stop\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1250,"y":140,"wires":[[]]},{"id":"632516d7.8dd2d8","type":"delay","z":"36dfc6af.49d81a","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":200,"wires":[["4d07a8c2.5988e8"]]},{"id":"9339356a.faa958","type":"api-call-service","z":"36dfc6af.49d81a","name":"Doorbell GW2","server":"5723580.cc4d6a8","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{\"ringtone_id\":\"10\",\"ringtone_vol\":\"30\",\"gw_mac\":\"78:11:DC:FB:08:F2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":380,"y":720,"wires":[[]]},{"id":"e7d9922f.a3b9e","type":"comment","z":"36dfc6af.49d81a","name":"Action - Lights","info":"","x":1050,"y":40,"wires":[]},{"id":"3c101492.a5031c","type":"comment","z":"36dfc6af.49d81a","name":"Action - Sound","info":"","x":380,"y":620,"wires":[]},{"id":"995afc85.8cd4a","type":"comment","z":"36dfc6af.49d81a","name":"Action - Notification","info":"","x":550,"y":40,"wires":[]},{"id":"d8066371.bcdbc","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_doorbell_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":200,"wires":[[]]},{"id":"df5839fd.b1d158","type":"comment","z":"36dfc6af.49d81a","name":"Condition - Home Occupancy","info":"","x":300,"y":400,"wires":[]},{"id":"e5563c6a.909bb","type":"comment","z":"6ecd581b.f1bf68","name":"Motion Lights","info":"","x":90,"y":40,"wires":[]},{"id":"11a1da58.7c56b6","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Bathroom Motion","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.motion_sensor_bathroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":80,"wires":[["322dea81.f44786"]]},{"id":"631f3330.6e3f9c","type":"switch","z":"6ecd581b.f1bf68","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["ed965779.5bb628"]]},{"id":"322dea81.f44786","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":80,"wires":[["631f3330.6e3f9c"],[]]},{"id":"ed965779.5bb628","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Bathroom Main On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_bathroommain\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":870,"y":80,"wires":[[]]},{"id":"56683b6.b53ccc4","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Outside Motion","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.motion_sensor_outside","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":100,"y":280,"wires":[["69fb075c.9c1fd8"]]},{"id":"c29eea55.19f6d8","type":"switch","z":"6ecd581b.f1bf68","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["4980c4d3.de47dc"],["4bbe0c98.624134"]]},{"id":"69fb075c.9c1fd8","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":280,"wires":[["c29eea55.19f6d8"],[]]},{"id":"49e837c5.d13688","type":"comment","z":"6ecd581b.f1bf68","name":"Automations","info":"","x":90,"y":660,"wires":[]},{"id":"4980c4d3.de47dc","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Outside Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":280,"wires":[[]]},{"id":"4bbe0c98.624134","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Outside Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_color1_7c49eb12c687\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":340,"wires":[[]]},{"id":"b4ca816e.33c5c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Livingroom Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":700,"wires":[[]]},{"id":"bf428e80.adb74","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"light.yeelight_color1_7811dc6815ae","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":860,"y":700,"wires":[[],["b4ca816e.33c5c"]]},{"id":"4e5aee8c.576e2","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":700,"wires":[["ca71faa3.423548"],[]]},{"id":"e9b8b831.578888","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Entry Door","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":780,"wires":[["b9428a3d.87dc08","ffc21ca5.19c4d"]]},{"id":"b9428a3d.87dc08","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":780,"wires":[["c3d77326.96fb8"],[]]},{"id":"c3d77326.96fb8","type":"switch","z":"6ecd581b.f1bf68","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":780,"wires":[["b9691a.a7af36e8"],["43155473.be0acc"]]},{"id":"43155473.be0acc","type":"delay","z":"6ecd581b.f1bf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":900,"wires":[["5ea3e4d1.05084c"]]},{"id":"75877deb.14ae14","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\",\"color_name\":\"red\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":780,"wires":[[]]},{"id":"5ea3e4d1.05084c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":900,"wires":[[]]},{"id":"b09d5337.c321c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Livingroom Light Toggle","server":"5723580.cc4d6a8","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.yeelight_color1_7811dc6815ae\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":1120,"wires":[[]]},{"id":"f7759632.9f3828","type":"comment","z":"6ecd581b.f1bf68","name":"Yeelight","info":"","x":70,"y":1080,"wires":[]},{"id":"7cdcae76.ebb4c","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"WC Motion","server":"5723580.cc4d6a8","version":"1","entityidfilter":"binary_sensor.motion_sensor_wc","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":160,"wires":[["6bff15c1.40d17c"]]},{"id":"6bff15c1.40d17c","type":"switch","z":"6ecd581b.f1bf68","name":"Motion On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":160,"wires":[["9357bd09.54c2a"],["44f442d6.e5348c"]]},{"id":"9357bd09.54c2a","type":"api-call-service","z":"6ecd581b.f1bf68","name":"WC On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_wc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":140,"wires":[[]]},{"id":"d65ca85e.129d18","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Garden Motion","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.motion_sensor_garden","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":420,"wires":[["5cbb17e3.214b18"],[]]},{"id":"7bd8ea7e.2be244","type":"switch","z":"6ecd581b.f1bf68","name":"Motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":420,"wires":[["26fbdc04.096894"],[]]},{"id":"5cbb17e3.214b18","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":340,"y":420,"wires":[["7bd8ea7e.2be244"],[]]},{"id":"26fbdc04.096894","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Garden Light On","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1080,"y":420,"wires":[[]]},{"id":"5d368e4f.8fba7","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Garden Light Off","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_right_garden\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1080,"y":480,"wires":[[]]},{"id":"9bc65bc0.7aa298","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":340,"wires":[["4475b3c0.5dd46c"],[]]},{"id":"4475b3c0.5dd46c","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Unavailable?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_color1_7c49eb12c687","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":340,"wires":[[],["4bbe0c98.624134"]]},{"id":"a6f7723a.0a0d9","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Outside On?","server":"5723580.cc4d6a8","version":1,"entityidfilter":"light.yeelight_color1_7c49eb12c687","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":340,"wires":[["9bc65bc0.7aa298"],[]]},{"id":"daaee26a.28ee8","type":"poll-state","z":"6ecd581b.f1bf68","name":"Dog Light","server":"5723580.cc4d6a8","version":1,"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":false,"entity_id":"group.all_devices","state_type":"str","halt_if":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":700,"wires":[[],["4e5aee8c.576e2"]]},{"id":"dd5716ce.49c418","type":"switch","z":"6ecd581b.f1bf68","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1120,"wires":[["b09d5337.c321c"],["b09d5337.c321c"],["b09d5337.c321c"]]},{"id":"bafc8d7a.4ff79","type":"switch","z":"6ecd581b.f1bf68","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_livingroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1120,"wires":[["dd5716ce.49c418"]]},{"id":"b87fddbf.f06c","type":"server-events","z":"6ecd581b.f1bf68","name":"Livingroom Yeelight","server":"5723580.cc4d6a8","event_type":"","x":110,"y":1120,"wires":[["bafc8d7a.4ff79"]]},{"id":"fa11a862.ad2b38","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[["ef2f5a8.db3e5a8"],["8cf368a3.d30e88"]]},{"id":"d0ee663f.01ab78","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeylights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["fa11a862.ad2b38"]]},{"id":"772fc0bc.29079","type":"server-events","z":"60c3892e.4115d8","name":"Majkeey Bedroom","server":"5723580.cc4d6a8","event_type":"","x":110,"y":80,"wires":[["d0ee663f.01ab78"]]},{"id":"b5144425.f64e68","type":"comment","z":"60c3892e.4115d8","name":"Switches","info":"","x":80,"y":40,"wires":[]},{"id":"f858ec74.cdbac","type":"server-state-changed","z":"60c3892e.4115d8","name":"Majkeey PC","server":"5723580.cc4d6a8","version":"1","entityidfilter":"input_select.majkeeypcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":500,"wires":[["8ad2198f.b25c68"]]},{"id":"8ad2198f.b25c68","type":"switch","z":"60c3892e.4115d8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":260,"y":560,"wires":[["6f6eb63c.598688"],["e649fa08.0404e8"],["4c77cf8b.55166"],["bf6d944.857ca68"]]},{"id":"6f6eb63c.598688","type":"api-call-service","z":"60c3892e.4115d8","name":"Restart","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"restart_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":460,"wires":[[]]},{"id":"e649fa08.0404e8","type":"api-call-service","z":"60c3892e.4115d8","name":"Shutdown","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"shutdown_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":520,"wires":[[]]},{"id":"4c77cf8b.55166","type":"api-call-service","z":"60c3892e.4115d8","name":"Sleep","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"sleep_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":450,"y":580,"wires":[[]]},{"id":"bf6d944.857ca68","type":"api-call-service","z":"60c3892e.4115d8","name":"Hibernate","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"hibernate_z800","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":460,"y":640,"wires":[[]]},{"id":"53db1229.60732c","type":"comment","z":"60c3892e.4115d8","name":"Majkeey PC Options","info":"","x":110,"y":460,"wires":[]},{"id":"9ab54185.96989","type":"server-state-changed","z":"60c3892e.4115d8","name":"Baska PC","server":"5723580.cc4d6a8","version":"1","entityidfilter":"input_select.baskapcoptions","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":740,"y":500,"wires":[["2ea411d0.65a9ce"]]},{"id":"2ea411d0.65a9ce","type":"switch","z":"60c3892e.4115d8","name":"Options","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Restart","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Sleep","vt":"str"},{"t":"eq","v":"Hibernate","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":900,"y":560,"wires":[["b2d39a0d.d24ce8"],["2535f573.5f2b4a"],["58491ba0.063514"],["8cb7ede4.09c35"]]},{"id":"b2d39a0d.d24ce8","type":"api-call-service","z":"60c3892e.4115d8","name":"Restart","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"restart_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":460,"wires":[[]]},{"id":"2535f573.5f2b4a","type":"api-call-service","z":"60c3892e.4115d8","name":"Shutdown","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"shutdown_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":520,"wires":[[]]},{"id":"58491ba0.063514","type":"api-call-service","z":"60c3892e.4115d8","name":"Sleep","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"sleep_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":580,"wires":[[]]},{"id":"8cb7ede4.09c35","type":"api-call-service","z":"60c3892e.4115d8","name":"Hibernate","server":"5723580.cc4d6a8","service_domain":"shell_command","service":"hibernate_z850","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1100,"y":640,"wires":[[]]},{"id":"51f4eb0a.c2f964","type":"comment","z":"60c3892e.4115d8","name":"Baska PC Options","info":"","x":770,"y":460,"wires":[]},{"id":"8cf368a3.d30e88","type":"api-call-service","z":"60c3892e.4115d8","name":"Turn Off ALL Lights","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"group.switchez\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":180,"wires":[[]]},{"id":"ef2f5a8.db3e5a8","type":"api-call-service","z":"60c3892e.4115d8","name":"Turn Off Bedrrom","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_left_bedroomleft, switch.wall_switch_right_bedroomright\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":60,"wires":[[]]},{"id":"83d5b15.70d0c5","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["ef2f5a8.db3e5a8"],["8cf368a3.d30e88"]]},{"id":"4b07ac9c.44fae4","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_baskalights","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":160,"wires":[["83d5b15.70d0c5"]]},{"id":"ade365de.058448","type":"server-events","z":"60c3892e.4115d8","name":"Baska Bedroom","server":"5723580.cc4d6a8","event_type":"","x":100,"y":160,"wires":[["4b07ac9c.44fae4"]]},{"id":"1c7fa3f6.19b42c","type":"switch","z":"60c3892e.4115d8","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["6f01f47f.b1bb8c"],["6895b720.71fd48"]]},{"id":"df7cb8dd.e0cfb8","type":"switch","z":"60c3892e.4115d8","name":"Xiaomi Switch","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_majkeeypc","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":300,"wires":[["1c7fa3f6.19b42c"]]},{"id":"380435f6.d69a9a","type":"server-events","z":"60c3892e.4115d8","name":"Majkeey PC","server":"5723580.cc4d6a8","event_type":"","x":90,"y":300,"wires":[["df7cb8dd.e0cfb8"]]},{"id":"6895b720.71fd48","type":"api-call-service","z":"60c3892e.4115d8","name":"Toggle Majkeey PC","server":"5723580.cc4d6a8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.pc_majkeey\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":340,"wires":[[]]},{"id":"6f01f47f.b1bb8c","type":"api-call-service","z":"60c3892e.4115d8","name":"Toggle Office Light","server":"5723580.cc4d6a8","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.wall_switch_left_officeleft\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":280,"wires":[[]]},{"id":"4ae44ea4.919fb","type":"api-current-state","z":"9674b62c.7a5f48","name":"Home Guest","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":970,"y":420,"wires":[["7bcb6009.27ad"],[]]},{"id":"240d2531.f8c23a","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Bathroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":60,"wires":[[]]},{"id":"42b39414.1c3d3c","type":"ha-get-entities","z":"1c2d2f43.2840a1","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_entry,binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":810,"y":2360,"wires":[["17a971b7.3500ce"]]},{"id":"17a971b7.3500ce","type":"template","z":"1c2d2f43.2840a1","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":840,"y":2320,"wires":[["cd5a4730.b3b5e8"]]},{"id":"cd5a4730.b3b5e8","type":"join","z":"1c2d2f43.2840a1","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":2280,"wires":[["20a13b76.c77784","67a81c20.a49b04"]]},{"id":"20a13b76.c77784","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1110,"y":2280,"wires":[[]]},{"id":"67a81c20.a49b04","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":2340,"wires":[[]]},{"id":"54477b98.12c474","type":"comment","z":"1c2d2f43.2840a1","name":"Empty House Alert","info":"","x":110,"y":2240,"wires":[]},{"id":"7d146210.06d75c","type":"trigger-state","z":"1c2d2f43.2840a1","name":"Leave Home","server":"5723580.cc4d6a8","entityid":"group.life360","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3igunpd28sh","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"vy4xrpz1zu","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":310,"y":2280,"wires":[["1454e2af.eea70d"],[]]},{"id":"75879b26.3a3804","type":"server-events","z":"1c2d2f43.2840a1","name":"Empty Home","server":"5723580.cc4d6a8","event_type":"","x":90,"y":2280,"wires":[["7d146210.06d75c"]]},{"id":"1454e2af.eea70d","type":"api-current-state","z":"1c2d2f43.2840a1","name":"Guest Mode","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":2280,"wires":[[],["42b39414.1c3d3c"]]},{"id":"44f442d6.e5348c","type":"api-call-service","z":"6ecd581b.f1bf68","name":"WC Off","server":"5723580.cc4d6a8","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wall_switch_wc\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":840,"y":200,"wires":[[]]},{"id":"87fb554c.fea7d8","type":"trigger-state","z":"9674b62c.7a5f48","name":"Bathroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":560,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"14fcef10.b41101","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":560,"wires":[["87fb554c.fea7d8"]]},{"id":"5729c187.32f77","type":"trigger-state","z":"9674b62c.7a5f48","name":"Bedroom1","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":380,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"c448ae69.b4d7c","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":380,"wires":[["5729c187.32f77"]]},{"id":"77334b34.696194","type":"trigger-state","z":"9674b62c.7a5f48","name":"Bedroom2","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":440,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"c06f93d3.5b415","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":440,"wires":[["77334b34.696194"]]},{"id":"c6c118f7.88a508","type":"trigger-state","z":"9674b62c.7a5f48","name":"Entry","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":140,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"e7ad18b9.311ed8","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":140,"wires":[["c6c118f7.88a508"]]},{"id":"c8fe34b2.d42028","type":"trigger-state","z":"9674b62c.7a5f48","name":"Guestroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":620,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"274deca4.7ead14","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":620,"wires":[["c8fe34b2.d42028"]]},{"id":"801bd633.1e9ae8","type":"trigger-state","z":"9674b62c.7a5f48","name":"Kitchen2","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":320,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"70c311c2.65d9b","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":320,"wires":[["801bd633.1e9ae8"]]},{"id":"aa0a4889.601ac8","type":"trigger-state","z":"9674b62c.7a5f48","name":"Kitchen1","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":260,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"b8e6ec0b.3812c","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":260,"wires":[["aa0a4889.601ac8"]]},{"id":"a1543c89.3da29","type":"trigger-state","z":"9674b62c.7a5f48","name":"Livingroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":290,"y":80,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"d957ccd9.f029d","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":80,"wires":[["a1543c89.3da29"]]},{"id":"5d524cac.853e64","type":"trigger-state","z":"9674b62c.7a5f48","name":"Office","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":500,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"61069470.bb25bc","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":500,"wires":[["5d524cac.853e64"]]},{"id":"a4222018.a7ff6","type":"trigger-state","z":"9674b62c.7a5f48","name":"Pantry","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":270,"y":200,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"fa2305c.63248f8","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":200,"wires":[["a4222018.a7ff6"]]},{"id":"8716b95b.17e408","type":"trigger-state","z":"9674b62c.7a5f48","name":"Techroom","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yll3awj9ses","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"za7b07flgr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":680,"wires":[["fba20245.53bb3","3ab100e6.48d67","d44fd87b.2c2f28"],[]]},{"id":"c24b20e6.e7b98","type":"server-events","z":"9674b62c.7a5f48","name":"Alarm","server":"5723580.cc4d6a8","event_type":"","x":70,"y":680,"wires":[["8716b95b.17e408"]]},{"id":"dc121fec.d6685","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Light On / Off?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.wall_switch_right_garden","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":true,"x":600,"y":480,"wires":[["545951ee.a05b3"],[]]},{"id":"545951ee.a05b3","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Unavailable?","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wall_switch_right_garden","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":850,"y":480,"wires":[[],["5d368e4f.8fba7"]]},{"id":"6b4b4577.c38bfc","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night On","lat":"48.682576","lon":"21.309294","startTime":"sunsetStart","endTime":"sunriseEnd","startOffset":0,"endOffset":0,"x":580,"y":540,"wires":[["dc121fec.d6685"],[]]},{"id":"271b08f3.c96518","type":"trigger-state","z":"6ecd581b.f1bf68","name":"Opened","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ixtfj3j2319","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"4sqgo17oemj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":340,"y":480,"wires":[["6b4b4577.c38bfc"],[]]},{"id":"b9691a.a7af36e8","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Windows","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":780,"wires":[["75877deb.14ae14"],["d333c0ac.ff3e3"]]},{"id":"d333c0ac.ff3e3","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\",\"color_name\":\"white\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":840,"wires":[[]]},{"id":"a0a5c28d.cd968","type":"comment","z":"1c2d2f43.2840a1","name":"5 Minutes Winter Alert","info":"","x":120,"y":20,"wires":[]},{"id":"c87b2ee2.3c64","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Bedroom1","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":110,"y":440,"wires":[[]]},{"id":"c5484402.fd3d28","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Bedroom2","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bedroom2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":110,"y":500,"wires":[[]]},{"id":"fc061be2.6ee938","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Entry","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_entry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":200,"wires":[[]]},{"id":"a32e6b35.1d2228","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Guestroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_guestroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":110,"y":620,"wires":[[]]},{"id":"e3915779.8e7ec8","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Kitchen1","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen1","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":100,"y":320,"wires":[[]]},{"id":"56fe5c2d.2b81a4","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Kitchen2","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_kitchen2","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":100,"y":380,"wires":[[]]},{"id":"7a182f9f.74e4a","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Livingroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_livingroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":110,"y":140,"wires":[[]]},{"id":"f65e29b5.7a3aa8","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Office","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_office","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":560,"wires":[[]]},{"id":"a96bba4a.b28938","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Pantry","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_pantry","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"x":90,"y":260,"wires":[[]]},{"id":"235e6ef9.b446f2","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Techroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_techroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":100,"y":680,"wires":[[]]},{"id":"c3971c93.81834","type":"ha-wait-until","z":"c524a7e.f5fa658","name":"Bathroom","server":"5723580.cc4d6a8","outputs":1,"entityId":"binary_sensor.door_window_sensor_bathroom","property":"attributes.Open since","comparator":"gte","value":"300","valueType":"num","timeout":"0","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":100,"y":80,"wires":[[]]},{"id":"a9db1d5.9eca1e","type":"comment","z":"c524a7e.f5fa658","name":"Condition - Opened 5+ Minutes","info":"","x":170,"y":40,"wires":[]},{"id":"5764cc5e.d5ce84","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":120,"wires":[["64345db2.e55574"],[]]},{"id":"95e2ebb5.ab9c18","type":"ha-get-entities","z":"c524a7e.f5fa658","server":"5723580.cc4d6a8","name":"","rules":[{"property":"entity_id","logic":"includes","value":"binary_sensor.door_window_sensor_bathroom,binary_sensor.door_window_sensor_bedroom1,binary_sensor.door_window_sensor_bedroom2,binary_sensor.door_window_sensor_guestroom,binary_sensor.door_window_sensor_kitchen1,binary_sensor.door_window_sensor_kitchen2,binary_sensor.door_window_sensor_livingroom,binary_sensor.door_window_sensor_office,binary_sensor.door_window_sensor_pantry,binary_sensor.door_window_sensor_techroom","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1170,"y":400,"wires":[["f702651f.f4ad58"]]},{"id":"f702651f.f4ad58","type":"template","z":"c524a7e.f5fa658","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":1200,"y":360,"wires":[["179062eb.ca29ad"]]},{"id":"179062eb.ca29ad","type":"join","z":"c524a7e.f5fa658","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":320,"wires":[["5e28df7e.1728a","7eb2e06e.963f8"]]},{"id":"5e28df7e.1728a","type":"api-call-service","z":"c524a7e.f5fa658","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"notify","service":"android_mi","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1470,"y":320,"wires":[[]]},{"id":"7eb2e06e.963f8","type":"api-call-service","z":"c524a7e.f5fa658","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1470,"y":380,"wires":[[]]},{"id":"46b272cd.0a089c","type":"stoptimer","z":"c524a7e.f5fa658","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":340,"wires":[["670588be.a30688"],[]]},{"id":"670588be.a30688","type":"traffic","z":"c524a7e.f5fa658","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":850,"y":400,"wires":[["95e2ebb5.ab9c18"]]},{"id":"3fa66c3c.e366a4","type":"switch","z":"c524a7e.f5fa658","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":340,"wires":[["46b272cd.0a089c"],["670588be.a30688"]]},{"id":"311932d4.44dade","type":"stoptimer","z":"c524a7e.f5fa658","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":860,"y":220,"wires":[["2bd52c4b.a916b4"],[]]},{"id":"2bd52c4b.a916b4","type":"traffic","z":"c524a7e.f5fa658","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":850,"y":280,"wires":[["95e2ebb5.ab9c18"]]},{"id":"73e684d2.e147bc","type":"switch","z":"c524a7e.f5fa658","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":280,"wires":[["311932d4.44dade"],["2bd52c4b.a916b4"]]},{"id":"843e91b8.95ebb","type":"poll-state","z":"c524a7e.f5fa658","name":"Baska H","server":"5723580.cc4d6a8","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_baska","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":280,"wires":[[]]},{"id":"5048174f.d0abb8","type":"poll-state","z":"c524a7e.f5fa658","name":"Majko H","server":"5723580.cc4d6a8","version":1,"updateinterval":"61","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.home_majkeey","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":440,"y":340,"wires":[[]]},{"id":"a18634ec.402a28","type":"comment","z":"c524a7e.f5fa658","name":"Condition - Home 1+ Minutes","info":"","x":500,"y":240,"wires":[]},{"id":"96eda6ce.b10d98","type":"comment","z":"c524a7e.f5fa658","name":"Action - Notification","info":"","x":1190,"y":280,"wires":[]},{"id":"726743e8.d498cc","type":"trigger","z":"c524a7e.f5fa658","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":440,"wires":[["670588be.a30688"]]},{"id":"71b84f77.0df1f","type":"trigger","z":"c524a7e.f5fa658","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":400,"wires":[["2bd52c4b.a916b4"]]},{"id":"ffc21ca5.19c4d","type":"time-range-switch","z":"6ecd581b.f1bf68","name":"Night Off","lat":"48.682576","lon":"21.309294","startTime":"sunriseEnd","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":340,"y":960,"wires":[["23685df6.4ad1a2"],[]]},{"id":"638c1467.0baecc","type":"delay","z":"6ecd581b.f1bf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1020,"wires":[["eeea8974.b73998"]]},{"id":"3735a557.c091aa","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light On","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.gateway_light_gateway\",\"color_name\":\"red\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":960,"wires":[[]]},{"id":"eeea8974.b73998","type":"api-call-service","z":"6ecd581b.f1bf68","name":"Gateway Light Off","server":"5723580.cc4d6a8","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.gateway_light_gateway\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1090,"y":1020,"wires":[[]]},{"id":"23685df6.4ad1a2","type":"switch","z":"6ecd581b.f1bf68","name":"Door Status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":960,"wires":[["b499e4f2.821388"],["638c1467.0baecc"]]},{"id":"b499e4f2.821388","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Windows","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.windows","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":840,"y":960,"wires":[["3735a557.c091aa"],[]]},{"id":"dfc9d3f4.a970e","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":320,"wires":[["ad8224af.1218a8"],[]]},{"id":"22fc8d54.a624a2","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["dfc9d3f4.a970e"],[]]},{"id":"13824d48.4c6e13","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":520,"wires":[["467c20c6.0ca5b"],[]]},{"id":"e21fb4bc.2eb6e8","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":520,"wires":[["13824d48.4c6e13"],[]]},{"id":"ab87ae4a.ad744","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":720,"wires":[["4fc2c949.29aec8"],[]]},{"id":"f408717d.66af7","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":720,"wires":[["ab87ae4a.ad744"],[]]},{"id":"a959b2fc.d4f99","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":920,"wires":[["1bb44c24.f98e74"],[]]},{"id":"8c9a9e43.f0cbc","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":920,"wires":[["a959b2fc.d4f99"],[]]},{"id":"51027755.4dc408","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1120,"wires":[["d0482b08.acc088"],[]]},{"id":"503b5688.1fa7f8","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1120,"wires":[["51027755.4dc408"],[]]},{"id":"7138de54.9d8e1","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1320,"wires":[["59295b26.518a24"],[]]},{"id":"9bc74fea.cefcc","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1320,"wires":[["7138de54.9d8e1"],[]]},{"id":"d35422a4.f3c9b","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1520,"wires":[["6fc5d1a.434ac3"],[]]},{"id":"6b6410fd.75e1e","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1520,"wires":[["d35422a4.f3c9b"],[]]},{"id":"1d514eba.d8fdd1","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1720,"wires":[["392d71da.091fee"],[]]},{"id":"6b7f1868.7e45b8","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1720,"wires":[["1d514eba.d8fdd1"],[]]},{"id":"d2ba6bc0.c9f9d8","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1920,"wires":[["fbff5188.60c6"],[]]},{"id":"bd63618b.950d2","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1920,"wires":[["d2ba6bc0.c9f9d8"],[]]},{"id":"4d1d94d9.6d1fec","type":"stoptimer","z":"1c2d2f43.2840a1","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":2120,"wires":[["8f90ae9a.f64e8"],[]]},{"id":"85a780f7.68f7d","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":2120,"wires":[["4d1d94d9.6d1fec"],[]]},{"id":"2cb9e066.d994","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Office","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1660,"wires":[["98603567.165248"],["98603567.165248"]]},{"id":"98603567.165248","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1720,"wires":[["78e45ac2.e2aba4","acf23eba.42301","11b0b80.9c89c48","25cbf9f0.8bd456"]]},{"id":"64345db2.e55574","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":120,"wires":[["a72af8a8.628fe8"]]},{"id":"ad8224af.1218a8","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":320,"wires":[["cc1f3c24.a827"]]},{"id":"467c20c6.0ca5b","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":520,"wires":[["ee14fc3e.6fdf3"]]},{"id":"4fc2c949.29aec8","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":720,"wires":[["a9323015.8ff77"]]},{"id":"1bb44c24.f98e74","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":920,"wires":[["d6a43105.f5564"]]},{"id":"d0482b08.acc088","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1120,"wires":[["7571bb8b.7b0654"]]},{"id":"59295b26.518a24","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1320,"wires":[["866c1e9.0e87be"]]},{"id":"6fc5d1a.434ac3","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1520,"wires":[["92ea3841.05ab08"]]},{"id":"392d71da.091fee","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1720,"wires":[["98603567.165248"]]},{"id":"fbff5188.60c6","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1920,"wires":[["245c610a.8059fe"]]},{"id":"8f90ae9a.f64e8","type":"trigger","z":"1c2d2f43.2840a1","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":2120,"wires":[["9f91705b.25e0a"]]},{"id":"a63e1078.6b365","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bath","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":60,"wires":[["a72af8a8.628fe8"],["a72af8a8.628fe8"]]},{"id":"a72af8a8.628fe8","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":120,"wires":[["1705d760.7eebc9","dd9fcc14.04898","7da7bc50.f936a4","1a2dc1f3.06368e"]]},{"id":"bb737cf2.645fe","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Living","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":260,"wires":[["cc1f3c24.a827"],["cc1f3c24.a827"]]},{"id":"cc1f3c24.a827","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":320,"wires":[["a9dc443c.f1c6d8","194488e5.903007","912abe3d.4d72","db119d95.a01f7"]]},{"id":"3d254295.554e3e","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":460,"wires":[["ee14fc3e.6fdf3"],["ee14fc3e.6fdf3"]]},{"id":"ee14fc3e.6fdf3","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":520,"wires":[["7d042e46.f7f2a","62b8aeeb.8419e","14518375.d120dd","f0c311c2.a3e82"]]},{"id":"4dba093d.ca0258","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Pantry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":660,"wires":[["a9323015.8ff77"],["a9323015.8ff77"]]},{"id":"a9323015.8ff77","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":720,"wires":[["8effe63a.5c3568","3d5cfc6f.485a64","68f8d286.90801c","3b3bd31.6251e2c"]]},{"id":"fd73d633.f9c708","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen1","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":740,"y":860,"wires":[["d6a43105.f5564"],["d6a43105.f5564"]]},{"id":"d6a43105.f5564","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":920,"wires":[["d0c19c2e.0c6cb","2a973025.52739","6155b2b0.8c22bc","4e7190af.16b8c"]]},{"id":"66adee9b.8d8af","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen2","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":740,"y":1060,"wires":[["7571bb8b.7b0654"],["7571bb8b.7b0654"]]},{"id":"7571bb8b.7b0654","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1120,"wires":[["84e4c18f.608df","208912fc.3293ce","72551f0f.d12ed","26644136.69664e"]]},{"id":"891c7335.f7433","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bed1","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1260,"wires":[["866c1e9.0e87be"],["866c1e9.0e87be"]]},{"id":"866c1e9.0e87be","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1320,"wires":[["7f3077.e3bd5f88","1820bbe4.8dcfd4","27688c43.2d0274","6401d4d6.b47bbc"]]},{"id":"bac0ea77.b96f38","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bed2","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1460,"wires":[["92ea3841.05ab08"],["92ea3841.05ab08"]]},{"id":"92ea3841.05ab08","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1520,"wires":[["43e9696f.900248","450009f9.170448","ca4afdf4.2e057","9f521748.221288"]]},{"id":"32645235.6ac40e","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Guest","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1860,"wires":[["245c610a.8059fe"],["245c610a.8059fe"]]},{"id":"245c610a.8059fe","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1920,"wires":[["8c64bc29.42d2b","15dc69d3.6c6596","51c550a4.ce82d","edea1f4a.52adf"]]},{"id":"96aff101.98e26","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Tech","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":2060,"wires":[["9f91705b.25e0a"],["9f91705b.25e0a"]]},{"id":"9f91705b.25e0a","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":2120,"wires":[["4fa418cd.ebf058","e5d9be42.1f57f","36bed0c4.d206b","883b4257.e370a"]]},{"id":"ca71faa3.423548","type":"api-current-state","z":"6ecd581b.f1bf68","name":"Guest Mode","server":"5723580.cc4d6a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":700,"wires":[[],["bf428e80.adb74"]]},{"id":"4d5cdb18.e61354","type":"switch","z":"1c2d2f43.2840a1","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":120,"wires":[["5764cc5e.d5ce84"],[]]},{"id":"91ecaa7a.d00f58","type":"api-call-service","z":"36dfc6af.49d81a","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_doorbell_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":550,"y":140,"wires":[[]]},{"id":"9c4b1206.38c16","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_alarm_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":120,"wires":[[]]},{"id":"1705d760.7eebc9","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_bath_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":180,"wires":[[]]},{"id":"a9dc443c.f1c6d8","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_liv_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":380,"wires":[[]]},{"id":"4fa418cd.ebf058","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_tec_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":2180,"wires":[[]]},{"id":"8c64bc29.42d2b","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_gue_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1980,"wires":[[]]},{"id":"78e45ac2.e2aba4","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_off_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1780,"wires":[[]]},{"id":"43e9696f.900248","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_be2_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1580,"wires":[[]]},{"id":"7f3077.e3bd5f88","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_be1_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1380,"wires":[[]]},{"id":"84e4c18f.608df","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_ki2_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1180,"wires":[[]]},{"id":"d0c19c2e.0c6cb","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_ki1_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":980,"wires":[[]]},{"id":"8effe63a.5c3568","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_pan_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":780,"wires":[[]]},{"id":"7d042e46.f7f2a","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_ent_w_majkeey","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":580,"wires":[[]]},{"id":"dd9fcc14.04898","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_bath_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":180,"wires":[[]]},{"id":"194488e5.903007","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_liv_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":380,"wires":[[]]},{"id":"e5d9be42.1f57f","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_tec_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":2180,"wires":[[]]},{"id":"15dc69d3.6c6596","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_gue_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1980,"wires":[[]]},{"id":"acf23eba.42301","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_off_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1780,"wires":[[]]},{"id":"450009f9.170448","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_be2_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1580,"wires":[[]]},{"id":"1820bbe4.8dcfd4","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_be1_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1380,"wires":[[]]},{"id":"208912fc.3293ce","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_ki2_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1180,"wires":[[]]},{"id":"2a973025.52739","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_ki1_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":980,"wires":[[]]},{"id":"3d5cfc6f.485a64","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_pan_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":780,"wires":[[]]},{"id":"62b8aeeb.8419e","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_ent_w_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":580,"wires":[[]]},{"id":"42f1b7d0.6d25c8","type":"api-call-service","z":"9674b62c.7a5f48","name":"Notification Baska","server":"5723580.cc4d6a8","service_domain":"rest_command","service":"autoremote_alarm_baska","data":"","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":180,"wires":[[]]},{"id":"c415fd1b.e5bfd","type":"trigger-state","z":"6ecd581b.f1bf68","name":"Opened","server":"5723580.cc4d6a8","entityid":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ixtfj3j2319","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"4sqgo17oemj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":340,"y":540,"wires":[["6b4b4577.c38bfc"],[]]},{"id":"3cad1f5.92024e","type":"inject","z":"c524a7e.f5fa658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":600,"wires":[["5998e326.4d224c"]]},{"id":"5998e326.4d224c","type":"api-call-service","z":"c524a7e.f5fa658","name":"Notification Majko","server":"5723580.cc4d6a8","service_domain":"notify","service":"mobile_app_marian_zlamal_s_oneplus_a6000","data":"{\"message\":\"{{payload}} left opened!!!\",\"title\":\"RETURN AND CLOSE {{payload}}\",\"target\":[\"Majkeey-OP\"]}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":600,"wires":[[]]},{"id":"c15472dc.d0d22","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":60,"wires":[["7da7bc50.f936a4"],["7da7bc50.f936a4"]]},{"id":"7da7bc50.f936a4","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":60,"wires":[["240d2531.f8c23a"]]},{"id":"f36ab2e1.a0b6d","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Bathroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":120,"wires":[[]]},{"id":"105730a1.348d2f","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":120,"wires":[["1a2dc1f3.06368e"],["1a2dc1f3.06368e"]]},{"id":"1a2dc1f3.06368e","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":120,"wires":[["f36ab2e1.a0b6d"]]},{"id":"490a6a66.dac464","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Livingroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":260,"wires":[[]]},{"id":"c64fdda9.f33b2","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":260,"wires":[["912abe3d.4d72"],["912abe3d.4d72"]]},{"id":"912abe3d.4d72","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":260,"wires":[["490a6a66.dac464"]]},{"id":"364f14c3.1e6a6c","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Livingroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":320,"wires":[[]]},{"id":"27e31901.e5dd66","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":320,"wires":[["db119d95.a01f7"],["db119d95.a01f7"]]},{"id":"db119d95.a01f7","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":320,"wires":[["364f14c3.1e6a6c"]]},{"id":"6c5f76f1.fc4388","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Entry Door opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":460,"wires":[[]]},{"id":"c27c1b94.e779c8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":460,"wires":[["14518375.d120dd"],["14518375.d120dd"]]},{"id":"14518375.d120dd","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":460,"wires":[["6c5f76f1.fc4388"]]},{"id":"8d073cb6.c8974","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Entry Door opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":520,"wires":[[]]},{"id":"9c8e700c.14781","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":520,"wires":[["f0c311c2.a3e82"],["f0c311c2.a3e82"]]},{"id":"f0c311c2.a3e82","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":520,"wires":[["8d073cb6.c8974"]]},{"id":"413b8a68.ce3134","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Pantry Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":660,"wires":[[]]},{"id":"6b3ff18f.33d77","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":660,"wires":[["68f8d286.90801c"],["68f8d286.90801c"]]},{"id":"68f8d286.90801c","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":660,"wires":[["413b8a68.ce3134"]]},{"id":"ecf4b3de.7a2da","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Pantry Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":720,"wires":[[]]},{"id":"777441e7.7950c","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":720,"wires":[["3b3bd31.6251e2c"],["3b3bd31.6251e2c"]]},{"id":"3b3bd31.6251e2c","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":720,"wires":[["ecf4b3de.7a2da"]]},{"id":"fa6d9e07.a447b","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Kitchen1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":860,"wires":[[]]},{"id":"ccce8bf2.8f55d8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":860,"wires":[["6155b2b0.8c22bc"],["6155b2b0.8c22bc"]]},{"id":"6155b2b0.8c22bc","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":860,"wires":[["fa6d9e07.a447b"]]},{"id":"4ee415c7.b0107c","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Kitchen1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":920,"wires":[[]]},{"id":"57a71cf0.d5b184","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":920,"wires":[["4e7190af.16b8c"],["4e7190af.16b8c"]]},{"id":"4e7190af.16b8c","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":920,"wires":[["4ee415c7.b0107c"]]},{"id":"30461c88.5cb5e4","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Kitchen2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1060,"wires":[[]]},{"id":"c5b2b8bf.94f578","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1060,"wires":[["72551f0f.d12ed"],["72551f0f.d12ed"]]},{"id":"72551f0f.d12ed","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1060,"wires":[["30461c88.5cb5e4"]]},{"id":"77521d81.f47194","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Kitchen2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1120,"wires":[[]]},{"id":"cbf1e79e.21dd28","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1120,"wires":[["26644136.69664e"],["26644136.69664e"]]},{"id":"26644136.69664e","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1120,"wires":[["77521d81.f47194"]]},{"id":"c6fab79f.085d68","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Bedroom1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1260,"wires":[[]]},{"id":"c0b80d49.071bb","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1260,"wires":[["27688c43.2d0274"],["27688c43.2d0274"]]},{"id":"27688c43.2d0274","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1260,"wires":[["c6fab79f.085d68"]]},{"id":"1f005cd.3ffe3a3","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Bedroom1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1320,"wires":[[]]},{"id":"efde851.bbe7378","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1320,"wires":[["6401d4d6.b47bbc"],["6401d4d6.b47bbc"]]},{"id":"6401d4d6.b47bbc","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1320,"wires":[["1f005cd.3ffe3a3"]]},{"id":"474f9409.dc62fc","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Bedroom2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1460,"wires":[[]]},{"id":"74f95807.ef5788","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1460,"wires":[["ca4afdf4.2e057"],["ca4afdf4.2e057"]]},{"id":"ca4afdf4.2e057","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1460,"wires":[["474f9409.dc62fc"]]},{"id":"f4b20294.0f3e1","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Bedroom2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1520,"wires":[[]]},{"id":"c800b9ee.28b2d8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1520,"wires":[["9f521748.221288"],["9f521748.221288"]]},{"id":"9f521748.221288","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1520,"wires":[["f4b20294.0f3e1"]]},{"id":"b4bb297e.7162a8","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Office Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1660,"wires":[[]]},{"id":"a6eaf07.5f2c21","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1660,"wires":[["11b0b80.9c89c48"],["11b0b80.9c89c48"]]},{"id":"11b0b80.9c89c48","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1660,"wires":[["b4bb297e.7162a8"]]},{"id":"b180af76.389cb","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Office Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1720,"wires":[[]]},{"id":"6393efa6.ac93a","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1720,"wires":[["25cbf9f0.8bd456"],["25cbf9f0.8bd456"]]},{"id":"25cbf9f0.8bd456","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1720,"wires":[["b180af76.389cb"]]},{"id":"5aec07f8.a2f478","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Guestroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1860,"wires":[[]]},{"id":"593972bc.b5760c","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1860,"wires":[["51c550a4.ce82d"],["51c550a4.ce82d"]]},{"id":"51c550a4.ce82d","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1860,"wires":[["5aec07f8.a2f478"]]},{"id":"9930a323.ffda","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Guestroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1920,"wires":[[]]},{"id":"d1fad432.4c8cf8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1920,"wires":[["edea1f4a.52adf"],["edea1f4a.52adf"]]},{"id":"edea1f4a.52adf","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1920,"wires":[["9930a323.ffda"]]},{"id":"a1f09bfa.f07328","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - M","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_majko_pc_2","data":"{\"message\":\"Techroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":2060,"wires":[[]]},{"id":"f54a039d.275b6","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - M","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":2060,"wires":[["36bed0c4.d206b"],["36bed0c4.d206b"]]},{"id":"36bed0c4.d206b","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":2060,"wires":[["a1f09bfa.f07328"]]},{"id":"7dc2b37c.ee40ec","type":"api-call-service","z":"1c2d2f43.2840a1","name":"Notification PC - B","server":"5723580.cc4d6a8","service_domain":"notify","service":"html5_baska_pc","data":"{\"message\":\"Techroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":2120,"wires":[[]]},{"id":"de4c752a.8219e8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"PC - B","server":"5723580.cc4d6a8","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":2120,"wires":[["883b4257.e370a"],["883b4257.e370a"]]},{"id":"883b4257.e370a","type":"traffic","z":"1c2d2f43.2840a1","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":2120,"wires":[["7dc2b37c.ee40ec"]]},{"id":"67d0f250.88ad4c","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Living","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":480,"wires":[["271b08f3.c96518"],[]]},{"id":"ddb9ffbf.e1ca2","type":"server-state-changed","z":"6ecd581b.f1bf68","name":"Entry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":540,"wires":[["c415fd1b.e5bfd"],[]]},{"id":"12101db5.571932","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bath","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":120,"wires":[["4d5cdb18.e61354"],[]]},{"id":"e9476f3b.836a1","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Living","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":320,"wires":[["22fc8d54.a624a2"],[]]},{"id":"69667db7.155a24","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Entry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":520,"wires":[["e21fb4bc.2eb6e8"],[]]},{"id":"8ae6435a.7961a","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Pantry","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":720,"wires":[["f408717d.66af7"],[]]},{"id":"5d5b477e.58b598","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen1","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":920,"wires":[["8c9a9e43.f0cbc"],[]]},{"id":"ea3b5dd4.8bdff","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Kitchen2","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":1120,"wires":[["503b5688.1fa7f8"],[]]},{"id":"5cdd6f.793b629","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bed1","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1320,"wires":[["9bc74fea.cefcc"],[]]},{"id":"324cdd3.834be22","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Bed2","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1520,"wires":[["6b6410fd.75e1e"],[]]},{"id":"965cb7e8.438bb8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Office","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1720,"wires":[["6b7f1868.7e45b8"],[]]},{"id":"77d5670e.c25358","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Guest","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1920,"wires":[["bd63618b.950d2"],[]]},{"id":"a00714d0.e0e7b8","type":"server-state-changed","z":"1c2d2f43.2840a1","name":"Tech","server":"5723580.cc4d6a8","version":1,"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":2120,"wires":[["85a780f7.68f7d"],[]]}]