Windows.json
[{"id":"49e1246.1c4bfdc","type":"tab","label":"Opened Windows","disabled":false,"info":""},{"id":"8f664e43.a8416","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Bathroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":60,"wires":[[]]},{"id":"5d87a646.4315f8","type":"comment","z":"49e1246.1c4bfdc","name":"5 Minutes Winter Alert","info":"","x":120,"y":20,"wires":[]},{"id":"28d03f50.4b5f8","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":120,"wires":[["b36f8472.f5b348"],[]]},{"id":"50f0baa0.b09884","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":320,"wires":[["ec24171b.7625c8"],[]]},{"id":"fe71fdd4.6ea56","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":320,"wires":[["50f0baa0.b09884"],[]]},{"id":"91c9627e.ff1b8","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":520,"wires":[["7a4eb64a.8fc6b8"],[]]},{"id":"db08e969.857988","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":520,"wires":[["91c9627e.ff1b8"],[]]},{"id":"6723105c.5e592","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":720,"wires":[["b887cc5e.21c47"],[]]},{"id":"61d1b5bc.92534c","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":720,"wires":[["6723105c.5e592"],[]]},{"id":"70bd1ced.2eb7b4","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":920,"wires":[["4b0b5914.397938"],[]]},{"id":"f7d3d5cd.871488","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":920,"wires":[["70bd1ced.2eb7b4"],[]]},{"id":"cae7549b.48d508","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1120,"wires":[["465dc56c.5bf61c"],[]]},{"id":"58b320cb.b6cb4","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1120,"wires":[["cae7549b.48d508"],[]]},{"id":"2fcfe37c.07ec3c","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1320,"wires":[["bad2796f.4ef4d8"],[]]},{"id":"65b5a426.2d029c","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1320,"wires":[["2fcfe37c.07ec3c"],[]]},{"id":"71eb8a77.b1e484","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1520,"wires":[["cd195c63.6022b"],[]]},{"id":"ae083974.fe31e8","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1520,"wires":[["71eb8a77.b1e484"],[]]},{"id":"947e5897.a68a38","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1720,"wires":[["50a43e4f.8d9ce"],[]]},{"id":"d6d351d9.7386f","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1720,"wires":[["947e5897.a68a38"],[]]},{"id":"56b16028.e1dea","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":1920,"wires":[["ae06ac67.c8fa5"],[]]},{"id":"44170d89.a6e1a4","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1920,"wires":[["56b16028.e1dea"],[]]},{"id":"cbd389b3.200718","type":"stoptimer","z":"49e1246.1c4bfdc","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":2120,"wires":[["f0b68c1c.380c"],[]]},{"id":"35a79975.910d96","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":2120,"wires":[["cbd389b3.200718"],[]]},{"id":"58c1d74e.12af98","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Office","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1660,"wires":[["d2fa877f.670538"],["d2fa877f.670538"]]},{"id":"d2fa877f.670538","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1720,"wires":[["b78b375b.a687a8","4cd3e638.637888","a88554d9.01a358","393fab0c.8386b4"]]},{"id":"b36f8472.f5b348","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":120,"wires":[["d69a7080.29464"]]},{"id":"ec24171b.7625c8","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":320,"wires":[["292ceccd.0d5e54"]]},{"id":"7a4eb64a.8fc6b8","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":520,"wires":[["b047894b.cc0548"]]},{"id":"b887cc5e.21c47","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":720,"wires":[["bbf974ef.e80f18"]]},{"id":"4b0b5914.397938","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":920,"wires":[["43990108.c1158"]]},{"id":"465dc56c.5bf61c","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1120,"wires":[["1301fb1b.a6df95"]]},{"id":"bad2796f.4ef4d8","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1320,"wires":[["4e5f5160.6e923"]]},{"id":"cd195c63.6022b","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1520,"wires":[["d7a456e6.f46a38"]]},{"id":"50a43e4f.8d9ce","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1720,"wires":[["d2fa877f.670538"]]},{"id":"ae06ac67.c8fa5","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":1920,"wires":[["d716b636.371668"]]},{"id":"f0b68c1c.380c","type":"trigger","z":"49e1246.1c4bfdc","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":540,"y":2120,"wires":[["ca2e869c.274e48"]]},{"id":"19d3788f.ad1ba7","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bath","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":60,"wires":[["d69a7080.29464"],["d69a7080.29464"]]},{"id":"d69a7080.29464","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":120,"wires":[["f152f1bc.95e8c","31310d7a.5c4842","94e7e8fa.ea0dc8","145df57b.60f74b"]]},{"id":"99adfeae.2f759","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Living","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":260,"wires":[["292ceccd.0d5e54"],["292ceccd.0d5e54"]]},{"id":"292ceccd.0d5e54","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":320,"wires":[["9e01fd24.3ccbb","34a12066.3127d","b3a18b56.f33848","9df74fd8.f9054"]]},{"id":"3cd54919.6b3116","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Entry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":460,"wires":[["b047894b.cc0548"],["b047894b.cc0548"]]},{"id":"b047894b.cc0548","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":520,"wires":[["3722ca62.8b5936","35e7e42b.e41ebc","11a98551.57b22b","b427b311.7424f"]]},{"id":"7c6c9fe2.7fc7","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Pantry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":660,"wires":[["bbf974ef.e80f18"],["bbf974ef.e80f18"]]},{"id":"bbf974ef.e80f18","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":720,"wires":[["bad53d43.82087","41c9afc1.ade7b","de204a7f.c39c48","cf63c855.77aea8"]]},{"id":"7c624178.7330f","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":740,"y":860,"wires":[["43990108.c1158"],["43990108.c1158"]]},{"id":"43990108.c1158","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":920,"wires":[["bd16caef.784878","61a3589f.31be28","fd5b9178.7a747","e16fd811.e3c238"]]},{"id":"ddc445c4.a07058","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":740,"y":1060,"wires":[["1301fb1b.a6df95"],["1301fb1b.a6df95"]]},{"id":"1301fb1b.a6df95","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1120,"wires":[["a65d94fe.dea048","c01d7f2c.a91e9","88cfb0ae.c88da","5925302e.09226"]]},{"id":"f280a278.9876e","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1260,"wires":[["4e5f5160.6e923"],["4e5f5160.6e923"]]},{"id":"4e5f5160.6e923","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1320,"wires":[["6cd194dd.bc8ffc","eef78036.05b4a","6c74a9a6.9c3198","455cd70d.7d3038"]]},{"id":"ea9d52ac.9b629","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1460,"wires":[["d7a456e6.f46a38"],["d7a456e6.f46a38"]]},{"id":"d7a456e6.f46a38","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1520,"wires":[["b5ce1246.ebb0d","b8de4a38.bd0308","5e235fdb.96996","5ec24259.83d6fc"]]},{"id":"1bb5904d.fd5fc","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Guest","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":1860,"wires":[["d716b636.371668"],["d716b636.371668"]]},{"id":"d716b636.371668","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":1920,"wires":[["2115d109.2a232e","e8370ec7.6ce55","573e5465.e50fbc","9899640d.9c32f8"]]},{"id":"50c0cd39.765974","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Tech","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":730,"y":2060,"wires":[["ca2e869c.274e48"],["ca2e869c.274e48"]]},{"id":"ca2e869c.274e48","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":750,"y":2120,"wires":[["3b31e23e.d997be","bf3ce575.9a5868","afaffd87.7b258","85f5a83c.5508c8"]]},{"id":"4de098ee.3e5d78","type":"switch","z":"49e1246.1c4bfdc","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":120,"wires":[["28d03f50.4b5f8"],[]]},{"id":"f152f1bc.95e8c","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_bath_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":180,"wires":[[]]},{"id":"9e01fd24.3ccbb","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_liv_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":380,"wires":[[]]},{"id":"3b31e23e.d997be","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_tec_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":2180,"wires":[[]]},{"id":"2115d109.2a232e","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_gue_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1980,"wires":[[]]},{"id":"b78b375b.a687a8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_off_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1780,"wires":[[]]},{"id":"b5ce1246.ebb0d","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be2_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1580,"wires":[[]]},{"id":"6cd194dd.bc8ffc","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be1_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1380,"wires":[[]]},{"id":"a65d94fe.dea048","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki2_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1180,"wires":[[]]},{"id":"bd16caef.784878","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki1_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":980,"wires":[[]]},{"id":"bad53d43.82087","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_pan_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":780,"wires":[[]]},{"id":"3722ca62.8b5936","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Majko","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ent_w_majkeey","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":580,"wires":[[]]},{"id":"31310d7a.5c4842","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_bath_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":180,"wires":[[]]},{"id":"34a12066.3127d","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_liv_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":380,"wires":[[]]},{"id":"bf3ce575.9a5868","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_tec_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":2180,"wires":[[]]},{"id":"e8370ec7.6ce55","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_gue_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1980,"wires":[[]]},{"id":"4cd3e638.637888","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_off_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1780,"wires":[[]]},{"id":"b8de4a38.bd0308","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be2_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1580,"wires":[[]]},{"id":"eef78036.05b4a","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_be1_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1380,"wires":[[]]},{"id":"c01d7f2c.a91e9","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki2_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":1180,"wires":[[]]},{"id":"61a3589f.31be28","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ki1_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":980,"wires":[[]]},{"id":"41c9afc1.ade7b","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_pan_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":780,"wires":[[]]},{"id":"35e7e42b.e41ebc","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification Baska","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"rest_command","service":"autoremote_ent_w_baska","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1230,"y":580,"wires":[[]]},{"id":"6311ac78.02dd44","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":60,"wires":[["94e7e8fa.ea0dc8"],["94e7e8fa.ea0dc8"]]},{"id":"94e7e8fa.ea0dc8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":60,"wires":[["8f664e43.a8416"]]},{"id":"655e1b25.eaeac4","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Bathroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":120,"wires":[[]]},{"id":"cc39107b.34fdb","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":120,"wires":[["145df57b.60f74b"],["145df57b.60f74b"]]},{"id":"145df57b.60f74b","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":120,"wires":[["655e1b25.eaeac4"]]},{"id":"32bc8bd6.7d4934","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Livingroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":260,"wires":[[]]},{"id":"2a4e601a.33cd3","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":260,"wires":[["b3a18b56.f33848"],["b3a18b56.f33848"]]},{"id":"b3a18b56.f33848","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":260,"wires":[["32bc8bd6.7d4934"]]},{"id":"ef1c12ed.f84ee","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Livingroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":320,"wires":[[]]},{"id":"9ea01b84.9cb898","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":320,"wires":[["9df74fd8.f9054"],["9df74fd8.f9054"]]},{"id":"9df74fd8.f9054","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":320,"wires":[["ef1c12ed.f84ee"]]},{"id":"10fe9a28.42a146","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Entry Door opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":460,"wires":[[]]},{"id":"a963ee49.2b967","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":460,"wires":[["11a98551.57b22b"],["11a98551.57b22b"]]},{"id":"11a98551.57b22b","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":460,"wires":[["10fe9a28.42a146"]]},{"id":"1ec7894c.fcb4d7","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Entry Door opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":520,"wires":[[]]},{"id":"2274025b.119fde","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":520,"wires":[["b427b311.7424f"],["b427b311.7424f"]]},{"id":"b427b311.7424f","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":520,"wires":[["1ec7894c.fcb4d7"]]},{"id":"adf6f077.9c1d8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Pantry Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":660,"wires":[[]]},{"id":"4c0614ac.62affc","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":660,"wires":[["de204a7f.c39c48"],["de204a7f.c39c48"]]},{"id":"de204a7f.c39c48","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":660,"wires":[["adf6f077.9c1d8"]]},{"id":"7f0a67da.d9d5e8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Pantry Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":720,"wires":[[]]},{"id":"9aca5478.258858","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":720,"wires":[["cf63c855.77aea8"],["cf63c855.77aea8"]]},{"id":"cf63c855.77aea8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":720,"wires":[["7f0a67da.d9d5e8"]]},{"id":"31e1dec9.5eee32","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Kitchen1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":860,"wires":[[]]},{"id":"7081871c.975c08","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":860,"wires":[["fd5b9178.7a747"],["fd5b9178.7a747"]]},{"id":"fd5b9178.7a747","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":860,"wires":[["31e1dec9.5eee32"]]},{"id":"66bc49d7.657678","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Kitchen1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":920,"wires":[[]]},{"id":"8f317c2a.1ea15","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":920,"wires":[["e16fd811.e3c238"],["e16fd811.e3c238"]]},{"id":"e16fd811.e3c238","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":920,"wires":[["66bc49d7.657678"]]},{"id":"a4f25395.b48f2","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Kitchen2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1060,"wires":[[]]},{"id":"7b15227d.96010c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1060,"wires":[["88cfb0ae.c88da"],["88cfb0ae.c88da"]]},{"id":"88cfb0ae.c88da","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1060,"wires":[["a4f25395.b48f2"]]},{"id":"2d62ffbe.42c64","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Kitchen2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1120,"wires":[[]]},{"id":"62f6cb8f.54b5b4","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1120,"wires":[["5925302e.09226"],["5925302e.09226"]]},{"id":"5925302e.09226","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1120,"wires":[["2d62ffbe.42c64"]]},{"id":"5ceba2cf.139d7c","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Bedroom1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1260,"wires":[[]]},{"id":"e39b07cc.c794a8","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1260,"wires":[["6c74a9a6.9c3198"],["6c74a9a6.9c3198"]]},{"id":"6c74a9a6.9c3198","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1260,"wires":[["5ceba2cf.139d7c"]]},{"id":"622799dc.2eb918","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Bedroom1 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1320,"wires":[[]]},{"id":"1826f42d.d35fcc","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1320,"wires":[["455cd70d.7d3038"],["455cd70d.7d3038"]]},{"id":"455cd70d.7d3038","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1320,"wires":[["622799dc.2eb918"]]},{"id":"ec02e7ee.df35d8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Bedroom2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1460,"wires":[[]]},{"id":"5f5bbfec.ac5b7","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1460,"wires":[["5e235fdb.96996"],["5e235fdb.96996"]]},{"id":"5e235fdb.96996","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1460,"wires":[["ec02e7ee.df35d8"]]},{"id":"ee0f69df.010318","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Bedroom2 Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1520,"wires":[[]]},{"id":"9cbc5e59.83a48","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1520,"wires":[["5ec24259.83d6fc"],["5ec24259.83d6fc"]]},{"id":"5ec24259.83d6fc","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1520,"wires":[["ee0f69df.010318"]]},{"id":"324cc3e1.3330cc","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Office Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1660,"wires":[[]]},{"id":"f69ce134.2e10a","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1660,"wires":[["a88554d9.01a358"],["a88554d9.01a358"]]},{"id":"a88554d9.01a358","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1660,"wires":[["324cc3e1.3330cc"]]},{"id":"75f74058.67bdf","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Office Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1720,"wires":[[]]},{"id":"c916d629.004128","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1720,"wires":[["393fab0c.8386b4"],["393fab0c.8386b4"]]},{"id":"393fab0c.8386b4","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1720,"wires":[["75f74058.67bdf"]]},{"id":"71a87103.914","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Guestroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1860,"wires":[[]]},{"id":"140830ba.2b958f","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1860,"wires":[["573e5465.e50fbc"],["573e5465.e50fbc"]]},{"id":"573e5465.e50fbc","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1860,"wires":[["71a87103.914"]]},{"id":"7d8328a.d5177d8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Guestroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":1920,"wires":[[]]},{"id":"99db7f92.e0869","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":1920,"wires":[["9899640d.9c32f8"],["9899640d.9c32f8"]]},{"id":"9899640d.9c32f8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":1920,"wires":[["7d8328a.d5177d8"]]},{"id":"5f9ba6be.53df98","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - M","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_marianpc","entityId":"","data":"{\"message\":\"Techroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":2060,"wires":[[]]},{"id":"33a107ea.13ac88","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - M","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_majkeey","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":2060,"wires":[["afaffd87.7b258"],["afaffd87.7b258"]]},{"id":"afaffd87.7b258","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":2060,"wires":[["5f9ba6be.53df98"]]},{"id":"381f1748.eb26f8","type":"api-call-service","z":"49e1246.1c4bfdc","name":"Notification PC - B","server":"38986ee9.3f9642","version":"1","debugenabled":false,"service_domain":"notify","service":"html5_baskapc","entityId":"","data":"{\"message\":\"Techroom Window opened for 20 minutes now.\",\"title\":\"CLOSE WINDOW / DOOR\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1290,"y":2120,"wires":[[]]},{"id":"a0078c6f.ce535","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"PC - B","server":"38986ee9.3f9642","version":1,"entityidfilter":"switch.pc_baska","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":970,"y":2120,"wires":[["85f5a83c.5508c8"],["85f5a83c.5508c8"]]},{"id":"85f5a83c.5508c8","type":"traffic","z":"49e1246.1c4bfdc","name":"","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1110,"y":2120,"wires":[["381f1748.eb26f8"]]},{"id":"5d1172f2.69777c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bath","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bathroom","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":120,"wires":[["4de098ee.3e5d78"],[]]},{"id":"e2e20874.2a9ba8","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Living","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_livingroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":320,"wires":[["fe71fdd4.6ea56"],[]]},{"id":"55f48fd4.b9609","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Entry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_entry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":520,"wires":[["db08e969.857988"],[]]},{"id":"b28c560b.828808","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Pantry","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_pantry","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":720,"wires":[["61d1b5bc.92534c"],[]]},{"id":"b46d3d9.71ac4c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":920,"wires":[["f7d3d5cd.871488"],[]]},{"id":"51e43dd1.0be584","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Kitchen2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_kitchen2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":1120,"wires":[["58b320cb.b6cb4"],[]]},{"id":"3f854acb.0f8db6","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed1","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1320,"wires":[["65b5a426.2d029c"],[]]},{"id":"cbf0cd4b.572a","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Bed2","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_bedroom2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1520,"wires":[["ae083974.fe31e8"],[]]},{"id":"bd2c4292.f651f","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Office","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_office","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1720,"wires":[["d6d351d9.7386f"],[]]},{"id":"3946a89f.faf158","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Guest","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_guestroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1920,"wires":[["44170d89.a6e1a4"],[]]},{"id":"48b2139a.68c53c","type":"server-state-changed","z":"49e1246.1c4bfdc","name":"Tech","server":"38986ee9.3f9642","version":1,"entityidfilter":"binary_sensor.door_window_sensor_techroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":2120,"wires":[["35a79975.910d96"],[]]},{"id":"38986ee9.3f9642","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]